<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>问答-工商会计中心-${sysCompanyResult.values.companyAbb!}</title>
<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
<link rel="stylesheet" href="${ctxPath}/css/question/main.css" />
<link rel="stylesheet" href="${ctxPath}/css/question/problem.css" />
</script>
</head>
<body class="bgc-gray ask-page">

   <!--头部导航-->
  <%includeFileTemplate("/html/nav_temp.html"){ %><%}%> 
	<script type="text/javascript">
	  $(function(){
		  $('.quit').attr({"href":"${ctxPath}/cus/loginOut.html?quiturl=/ask/yhzx-kj-${userinfo.id!}-${index!}.html"});
		  
	  });
    </script>
	<ol class="breadcrumb">
		<img src="${ctxPath}/images/img/home.png" class="middle mr10"/><a href="${ctxPath!}/">首页</a><span>></span>
		<a href="${ctxPath}/ask/">问答库</a><span>></span><span>${userinfo.userName!}个人中心</span>
	</ol>

	<div class="user-center clearfix">
		<div class="left">
			<input type="hidden" name="index" id="index" value="${index!}"/>
			<input type="hidden" name="userid" id="userid" value="${userinfo.id!}"/>
			<ul class="user-nav">
				<li><a href="${ctxPath}/ask/kjzx/${userinfo.id!}/0.html" <%if(!isEmpty(index) && index == 0){%>class="current"<%}%>>TA的首页</a></li>
				<li><a href="${ctxPath}/ask/kjzx/${userinfo.id!}/2.html" <%if(!isEmpty(index) && index == 2){%>class="current"<%}%>>TA的回答</a></li>
			</ul>

			<div>
				<form class="quiz-to-people-form form-inline" id="askQuestionToUserForm">
					<input class="form-control" name="toUserContent" id = "toUserContent" type="text" style="height: 22px;"
						placeholder="输入问题">
					<input type="hidden" name="userid" id="userid" value="${userinfo.id!}"/>
					<button class="btn btn-success" type="button" onclick="askQuestionToUser()">向TA提问</button>
				</form>
				<p class="info-Introduction">简介：<%if(isEmpty(userinfo.personalProfile)){%>暂时没有简介</p><%}else{%>${userinfo.personalProfile!}</p><%}%>
				<!-- <p class="info-login-time">上次登录时间： 2009-13-32 00:00:00</p> -->
			</div>

			<h2>
				<%if(!isEmpty(index) && index == 0){%>
					TA的最新动态
				<%}else if(!isEmpty(index) && index == 1){%>
					TA的提问
				<%}else if(!isEmpty(index) && index == 2){%>
					TA的回答<%if(!isEmpty(solveTotal)){%>(${solveTotal!})<%}%>
				<%}%>
			</h2>
			<%if(!isEmpty(index) && index == 0){%>
				<!-- TA的最新动态  开始-->
				<ul class="user-space" style="float: left">
				<%if(!isEmpty(askRecommendAccountList) && !isEmpty(askRecommendAccountList.rows)){for(item in askRecommendAccountList.rows){%>
						<li>
							<p class="type">
								TA 回答了该问题 <span>${item.createdateFmt!}</span>
							</p> 
							<a href="${ctxPath}/ask/${item.question.id}.html">
								<%if(!isEmpty(item.question.majorQuestion) && strutil.length(item.question.majorQuestion) > 70){%>
									${strutil.subStringTo (item.question.majorQuestion,0,70)}...
								<%}else{%>
									${item.question.majorQuestion!}
								<%}%>
							</a>
							<p class="info">
								<span>${item.wthdNumber!}个回答</span>| <span>${item.question.readNumber!}次浏览</span>
							</p>
						</li>
					<%}}%>
				</ul>
				<!-- TA的最新动态  结束-->
			<%}else if(!isEmpty(index) && index == 1){%>
				<!-- TA的最新动态  开始-->
				<ul class="user-space">
				<%if(!isEmpty(askRecommendAccountList)){for(item in askRecommendAccountList){%>
						<li>
							<p class="type">
								TA 回答了该问题 <span>${item.formatCreateDate!}</span>
							</p> 
							<a href="${ctxPath}/ask/${item.question.id!}.html">
								<%if(!isEmpty(item.question.majorQuestion) && strutil.length(item.question.majorQuestion) > 70){%>
									${strutil.subStringTo (item.question.majorQuestion,0,70)}...
								<%}else{%>
									${item.question.majorQuestion!}
								<%}%>
							</a>
							<p class="info">
								<span>${item.wthdNumber!}个回答</span>| <span>${item.question.readNumber!}次浏览</span>
							</p>
						</li>
					<%}}%>
				</ul>
				<!-- 分页 -->
				<%if(!isEmpty(askRecommendAccountList)){%>
				<div class="paging solvePageCode" style="text-align: center;">
				</div>
				<%}%>
				<input type="hidden" id="solveTotalPages" name="solveTotalPages" value="${solveTotalPages!}"/>
				<input type="hidden" id="currentPage" name="currentPage" value="${currentPage!}"/>
				<!-- TA的最新动态  结束-->
			<%}else if(!isEmpty(index) && index == 2){%>
				<!-- TA的最新动态  开始-->
				<ul class="user-space">
				<%if(!isEmpty(askRecommendAccountList) && !isEmpty(askRecommendAccountList.rows)){for(item in askRecommendAccountList.rows){%>
						<li>
							<p class="type">
								TA 回答了该问题 <span>${item.formatCreateDate!}</span>
							</p> 
							<a href="${ctxPath}/ask/${item.question.id}.html">
								<%if(!isEmpty(item.question.majorQuestion) && strutil.length(item.question.majorQuestion) > 70){%>
									${strutil.subStringTo (item.question.majorQuestion,0,70)}...
								<%}else{%>
									${item.question.majorQuestion!}
								<%}%>
							</a>
							<p class="info">
								<span>${item.wthdNumber!}个回答</span>| <span>${item.question.readNumber!}次浏览</span>
							</p>
						</li>
					<%}}%>
				</ul>
				<!-- 分页 -->
				<%if(!isEmpty(askRecommendAccountList)){%>
				<div class="paging solvePageCode" style="text-align: center;">
				</div>
				<%}%>
				<input type="hidden" id="solveTotalPages" name="solveTotalPages" value="${askRecommendAccountList.total!}"/>
				<input type="hidden" id="currentPage" name="currentPage" value="${askRecommendAccountList.page!}"/>
				<!-- TA的最新动态  结束-->
			<%}%>
			
		</div>

		<div class="people">
			<div class="info clearfix">
				<%if(!isEmpty(userinfo) && !isEmpty(userinfo.attachment) && !isEmpty(userinfo.attachment.fillFilePath) ){%>
					<div class="user-img-box"
						style="background-image: url('${userinfo.attachment.fillFilePath!}')"></div>
				<%}else{%>
					<div class="user-img-box"
						style="background-image: url('${ctxPath!}/images/img/infoImg.png')"></div>
				<%}%>
				<div class="right">
					<h2 style="padding-bottom: 5px;">${userinfo.userName!}</h2>
					<%if(!isEmpty(userinfo.type)){%>
						<p><span class="label label-info">
							<%if(userinfo.type == '0'){%>
								会计
							<%}else if(userinfo.type == '1'){%>
								工商
							<%}%>
						</span></p>
					<%}%>
				</div>
			</div>
			<ul>
				<li>
					<p>						
					<%if(!isEmpty(userinfo.answersNumber)){%>
						${userinfo.answersNumber!}
					<%}else{%>
						0
					<%}%>
					</p>
					<p>回答数</p>
				</li>
				<li>
					<p>
					<%if(!isEmpty(userinfo.adoptionNumber)){%>
						${userinfo.adoptionNumber!}
					<%}else{%>
						0
					<%}%>
					</p>
					<p>采纳数</p>
				</li>
				<li>
					<p>
					<%if(!isEmpty(userinfo.acceptAnswerL)){%>
						${userinfo.acceptAnswerL!} %
					<%}else{%>
						0%
					<%}%>
					</p>
					<p>采纳率</p>
				</li>
				<li>
					<p>
					<%if(!isEmpty(userinfo.wealth)){%>
						${userinfo.wealth!}
					<%}else{%>
						0
					<%}%>
					</p>
					<p>财富值</p>
				</li>
				<li>
					<p>
					<%if(!isEmpty(userinfo.helpNumber)){%>
						${userinfo.helpNumber!}
					<%}else{%>
						0
					<%}%>
					</p>
					<p>帮助人数</p>
				</li>
				<li>
					<p>
					<%if(!isEmpty(userinfo.praiseNumber)){%>
						${userinfo.praiseNumber!}
					<%}else{%>
						0
					<%}%>
					</p>
					<p>收到的赞</p>
				</li>
			</ul>
		</div>
	</div>
	<%includeFileTemplate("/html/footer_temp.html"){ %><%}%> 
	<script type="text/javascript" src="${ctxPath}/js/question/jquery.page.js" ></script>
	<script type="text/javascript" src="${ctxPath}/js/question/accountAskUserCenter.js"></script>
</body>
</html>
