<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>会计个人问答中心</title> 
<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
<link rel="stylesheet" href="${ctxPath}/css/question/main.css">
</head>
<body class="bgc-gray ask-page">
	<!--头部导航-->
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
	<ol class="breadcrumb">
		<img src="${ctxPath}/images/img/home.png" class="middle mr10"/><a href="${ctxPath}/">首页</a><span>></span>
		<a href="${ctxPath}/ask/">问答库</a><span>></span><span><%if(!isEmpty(accountAskUserInfo)){%>${accountAskUserInfo.userName!}<%}%>个人中心</span>
	</ol>

	<table class="accounting-info">
		<tr>
			<td rowspan="5" class="user-info">
				<%if(!isEmpty(accountAskUserInfo) && !isEmpty(accountAskUserInfo.attachment)){%>
					<div class="image-box" style="background-image: url('${accountAskUserInfo.attachment.fillFilePath!}')"></div>
				<%}else{%>
					<div class="image-box" style="background-image: url(http://www.duoyoumi.com/images/img/logo.png);"></div>
				<%}%>
				<p class="user-name">
					<%if(!isEmpty(accountAskUserInfo)){%>${accountAskUserInfo.userName!}<%}%>
					<a onclick="javascript:window.open('${ctxPath}/ask/addQuestion.html?cusid=${accountAskUserInfo.id!}');" class="btn btn-success">向TA提问</a>
				</p>
				<p class="tag" style="padding-top: 50px;">
					<span> <span class="glyphicon glyphicon-user"></span> 实名认证
					</span> <span> <span class="glyphicon glyphicon-book"></span> 行业经验
					</span> <span> <span class="glyphicon glyphicon-ok"></span> 专业验证
					</span>
				</p>
			</td>
			<td colspan="2" class="title">个人档案</td>
		</tr>
		<tr>
			<td>所属公司: <span style="padding-left:10px;">${sysCompanyResult.values.name!}</span>
			</td>
			<td>职业类型: <span style="padding-left:10px;">
			<%if(!isEmpty(accountAskUserInfo.type) && accountAskUserInfo.type == '0'){%>
				会计
			<%}else if(!isEmpty(accountAskUserInfo.type) && accountAskUserInfo.type == '1'){%>
				工商
			<%}%>
			</span>
			</td>
		</tr>
		<tr>
			<td>职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称: <span style="padding-left:10px;">${accountAskUserInfo.jobTitle!}</span>
			</td>
			<td>从业经验： <span>
			<%if(!isEmpty(accountAskUserInfo.employmentExperienceStr)){%>
				${accountAskUserInfo.employmentExperienceStr!}年从业经验
			<%}%>
			</span>
			</td>
		</tr>
		<tr>
			<td>所在城市： <span>
			${accountAskUserInfo.areaFullname!}
			</span>
			</td>
			<td>联系QQ： <span <span style="padding-left:8px;">
			${accountAskUserInfo.contactQq!}
			</span>
			</td>
		</tr>
		<tr>
			<td colspan="2">个人简介： <span>
			<%if(!isEmpty(accountAskUserInfo.personalProfile)){%>
				${accountAskUserInfo.personalProfile!}
			<%}else{%>
				<font color="#ccc">暂无个人简介信息！</font>
			<%}%>
			</span>
			</td>
		</tr>
	</table>

	<div class="user-center-kj">
		<h2>
			问答动态 <a href="${ctxPath}/ask/kjzx/${accountAskUserInfo.id!}/0.html" class="more-link">更多</a>
		</h2>
		<ul class="user-space" style="padding-top:20px;">
			<%if(!isEmpty(askRecommendAccountList) && !isEmpty(askRecommendAccountList.rows)){for(item in askRecommendAccountList.rows){%>
			<li>
				<p class="type">
					TA 回答了该问题 <span>发表于 ${item.formatCreateDate!}</span>
				</p> 
				<a href="${ctxPath}/ask/${item.question.id}.html">
					<%if(!isEmpty(item.question.majorQuestion) && strutil.length(item.question.majorQuestion) > 70){%>
						${strutil.subStringTo (item.question.majorQuestion,0,70)}...
					<%}else{%> 
						${item.question.majorQuestion!} 
					<%}%> 
				</a>
				<p class="info">
					<span>${item.wthdNumber!}个回答</span>| <span>${item.question.readNumber!}次浏览</span>
				</p>
			</li> 
			<%}}else{%>
			<li><font color="#ccc">暂无最新动态！</font></li>
			<%}%>
		</ul>
	</div>
	</div>
	<%includeFileTemplate("/html/footer_temp.html"){ %><%}%> 
</body>
</html>
