<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<%if(!isEmpty(seoAskInfo)){%>
	<title>${seoAskInfo.title!}</title>
	<meta name="keywords" content="${seoAskInfo.keywords!}" />
	<meta name="description" content="${seoAskInfo.description!}" />
<%}%>
<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
<link rel="stylesheet" href="${ctxPath}/css/question/main.css">
<script type="text/javascript" src="${ctxPath}/js/question/question.js"></script> 
<link rel="stylesheet" href="${ctxPath}/css/question/ui-dialog.css">
<script type="text/javascript" src="${ctxPath}/js/question/dialog-min.js"></script> 
<script type="text/javascript">
$(function() {
	$("#askindex").click(function(){
		window.location.href = dum.appName + "/ask/wtk/all/lhd.html";
	});
	
	$("#questiondex").click(function(){
		window.location.href = dum.appName + "/ask/addQuestion.html";
	});
});

//用户签到
function usersign(){
	var wealth = parseInt($('.reward-b').text())+5;
	dum.common.ajax({
		type : "post",
		url : "/cusTomerInfo/saveUserSign.api",
		dataType : "json",
		success : function(data) {
			if (data && data.executeStatus == '0') {
		    	var d = dialog({
		    	    content: '签到成功，成功获取5财富值！'
		    	});
		    	d.show();
		    	setTimeout(function () {
		    	    d.close().remove();
		    	}, 2000);
				$('.reward-b').text(wealth);
				$('#usersign').hide();
			}
		}
	});
}
</script>
<style type="text/css">
.logo-center ul li img {
    position: relative;
    top: 0px!important;
}
</style>
</head>
<body class="bgc-gray ask-page">
   <!--头部导航-->
  <%includeFileTemplate("/html/nav_temp.html"){ %><%}%> 
  <script type="text/javascript">
  $(function(){
	  $('.quit').attr({"href":"${ctxPath}/cus/loginOut.html?quiturl=/ask/"});
	  
  });
  </script>
	<!--正文内容-->
	<div class="model-top w_1200">
		<!-- banner -->
		<div id="carousel-example-generic" class="model-banner carousel slide"
			data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0"
					class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<%if(!isEmpty(showQuestion)){ for(item in showQuestion){
					if(!isEmpty(item.attachment)){
						if(itemLP.index == 1 ){%>
				<a href="${ctxPath}/ask/${item.id!}.html" class="item active" target="_blank"> <img
					src="${item.attachment.fillFilePath}"
					alt="${item.attachment.fileName!}">
					<div class="carousel-caption">${item.majorQuestion!}</div>
				</a>
				<%}else{%>
					<a href="${ctxPath}/ask/${item.id!}.html" class="item" target="_blank"> <img
					src="${item.attachment.fillFilePath}"
					alt="${item.attachment.fileName!}">
					<div class="carousel-caption">${item.majorQuestion!}</div>
				</a>
				<%}}}}%>
			</div>

			<!-- Controls -->
			 <a class="left carousel-control" href="#carousel-example-generic"
				role="button" data-slide="prev"> <span
				class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a> <a class="right carousel-control" href="#carousel-example-generic"
				role="button" data-slide="next"> <span
				class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<!-- banner end -->
		<div class="model-top-right">
			<%if(isEmpty(session) || isEmpty(session.user)){%>
			<div class="info" style="position: relative;">
				<h1>这里更专注企业问题的解答</h1>
				<p>
					今日已有 <br> <span> <%if(!isEmpty(tjojb)){%>
						${tjojb.todayHelpedCount!} <%}else{%> 0 <%}%> </span> <br> 位热心网友帮助了别人
				</p>
				<div class="number">
					已解决<span> <%if(!isEmpty(tjojb)){%> ${tjojb.solveCount!}
						<%}else{%> 0 <%}%> </span>个问题
				</div>
				<a href="${ctxPath}/customer/loginUI.html"><div style="width: 50px;height: 30px;background-color: #5bcef8;border-radius: 5px;position: absolute;top: 60px;right: 40px;color: white;text-align: center;line-height: 30px;">签到</div></a>
				
			</div>
			<div class="buttons">
				<button id="questiondex">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>我要提问
				</button>
				<button id="askindex">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>我来回答
				</button>
			</div>
			<%}else{%>
			<div class="info">
				<h1>这里更专注企业问题的解答</h1>
				<div class="clearfix user-info">
					<div class="fl">
						<%if(session!=null && session.user!=null && session.user.attachment!=null){%>
						<a class="img-box" href="${ctxPath}/ask/yhzx/${user.id!}/0.html" target="_blank" style="background-image: url(<%if(!isEmpty(user.attachment)) {%>${user.attachment.fillFilePath!}<%}%>);">
          				</a>
						<%}else{%>
						<a class="img-box" href="${ctxPath}/ask/yhzx/${user.id!}/0.html" target="_blank" style="background-image: url(${ctxPath}/images/img/infoImg.png);">
          				</a>
						<% }%>
					</div>
					<div class="fl">
            <div class="title" style="margin-top: 10px;">
            	<a href="${ctxPath}/ask/yhzx/${user.id!}/0.html"
            		target="_blank" title="${user.customerName!}">
            		<%if(!isEmpty(user.customerName) && strutil.length(user.customerName) > 5){%>
            			${strutil.subStringTo (user.customerName!,0,5)}...
            		<%}else{%>${user.customerName!}<%}%>
            	</a>
            	<span class="label label-success" style="cursor: pointer;">
            	<a onclick="javascript:window.open('${ctxPath}/ask/addQuestion.html');" style="color: #fff">我要提问</a></span>
            </div>
            <div class="reward">
            	<i class="ask-ico reward-ico"></i>
            	<span class="points">
            	<span class="answers-icon icon-points2"></span><b class="reward-b">${askUserVo.wealth!0}</b></span> 财富
            	<%if(!isEmpty(askUserVo) && !isEmpty(askUserVo.signCoun) && askUserVo.signCoun == 0){%>
            		<span class="label label-info" style="cursor: pointer;" id="usersign"><a onclick="usersign()" style="color: #fff">签到</a></span>
            	<%}%>
            </div>
					</div>
				</div>
        <ul class="user-data clearfix">
            <li><p class="num h" style="margin-bottom: 10px;">${askUserVo.adoptionRate!'0%'}</p><p class="h">采纳率</p></li>
            <li><p class="num h" style="margin-bottom: 10px;">${askUserVo.helpNumber!0}</p><p class="h">帮助人数</p></li>
            <li class="bn"><p class="num" style="margin-bottom: 10px;">${askUserVo.praiseNumber!0}</p><p>收到的赞</span></li>
        </ul>
			</div>
			<div class="buttons">
				<a id="questiondex" href="${ctxPath}/ask/yhzx/${user.id!}/1.html">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>我的提问
				</a>
				<a id="askindex" href="${ctxPath}/ask/yhzx/${user.id!}/2.html">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>我的回答
				</a>
			</div>
			<%}%>
		</div>
	</div>


	<div class="model-middle clearfix w_1200">
		<div class="model-middle-left">
			<!-- 最新问答 -->
			<div class="model-new-ask model">
				<h2>最新问答</h2>
				<ul>
					<%if(!isEmpty(newlist)){
						for(item in newlist){%>
							<li>
								<span class="label label-info">A</span> <span class="user">
								<%if(!isEmpty(item.name)){%> 
									${item.name}
								<%}else{%>匿名 <%}%>
								</span>
									<%if(!isEmpty(item.type) && item.type == '0'){%>
									提问
									<%}else if(!isEmpty(item.type) && item.type == '1'){%> 
									回答
									<%}%>
									 <a href="${ctxPath}/ask/${item.id}.html" class="ask">
									 	<%if(!isEmpty(item.majorQuestion)){%>
										 <%if(strutil.length(item.majorQuestion) > 70){%>
											${strutil.subStringTo (item.majorQuestion!,0,70)}...
										<%}else{%>
											${item.majorQuestion!}
										<%}}%>
									 </a>
							   <span class="time">${item.createdateFmt!}</span>
							</li> 
						<%}%> 
					<%}%>
				</ul>
			</div>
			<!-- 最新问答 end -->
			<!-- 已解决问题 -->
			<div class="model-new-ask model">
				<h2>
					已解决问题 <a href="${ctxPath}/ask/wtk/all/yjj.html" class="model-more btn btn-info">更多</a>
				</h2>
				<ul>
					<%if(!isEmpty(jiejuelist)){for(item in jiejuelist){%>
						<li> <span><%if(!isEmpty(item.price) && item.price > 0){%><span class="points"> <span
								class="answers-icon icon-points2"></span>${item.price!}<%}%></span>
						</span> 
							<a href="${ctxPath}/ask/${item.id}.html" class="ask">								
								<%if(!isEmpty(item.majorQuestion) && strutil.length(item.majorQuestion) > 70){%>
									${strutil.subStringTo (item.majorQuestion!,0,70)}...
								<%}else{%>
									${item.majorQuestion!}
								<%}%>
							</a> <span class="ask-type">[<a href="${ctxPath}/ask/wtk/${strutil.toLowerCase(item.typeCode)}/yjj.html">${item.typeName!}</a>]</span>
							<span class="time"> 
							<span class="answer-number">回答数：<%if(!isEmpty(item.qestionanswereCount)){%>${item.qestionanswereCount!}<%}else{%>0<%}%></span>
								| ${item.createdateFmt!}
						</span></li>
					<%}}%>
				</ul>
			</div>
			<!-- 已解决问题 end -->
			<!-- 待解决问题 -->
			<div class="model-new-ask model">
				<h2>
					待解决问题 <a href="${ctxPath}/ask/wtk/all/djj.html" class="model-more btn btn-info">更多</a>
				</h2>
				<ul>
					<%if(!isEmpty(djiejuelist)){for(item in djiejuelist){%>
						<li> <span><%if(!isEmpty(item.price) && item.price > 0){%><span class="points"> <span
								class="answers-icon icon-points2"></span>${item.price!}<%}%></span>
						</span> 
						<a href="${ctxPath}/ask/${item.id}.html" class="ask">
							<%if(!isEmpty(item.majorQuestion) && strutil.length(item.majorQuestion) > 70){%>
								${strutil.subStringTo (item.majorQuestion!,0,70)}...
							<%}else{%>
								${item.majorQuestion!}
							<%}%>
						</a> <span class="ask-type">[<a href="${ctxPath}/ask/wtk/${strutil.toLowerCase(item.typeCode)}/djj.html">${item.typeName}</a>]</span>
						<span class="time">
			                <span class="answer-number">回答数：<%if(!isEmpty(item.qestionanswereCount)){%>${item.qestionanswereCount!}<%}else{%>0<%}%></span>
			                | ${item.createdateFmt!}
			            </span></li>
					<%}}%>
				</ul>
			</div>
			<!-- 待解决问题 end -->
			<!-- 高分悬赏 -->
			<div class="model-height-points model">
				<h2>
					高分悬赏 <a href="${ctxPath}/ask/wtk/all/gxs.html" class="model-more btn btn-info">更多</a>
				</h2>
				<ul>
					<%if(!isEmpty(zgpricelist)){for(item in zgpricelist){%>
						<li> <span><%if(!isEmpty(item.price) && item.price > 0){%><span class="points"> <span
								class="answers-icon icon-points2"></span>${item.price!}<%}%></span>
						</span> 
						<a href="${ctxPath}/ask/${item.id}.html" class="ask">
							<%if(!isEmpty(item.majorQuestion) && strutil.length(item.majorQuestion) > 70){%>
								${strutil.subStringTo (item.majorQuestion!,0,70)}...
							<%}else{%>
								${item.majorQuestion!}
							<%}%>
						</a> <span class="ask-type">[<a href="${ctxPath}/ask/wtk/${strutil.toLowerCase(item.typeCode)}/gxs.html">${item.typeName!}</a>]</span>
							<span class="time"> 
								<span class="answer-number">回答数：<%if(!isEmpty(item.qestionanswereCount)){%>${item.qestionanswereCount!}<%}else{%>0<%}%></span>
								| ${item.createdateFmt!}
						</span></li>
					<%}}%>
				</ul>
			</div>
			<!-- 高分悬赏 end -->
		</div>
		<div class="model-middle-right">
			<!-- 财富排行榜 -->
			<div class="model model-points-top">
				<h2>财富排行榜</h2>
				<ul>
					<%if(!isEmpty(kjlist)){for(item in kjlist){%>
						<li>
						<span class="top-number <%if(itemLP.index < 4){%>highlight<%}else{%><%}%>">${itemLP.index}
						</span>
							<a href="${ctxPath}/ask/kjzx/${item.id}.html"><class="name">${item.userName!}</a>
						</span> 
						<span class="unit">财富</span> <span
						class="number">
						<%if(!isEmpty(item.wealth) && item.wealth > 0){%>${item.wealth!}<%}else{%>0<%}%>
						</span></li>
					<%}}%>
				</ul>
			</div>
			<!-- 财富排行榜 end -->

			<!-- 广告位 -->
			<div id="askad">
				
			</div>
			<!-- 广告位 end -->

			<!-- 知识库精选 -->
			<div class="model model-choice">
				<h2>
					知识库精选
					<button id="changeHotArticle">
						<span class="glyphicon glyphicon-refresh"></span> 换一批
					</button>
				</h2>
				<ul class="hotArticle_ul">
					<%if(!isEmpty(hotArticle) && !isEmpty(hotArticle.rows)){%>
						<%for(item in hotArticle.rows) {%>					
							<li>
								<a href="${ctxPath}/wz/${item.id}.html" target="_blank">
									<p>
										<%if(!isEmpty(item.attachment)){%>
											<img src="${item.attachment.fillFilePath!}" style="width:230px; height: 130px;"/>
										<%}else{%>
											<img src="" style="width:230px; height:130px;"/>
										<%}%>
									</p>
									<h5 class="mt5">${item.articleTitle!}</h5>
									<p class="loreDetail">
										<%if(!isEmpty(item.articleDesc) && strutil.length(item.articleDesc) > 35){%>
											${strutil.subStringTo (item.articleDesc!,0,35)}...
										<%}else{%>
											${item.articleDesc!}
										<%}%>
									</p>
								</a>
							</li>
						<%}%>
					<%}%>
				</ul>
				<input type="hidden" id="articleTotalPage" name="articleTotalPage" value="${articleTotalPage!}"/>
			    <input type="hidden" id="articleCurrentPage" name="articleCurrentPage" value="${articleCurrentPage!}"/>
			</div>
			<!-- 知识库精选 end -->


			<div class="model model-weixin-code">
				<p>关注${sysCompanyResult.values.companyAbb!}服务号进行一对一问答</p>
				<img src="${ctxPath}/images/img/ewm.png" alt="微信二维码">
			</div>

		</div>

	</div>
	<script type="text/javascript" src="${ctxPath}/js/question/vendor.js"></script> 
	<script type="text/javascript" src="${ctxPath}/js/question/plugins.js"></script> 
	<%includeFileTemplate("/html/footer_temp.html"){ %><%}%>
</body>
</html>
