<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>我的问答-${sysCompanyResult.values.companyAbb!}</title>
		<%includeFileTemplate("/html/dumAnswers/anwserCommon.html"){ %><%}%>
		<link rel="stylesheet" href="${ctxPath}/css/dumAnswers/problem.css" />
		<script type="text/javascript" src="${ctxPath}/js/dumAnswers/tab.js" ></script>
		<script type="text/javascript" src="${ctxPath}/js/dumAnswers/jquery.page.js" ></script>
		<script type="text/javascript" src="${ctxPath}/js/dumAnswers/myProblem.js" ></script>
	</head>
	<body class="ask-page">
		<!--头部-->
		<%includeFileTemplate("/html/dumAnswers/top.html"){ %><%}%>
		
		<div class="w_1160">
			<!--面包线-->
			<div class="breadLines mt20">
				<img src="${ctxPath}/images/img/home.png" class="middle mr10"/>
				<a href="${ctxPath}/">首页</a><span>></span>
				<a href="${ctxPath}/ask/">问答库</a><span>></span>
				<a href="${ctxPath}/ask/myProblem_0.html" class="lineTit">我的问答</a>
			</div>
			<div class="">
				<div class="problemLeft  fl">
					<input type="hidden" id="questionType" name="questionType" value="${questionType!}" />
					 <div class="tab1" id="tab1">
			            <div class="menu">
			                <ul>
			                    <li id="one1" onclick="setTab('one',1)" class="off">已解决</li>
			                    <li id="one2" onclick="setTab('one',2)">待解决</li>
			                    <li id="one3" onclick="setTab('one',3)">未通过</li>
			                </ul>
			            </div>
			            <div class="menudiv">
			            	<!--服务详情-->
			                <div id="con_one_1">
									<!--已解决-->
									<div class="stay">
										<table id="solvedTable" class="solvedTab" cellpadding="0" cellspacing="0">
											<tr>
												<th align="left" width="80%">我的问答</th>
												<th align="right" class="pr10">回答数</th>
											</tr>
											<%if(!isEmpty(solveList)){%>
												<%for(item in solveList){%>
													<tr class="solvedBack">
														<td align="left" class="pr">
															<div class="stayDiv color50">
																<p class="stayImg"><img src="${ctxPath}/images/dumAnswers/img/mwdImg4.png"</p>
																<a target="_blank" href="${ctxPath}/ask/${item.id}.html"><h4>${item.majorQuestion}</h4></a>
																	<%if(!isEmpty(item.additionalQuestion)){%>
																		<p class="color8f">${item.additionalQuestion}</p>
																	<%}else{%>
																		<p class="color8f">补充:无</p>
																	<%}%>
															</div>
														</td>
														<td align="right" class="middleBot pr10">
															<p class="color8468">已有${item.answers.~size}个回答</p>
														</td>
													</tr>
												<%}%>
											<%}else{%>
													<tr class="solvedBack">
														<td align="left" class="pr" colspan="3">
															<div class="stayDiv color50">
																<h4>暂时没有已解决问题!</h4>
															</div>
														</td>
													</tr>
											<%}%>
										</table>
									</div>	
									<!--分页-->
									<%if(!isEmpty(solveList)){%>
										<div class="paging solveListPage">
										</div>
									<%}%>
									<input type="hidden" id="solvePages" name="solvePages" value="${solvePages!}" />
							</div>
							<div id="con_one_2" class="none">
									<!--待解决-->
									<div class="stay">
										<table id="notSolveTable" class="solvedTab" cellpadding="0" cellspacing="0">
											<tr>
												<th align="left" width="80%">我的问答</th>
												<th align="right" class="pr10">回答数</th>
											</tr>
											<%if(!isEmpty(notSolveList)){%>
												<%for(item in notSolveList){%>
													<tr class="solvedBack">
														<td align="left" class="pr">
															<div class="stayDiv color50">
																<p class="stayImg">
																	<%if(item.questionStatus == "0"){%>
																		<img src="${ctxPath}/images/dumAnswers/img/mwdImg4.png" />
																	<%}else if(item.questionStatus == "1"){%>
																		<img src="${ctxPath}/images/dumAnswers/img/dshImg.png" />
																	<%}%>
																</p>
																<h4>${item.majorQuestion}</h4>
																	<%if(!isEmpty(item.additionalQuestion)){%>
																		<p class="color8f">${item.additionalQuestion}</p>
																	<%}else{%>
																		<p class="color8f">补充:无</p>
																	<%}%>
															</div>
														</td>
														<!-- <td align="center" class="middleBot"></td> -->
														<td align="right" class="middleBot pr10">
															<p class="color8468">已有${item.answers.~size}个回答</p>
														</td>
													</tr>
												<%}%>
											<%}else{%>
													<tr class="solvedBack">
														<td align="left" colspan="3" class="pr">
															<div class="stayDiv color50">
																<h4>暂时没有未解决问题!</h4>
															</div>
														</td>
													</tr>
											<%}%>
										</table>
									</div>	
									<!--分页-->
									<%if(!isEmpty(notSolveList)){%>
										<div class="paging notSolvePage">
										</div>
									<%}%>
									<input type="hidden" id="notSolvePages" name="notSolvePages" value="${notSolvePages!}" />
							</div>
							<div id="con_one_3" class="none">
									<!--未通过-->
									<div class="stay">
										<table id="invalidTable" class="solvedTab" cellpadding="0" cellspacing="0">
											<tr>
												<th align="left" width="80%">我的问答</th>
												<th align="right" class="pr10">回答数</th>
											</tr>
											<%if(!isEmpty(invalidList)){%>
												<%for(item in invalidList){%>
													<tr class="solvedBack">
														<td align="left" class="pr">
															<div class="stayDiv color50">
																<p class="stayImg"><img src="${ctxPath}/images/dumAnswers/img/mwdImg4.png"</p>
																<h4>${item.majorQuestion}</h4>
																	<%if(!isEmpty(item.additionalQuestion)){%>
																		<p class="color8f">${item.additionalQuestion}</p>
																	<%}else{%>
																		<p class="color8f">补充:无</p>
																	<%}%>
															</div>
														</td>
														<td align="right" class="middleBot pr10">
															<p class="color8468">已有${item.answers.~size}个回答</p>
														</td>
													</tr>
												<%}%>
											<%}else{%>
													<tr class="solvedBack">
														<td align="left" colspan="3" class="pr">
															<div class="stayDiv color50">
																<h4>暂时没有审核未通过的问题!</h4>
															</div>
														</td>
													</tr>
											<%}%>
										</table>
									</div>	
									<!--分页-->
									<%if(!isEmpty(invalidList)){%>
										<div class="paging invalidPage">
										</div>
									<%}%>
									<input type="hidden" id="invalidPages" name="invalidPages" value="${invalidPages!}" />
							</div>
						</div>
					</div>	
				</div>
				<div class="problemRight  fl">
					<%if(!isEmpty(session.cusSession)){%>
						<div class="quiz">
								<p class="fl">
									<%if(!isEmpty(session.cusSession.attachment)) {%>
										<img src="${session.cusSession.attachment.fillFilePath!}" class="middle portrait1" />
									<%}else{%>
										<img src="${ctxPath}/images/dumAnswers/img/portrait.png" class="middle portrait1" />
									<%}%>
								</p>
								<div class="fl ml10 mt10">
									<p>${session.cusSession.formatMobile}</p>
									<a href="${ctxPath}/ask/myProblem_0.html"><p class="mt5">我的提问：<span id="myAllQuestionCount">0个</span></p></a>
								</div>
								<div class="cb"></div>
								<div class="quizDiv">
									<a href="${ctxPath}/ask/myProblem_1.html" style="border-right: 1px solid #CCCCCC;">
										待解决<br />
										<span id="myNotSolveCount">0个</span>
									</a>
									<a href="${ctxPath}/ask/myProblem_0.html">
										已解决<br />
										<span id="mySolveCount">0个</span>
									</a>
								</div>	
						</div>
					<%}%>
					<p><a target="_blank" href="${ctxPath}/product/accounting.html"><img src="${ctxPath}/images/dumAnswers/img/mwdImg5.png" class="mwdImg5" /></a></p>
				</div>
				<div class="cb"></div>
			</div>
		</div>
		<%includeFileTemplate("/html/cd/footer_temp.html"){ %><%}%> 
	</body>
</html>
