<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>${solvedQuestion.majorQuestion!}-${sysCompanyResult.values.companyAbb!}</title>
	<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
	<link rel="stylesheet" href="${ctxPath}/css/question/main.css" />
    <link rel="stylesheet" href="${ctxPath}/css/question/ui-dialog.css">
    <script type="text/javascript" src="${ctxPath}/js/question/dialog-min.js"></script> 
</head>
<body class="bgc-gray ask-page">
	<!--头部-->
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
	<script type="text/javascript">
	  $(function(){
		  $('.quit').attr({"href":"${ctxPath}/cus/loginOut.html?quiturl=/ask/${solvedQuestion.id}/"});
		  
	  });
    </script>
    <%includeFileTemplate("/WEB-INF/view/login/jumpLogin.html"){ %><%}%>
	<input type="hidden" value="${solvedQuestion.typeCode}" id="answerTypeCode">
	<input type="hidden" value="${solvedQuestion.id}" id="solvedQuestion_id">
	<input type="hidden" value="${solvedQuestion.readNumber}" id="solvedQuestion_readNumber">
	<ol class="breadcrumb">
		<img src="${ctxPath}/images/img/home.png" class="middle mr10"/><a href="${ctxPath}/">首页</a><span>></span>
		<a href="${ctxPath}/ask/">问答库</a><span>></span>
		<span><%if(strutil.length(solvedQuestion.majorQuestion) > 50){%>
		${strutil.subStringTo (solvedQuestion.majorQuestion,0,50)}...</p>
		<%}else{%>
		${solvedQuestion.majorQuestion}
		<%}%></span>
	</ol>

	<div class="ask-details clearfix">
		<div class="ask-details-left">
			<!-- 问题 -->
			<div class="ask-box">
				<h1>
					<span class="answers-icon icon-question"></span> ${solvedQuestion.majorQuestion}
				</h1>
				<p class="ask-info">
						<%if(!isEmpty(solvedQuestion.isAnonymity) && solvedQuestion.isAnonymity == '0'){%>
							  <span> 匿名</span> |
						<%} else {%>
							<span> 
								<%if(!isEmpty(solvedQuestion.cusCustomer)) {%>
								<a href="${ctxPath}/ask/yhzx/${solvedQuestion.cusCustomer.id!}/0.html">
									${solvedQuestion.cusCustomer.customerName!}
								</a>
								<%} else {%>
									${solvedQuestion.questionerName!}
								<%}%>
							</span> |
						<%}%> 
					 	<span>
					    <%if(!isEmpty(solvedQuestion.price) && solvedQuestion.price > 0){%>
					    	  悬赏：${solvedQuestion.price!}</span> | <span>
					     <%}else{%>悬赏：0</span> | <span><%}%>   
						分类：<a href="${ctxPath}/ask/wtk/${strutil.toLowerCase(solvedQuestion.typeCode)}/yjj.html">${solvedQuestion.typeName!}</a> </span> | <span>地区:
						${solvedQuestion.areaName}</span> | <span>浏览
						${solvedQuestion.readNumber!} 次</span> | <span>${solvedQuestion.createDate,dateFormat='yyyy-MM-dd HH:mm:ss'}</span>
				</p>
				<p class="ask-detail" style="padding-top:20px;padding-bottom: 20px;">${solvedQuestion.additionalQuestion}</p>
				<%if(!isEmpty(solvedQuestion.sysQuestionSupplements)){%>
				<ul style="padding-bottom: 10px;">
					<%for(item in solvedQuestion.sysQuestionSupplements){%>
						<li><font color="blue">[补充${itemLP.index}]</font>  ${item.supplementContent}</li>
					<%}%>
				</ul>
				<%}%>
				<%if(!isEmpty(solvedQuestion.isSolve) && solvedQuestion.isSolve == '1' && !isEmpty(solvedQuestion.price) && solvedQuestion.price > 0
					 && isEmpty(bestSolvedQuestion) && isEmpty(isMyselft)){%>
					<div class="ask-points-info">
						您的回答被采纳后将获得：系统奖励的 <span class="number">${solvedQuestion.price}</span> 财富值
					</div>
				 <%}else if(!isEmpty(solvedQuestion.isSolve) && solvedQuestion.isSolve == '2'){%>
				 	<div class="ask-points-info">
						该问题已关闭
					</div>
				<%}%>
				<%if(!isEmpty(solvedQuestion) && solvedQuestion.isSolve == '1'){%>
					<%if(isEmpty(isMyselft)){%>
						<%if(isEmpty(bestSolvedQuestion) && (isEmpty(notAnswer) || (!isEmpty(notAnswer) && notAnswer == 'Y')) ){%>
							<!--会计不能前端回答问题，指定人暂时只能是会计-->
							<%if(isEmpty(solvedQuestion.appointUser)){%>
								<div class="to-answer">
									<button class="to-answer-btn btn btn-default" id="toasnwerQuestion">我来帮他解答</button>
									<div class="clearfix" style="display: none;margin-top: -10px;" id="toasnwerQuestionDiv">
										<form class="to-answer-form" id="questionAnswerForm">
											<textarea name="questionAnswer" id="questionAnswer" placeholder="提问者正在等待您的答案"></textarea>
											<input type="hidden" value="${solvedQuestion.id}" name="questionId" id="questionId">
											<input type="hidden" value="${solvedQuestion.questionerId}" name="questionerId" id="questionerId">
											<p>
												还可以输入 <span class="number" id="answerNumber">2000</span> 字 <font color="red" id="errorMsg"></font>
												<button type="button" class="btn btn-success" onclick="saveAnswerQuestion()">提交</button>
											</p>
										</form>
									</div>
								</div>
							<%}else{%>
								<font color="#ccc">这个问题指定了回复者，你暂时无法回答！</font>
							<%}%>							
						<%}%>
					<%}else{%>
						<div class="to-answer">
							<%if(isEmpty(bestSolvedQuestion)){%>
								<button class="to-answer-btn btn btn-default" id="supplementQuestion">
									<span class="answers-icon icon-additional"></span>
									问题补充
								</button>
								<button class="to-answer-btn btn btn-default" id="addQuestionPrice">
									<span class="answers-icon icon-points"></span>
									追加悬赏
								</button>
								<button class="to-answer-btn btn btn-default" onclick="closeQuestion(${solvedQuestion.id})">
									<span class="answers-icon icon-close"></span>
									关闭问题
								</button>
							<%}%>						
							<!-- 问题补充 -->
							<div class="clearfix" style="display: none;" id="supplementQuestionDiv">
								<form class="to-answer-form" id="supplementQuestionForm">
									<textarea name="supplementContent" id="supplementContent" onKeyUp="setSupplementContentLength();" placeholder="你可以对你的问题进行补充"></textarea>
									<input type="hidden" value="${solvedQuestion.id}" name="questionId" id="questionId">									
									<p>
										还可以输入 <span class="number" id="supplementContentLength">2000</span> 字 <font color="red" id="supplementContentErrorMsg"></font>
										<button type="button" class="btn btn-success" onclick="saveSupplementQuestion()">提交</button>
									</p>
								</form>
							</div>
							
							<!-- 追加悬赏 -->
							<div class="clearfix" style="display: none;" id="addQuestionPriceDiv">
								<div class="input-group spinner" data-trigger="spinner">
									<form class="to-answer-form" id="addQuestionPriceForm">
										<input type="hidden" value="${solvedQuestion.cusCustomer.customerCount.userWealth!}" name="price"/>
										<input type="text" class="form-control" name="addPrice" id="addPrice"  size="14" maxlength="14" onkeyup='this.value=this.value.replace(/\D/gi,"")'
											<%if(!isEmpty(solvedQuestion.cusCustomer) && !isEmpty(solvedQuestion.cusCustomer.customerCount) 
												&& !isEmpty(solvedQuestion.cusCustomer.customerCount.userWealth) && solvedQuestion.cusCustomer.customerCount.userWealth > 0){%>
												data-max="${solvedQuestion.cusCustomer.customerCount.userWealth}"
											<%}else{%>
												data-max="0"
											<%}%>
											data-min="0" data-step="10">
										<input type="hidden" value="${solvedQuestion.id}" name="id" id="id">
										<span></span>
										<%if(!isEmpty(solvedQuestion.cusCustomer) && !isEmpty(solvedQuestion.cusCustomer.customerCount) 
												&& !isEmpty(solvedQuestion.cusCustomer.customerCount.userWealth) && solvedQuestion.cusCustomer.customerCount.userWealth > 0){%>
												你现财富值为${solvedQuestion.cusCustomer.customerCount.userWealth}，可以追加悬赏！
										<%}else{%><font color="red">你现财富值为${solvedQuestion.cusCustomer.customerCount.userWealth}，不能追加悬赏！</font><%}%>
										<font color="red" id="addQuestionPriceErrorMsg"></font>
										<br/><br/><button type="button" class="btn btn-success" onclick="addQuestionPrice()">追加悬赏</button>
									</form>
								</div>
							</div>
						</div>
					<%}%>
				<%}else if(!isEmpty(solvedQuestion.isSolve) && solvedQuestion.isSolve == '2'){%>
					<p class="ask-info"><span>该问题已关闭</span></p>
				<%}%>

				<div class="share-box">
					<div class="bdsharebuttonbox" data-tag="share_1">
						<div class="shareDiv" style="float: right">
								<div class="jiathis_style fl">
									<a class="jiathis_button_tsina"></a>
									<a class="jiathis_button_weixin"></a>
								</div>
								<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
								<div class="cb"></div>
							</div>
					</div>
				</div>
				
			</div>
			<!-- 问题 end -->
			<%if(!isEmpty(bestSolvedQuestion)){%>
				<!-- 最佳答案 -->
				<div class="best-answer">
					<h2>最佳答案</h2>
					<div class="icon-box">
						<span class="answers-icon icon-best"></span>
					</div>
					<p class="time">${bestSolvedQuestion.createDate,dateFormat='yyyy-MM-dd HH:mm:ss'}</p>
					<div class="answer">
						<div class="body" style="padding-top:30px;">
							${bestSolvedQuestion.questionAnswer}						
						</div>
						<p class="none more-btn">
							<a href="#" class="show-more">显示更多</a>
						</p>
						<!-- 追问追答列表 -->
						<%if(!isEmpty(bestSolvedQuestion.sysQuestionAnswerCommentS)){%>
							<div>
								<ul>
									<%for(vo in bestSolvedQuestion.sysQuestionAnswerCommentS){%>
										<%if(!isEmpty(vo.type) && vo.type == '0'){%>
											<li><font color="blue">[追问：]</font>${vo.content}</li>
										 <%}else if(!isEmpty(vo.type) && vo.type == '1'){%>
										 	<li><font color="blue">[追答：]</font>${vo.content}</li>
										 <%}%>
									<%}%>
								</ul>
							</div>
						<%}%>
					</div>
					<div class="up-down" id="best_updown${bestSolvedQuestion.id}">
						<%if(!isEmpty(bestSolvedQuestion.isPraise)){%>
							<button class="btn btn-default">
								<%if(bestSolvedQuestion.isPraise == '0'){%>已赞<%}%>
								<span class="glyphicon glyphicon-thumbs-up"></span> 
								<%if(!isEmpty(bestSolvedQuestion.praiseNumber)){%>${bestSolvedQuestion.praiseNumber}<%}else{%>0<%}%>
							</button>
						<%}else{%>
							<button class="btn btn-default" onclick="saveAskCommentLog(0,'${bestSolvedQuestion.id}','${bestSolvedQuestion.praiseNumber}','${bestSolvedQuestion.negativeNumber}',this)">
								<span class="glyphicon glyphicon-thumbs-up"></span>
								<%if(!isEmpty(bestSolvedQuestion.praiseNumber)){%>${bestSolvedQuestion.praiseNumber}<%}else{%>0<%}%>
							</button>
						<%}%>
						
						<%if(!isEmpty(bestSolvedQuestion.isPraise)){%>
							<button class="btn btn-default">
							<%if(bestSolvedQuestion.isPraise == '1'){%>已踩<%}%>
							<span class="glyphicon glyphicon-thumbs-down"></span>
							<%if(!isEmpty(bestSolvedQuestion.negativeNumber)){%>${bestSolvedQuestion.negativeNumber}<%}else{%>0<%}%>
							</button>
						<%}else{%>
							<button class="btn btn-default" onclick="saveAskCommentLog(1,'${bestSolvedQuestion.id}','${bestSolvedQuestion.praiseNumber}','${bestSolvedQuestion.negativeNumber}',this)">
						 	<span class="glyphicon glyphicon-thumbs-down"></span>
						 	<%if(!isEmpty(bestSolvedQuestion.negativeNumber)){%>${bestSolvedQuestion.negativeNumber}<%}else{%>0<%}%>
						 	</button>
						 <%}%>
						 
					</div>
					<%if(!isEmpty(bestSolvedQuestion.cusCustomer) && !isEmpty(bestSolvedQuestion.answererType) && bestSolvedQuestion.answererType == '0'){%>
						<div class="user clearfix">
							<%if(!isEmpty(bestSolvedQuestion.cusCustomer) && !isEmpty(bestSolvedQuestion.cusCustomer.attachment)){%>
								<div class="user-img-box" style="background-image: url('${bestSolvedQuestion.cusCustomer.attachment.fillFilePath}')">
							<%}else{%>
								<div class="user-img-box" style="background-image: url(${ctxPath!}/images/question/infoImg.png)">
							<%}%>
						</div>
						<div class="answer-info">
							<p>
								<span class="name"><a href="${ctxPath}/ask/yhzx/${bestSolvedQuestion.cusCustomer.id}/0.html">
									${bestSolvedQuestion.cusCustomer.customerName}</a>
								</span>
								<span class="label label-info">普通用户</span>
							</p>
							<%if(isEmpty(bestSolvedQuestion.cusCustomer.customerCount)){%>
								<p class="answer-info">
									<span>采纳率：0%
									</span>
									 | <span>回答数：0</span> | 赞同数：
									 <span id="best_${bestSolvedQuestion.id}praiseNum">0</span>
									 <input value="0" id="best_${bestSolvedQuestion.id}praiseNumInput" type="hidden"/>
									 
								</p>
							<%}else{%>
								<p class="answer-info">
									<span>采纳率：
									<%if(!isEmpty(bestSolvedQuestion.cusCustomer.customerCount.acceptAnswerL)){%>
										${bestSolvedQuestion.cusCustomer.customerCount.acceptAnswerL}%
									<%}else{%>0%<%}%>
									</span>
									 | <span>回答数：
									 	<%if(!isEmpty(bestSolvedQuestion.cusCustomer.customerCount.answerNumber)){%>
									 	${bestSolvedQuestion.cusCustomer.customerCount.answerNumber}
									 	<%}else{%>0<%}%>
									 </span>
									 | 赞同数：
									 	<%if(!isEmpty(bestSolvedQuestion.cusCustomer.customerCount.praiseNumber)){%>
									 		<span id="best_${bestSolvedQuestion.id}praiseNum">${bestSolvedQuestion.cusCustomer.customerCount.praiseNumber}</span>
									 		<input value="${bestSolvedQuestion.cusCustomer.customerCount.praiseNumber}" id="best_${bestSolvedQuestion.id}praiseNumInput" type="hidden"/>
									 	<%}else{%>
									 		<span id="best_${bestSolvedQuestion.id}praiseNum">0</span>
									 		<input value="0" id="best_${bestSolvedQuestion.id}praiseNumInput" type="hidden"/>
									 	<%}%>
									
								</p>
							<%}%>
							
						</div>
					</div>
					<%}else if(!isEmpty(bestSolvedQuestion.askRecommendAccount) && !isEmpty(bestSolvedQuestion.answererType) && bestSolvedQuestion.answererType == '1'){%>
						<div class="user clearfix">
							<%if(!isEmpty(bestSolvedQuestion.askRecommendAccount) && !isEmpty(bestSolvedQuestion.askRecommendAccount.attachment)){%>								
								<div class="user-img-box" style="background-image: url('${bestSolvedQuestion.askRecommendAccount.attachment.fillFilePath}')">
							<%}else{%>
								<div class="user-img-box" style="background-image: url(${ctxPath!}/images/question/infoImg.png)">
							<%}%>
						</div>
						<div class="answer-info">
							<p>
								<span class="name"><a href="${ctxPath}/ask/kjzx/${bestSolvedQuestion.askRecommendAccount.id!}.html">
									${bestSolvedQuestion.askRecommendAccount.userName}</a></span>
								<%if(!isEmpty(bestSolvedQuestion.askRecommendAccount.type) && bestSolvedQuestion.askRecommendAccount.type == '0'){%>
									<span class="label label-info">会计</span>
								<%}else if(!isEmpty(bestSolvedQuestion.askRecommendAccount.type) && bestSolvedQuestion.askRecommendAccount.type == '1'){%>
									<span class="label label-info">工商</span>
								<%}%>
								<a href="${ctxPath}/ask/addQuestion.html?cusid=${bestSolvedQuestion.askRecommendAccount.id}" class="label label-success ask">提问</a>
							</p>
							<p class="answer-info">
								<span>采纳率：
								<%if(!isEmpty(bestSolvedQuestion.askRecommendAccount.acceptAnswerL)){%>
									${bestSolvedQuestion.askRecommendAccount.acceptAnswerL}%
								<%}else{%>0%<%}%>
								</span>
								 | <span>回答数：
								 	<%if(!isEmpty(bestSolvedQuestion.askRecommendAccount.answersNumber)){%>
								 	${bestSolvedQuestion.askRecommendAccount.answersNumber}
								 	<%}else{%>0<%}%>
								 </span>
								 | 赞同数：
								 	<%if(!isEmpty(bestSolvedQuestion.askRecommendAccount.praiseNumber)){%>
								 		<span id="best_${bestSolvedQuestion.id}praiseNum">${bestSolvedQuestion.askRecommendAccount.praiseNumber}</span>
								 		<input value="${bestSolvedQuestion.askRecommendAccount.praiseNumber}" id="best_${bestSolvedQuestion.id}praiseNumInput" type="hidden"/>
								 	<%}else{%>
								 		<span id="best_${bestSolvedQuestion.id}praiseNum">0</span>
								 		<input value="0" id="best_${bestSolvedQuestion.id}praiseNumInput" type="hidden"/>
								 	<%}%>
							</p>
							</div>
						</div>
					<%}%>
	
					<!-- 相关产品 -->
						<%if(!isEmpty(bestSolvedQuestion.answerExts)){%>
						<div class="with-product">
							<h3>相关产品</h3>
							<ul class="clearfix" style="padding-top:20px;">
								<%for(vo in bestSolvedQuestion.answerExts){%>
								<li class="clearfix">
								 	<a href="${ctxPath}/productModel/sku_${vo.serviceProductSkuid!}.html" flow_code="${vo.businessCode!}" class="product-img" style="background: url('${vo.skuImgUrl!}');background-size:100% 100%;"></a>
									<div class="right">
										<a href="${ctxPath}/productModel/sku_${vo.serviceProductSkuid!}.html" flow_code="${vo.businessCode!}">${vo.businessName!}</a> <br> <span>${vo.businessPrice!}元</span>
									</div>
								</li> <%}%>

							</ul>
						</div>
						<%}%>
					</div>
				<!-- 最佳答案 end -->
			<%}%>
			
			<!-- 答案列表 -->
			<div class="answer-list-box">
				<h2>
					全部回答 <span>
					<%if(!isEmpty(solvedQuestion) && !isEmpty(solvedQuestion.answers)){%>(${solvedQuestion.answers.~size})
					<%}else{%>(0)<%}%>
					</span>
				</h2>
				<ul class="answer-list">
					<%if(!isEmpty(solvedQuestion) && !isEmpty(solvedQuestion.answers)){for(item in solvedQuestion.answers){%>
						<li id="solved${item.id}">
							<div class="clearfix">
								<div class="left">
									<%if(!isEmpty(item.answererType) && item.answererType == '0' && !isEmpty(item.cusCustomer) && !isEmpty(item.cusCustomer.attachment)){%>
										<div class="user-img-box" style="background-image: url('${item.cusCustomer.attachment.fillFilePath}')"></div>
									<%}else if(!isEmpty(item.answererType) && item.answererType == '1' && !isEmpty(item.askRecommendAccount) && !isEmpty(item.askRecommendAccount.attachment)){%>
										<div class="user-img-box" style="background-image: url('${item.askRecommendAccount.attachment.fillFilePath}')"></div>
										<a href="${ctxPath}/ask/addQuestion.html?cusid=${item.askRecommendAccount.id}" class="btn btn-success ask">提问</a>
									<%}else{%>
										<div class="user-img-box" style="background-image: url(${ctxPath!}/images/question/infoImg.png)"></div>
									<%}%>
								</div>
								<div class="answer">
									<!-- 答题者信息 -->
									<p>
										<%if(!isEmpty(item.answererType) && item.answererType == '0' && !isEmpty(item.cusCustomer)){%>
											<span class="name"><a href="${ctxPath}/ask/yhzx/${item.cusCustomer.id}/0.html">
											${item.cusCustomer.customerName}</a></span> | <span class="label label-info">普通用户</span>
										<%}else if(!isEmpty(item.answererType) && item.answererType == '1' && !isEmpty(item.askRecommendAccount)){%>
											<span class="name"><a href="${ctxPath}/ask/kjzx/${item.askRecommendAccount.id!}.html">
											${item.askRecommendAccount.userName}</a></span> 
												<%if(!isEmpty(item.askRecommendAccount.type) && item.askRecommendAccount.type == '0'){%>
													| <span class="label label-info">会计</span>
												<%}else if(!isEmpty(item.askRecommendAccount.type) && item.askRecommendAccount.type == '1'){%>
													| <span class="label label-info">工商</span>
												<%}%>
										<%}else{%>匿名<%}%>
										<span class="time">${item.createDate,dateFormat='yyyy-MM-dd HH:mm:ss'}</span>
									</p>
									<!-- 答题者信息 end -->
									
									<!-- 回答主体 -->
									<div class="body" style="padding-top:10px;">
										${item.questionAnswer}
										<%if(isEmpty(bestSolvedQuestion)){%>
											<%if(!isEmpty(isMyselft) && isMyselft == 'Y' && !isEmpty(solvedQuestion.isSolve) 
											&& solvedQuestion.isSolve == '1' && isEmpty(bestSolvedQuestion)){%>
												<button class="to-answer-btn btn btn-default" onclick="chasingAnswerFuc(${item.id},0)">追问</button>
											<%}%>
											<%if(!isEmpty(isMyselft) && isMyselft == 'Y' && !isEmpty(solvedQuestion.isSolve) 
												&& solvedQuestion.isSolve == '1' && isEmpty(bestSolvedQuestion)){%>
												<button class="to-answer-btn btn btn-default" onclick="adoptAnswer('${item.id}','${solvedQuestion.id}')">采纳答案</button>
											<%}%>
										<%}%>
									</div>
									<p class="none more-btn">
										<a href="#" class="show-more">显示更多</a>
									</p>
									<!-- 回答主体 end -->
									<%if(isEmpty(isMyselft) && !isEmpty(myselftId) && myselftId ==item.answererId){%>
									<p>
											<button class="to-answer-btn btn btn-default" onclick="chasingAnswerFuc(${item.id},1)">追答</button>
									</p>
									<%}%>

									<div class="clearfix" style="display: none;margin-top: 10px;" id="chasingAnswerDiv${item.id}">
										<form class="additional-answer-form" id="chasingAnswerForm${item.id}">
											<textarea name="content" id="content" onKeyUp="setContentLength(this,2000,${item.id});"></textarea>
											<input type="hidden" value="${item.id}" name="answerId">	
											<input type="hidden" value="" name="type">									
											<p class="info">
												还可以输入 <span class="number" id="chasingAnswerNumber${item.id}">2000</span> 字 <font color="red" id="chasingAnswerDivMsg${item.id}"></font>
											</p>
											<p><button type="button" class="btn btn-success" onclick="saveChasingAnswer(${item.id})">提交</button></p>
										</form>
									</div>

									<!-- 追问追答列表 -->
									<%if(!isEmpty(item.sysQuestionAnswerCommentS)){%>
										<div>
											<ul>
												<%for(vo in item.sysQuestionAnswerCommentS){%>
													<%if(!isEmpty(vo.type) && vo.type == '0'){%>
														<li><font color="blue">[追问：]</font>${vo.content}</li>
													 <%}else if(!isEmpty(vo.type) && vo.type == '1'){%>
													 	<li><font color="blue">[追答：]</font>${vo.content}</li>
													 <%}%>
												<%}%>
											</ul>
										</div>
									<%}%>
								</div>
							</div>
							<div class="up-down" id="normal_updown${item.id}">								
								
								<%if(!isEmpty(item.isPraise)){%>
									<button class="btn btn-default">
									<%if(item.isPraise == '0'){%>已赞<%}%>
									<span class="glyphicon glyphicon-thumbs-up"></span>
									<%if(!isEmpty(item.praiseNumber)){%>${item.praiseNumber}<%}else{%>0<%}%>
									</button>
								<%}else{%>
									<button class="btn btn-default" onclick="saveAskCommentLog(0,'${item.id}','${item.praiseNumber}','${item.negativeNumber}',this)">
									<span class="glyphicon glyphicon-thumbs-up"></span>
									<%if(!isEmpty(item.praiseNumber)){%>${item.praiseNumber}<%}else{%>0<%}%>
									</button>
								<%}%>
									
								
								<%if(!isEmpty(item.isPraise)){%>
									<button class="btn btn-default">
									<%if(item.isPraise == '1'){%>已踩<%}%>
									<span class="glyphicon glyphicon-thumbs-down"></span> 
									<%if(!isEmpty(item.negativeNumber)){%>${item.negativeNumber}<%}else{%>0<%}%>
									</button>
								<%}else{%>
									<button class="btn btn-default" onclick="saveAskCommentLog(1,'${item.id}','${item.praiseNumber}','${item.negativeNumber}',this)">
									<span class="glyphicon glyphicon-thumbs-down"></span>
									<%if(!isEmpty(item.negativeNumber)){%>${item.negativeNumber}<%}else{%>0<%}%> 
									</button>
								<%}%>
									
							</div>
							</li>
					<%}}else{%>
						<li>问题还没有人回答</li>
					<%}%>
				</ul>
			</div>
			<!-- 答案列表 end -->


			<!-- 相关问题 -->
			<div class="about-list-box">
				<h2>相关问题</h2>
				<ul id="solvedAboutQuestionList" style="padding-top: 15px;">
					
				</ul>
				<p class="more" style="padding-top: 10px;">
					与<b><font color="#c70039">${solvedQuestion.typeName!}</font></b>有关的更多问题，
					<a href="${ctxPath}/ask/wtk/${strutil.toLowerCase(solvedQuestion.typeCode!)}/yjj.html">点击查看>></a>
				</p>
			</div>
			<!-- 相关问题 end -->
		</div>

		<div class="ask-details-right">
			<!-- 推荐会计 -->
			<div class="recommend-user">
				<h2>推荐会计</h2>
				<ul id="recommendedAccountsList" style="padding-top:15px;">
				</ul>
			</div>
			<!-- 推荐会计 end -->

			<p id="solvedGgList">
				
			</p>
			<!-- 热点问题 -->
			<div class="hot-ask">
				<h2>热点问题</h2>
				<ul id="solvedHotWtList" style="padding-top:15px;">
				</ul>
			</div>
			<!-- 热点问题 end -->

			<!-- 热点资讯 -->
			<div class="hot-ask" id="rrrr">
				<h2>热点资讯</h2>
				<ul id="solvedHotZxList" style="padding-top:15px;">
					
				</ul>
			</div>
			<!-- 热点资讯 end -->

		</div>
	</div>
	<%includeFileTemplate("/html/footer_temp.html"){ %><%}%>  
	<script type="text/javascript" src="${ctxPath}/js/question/solved.js"></script>
</body>
</html>
