<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>确认订单信息</title>
		<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
		<link rel="stylesheet" href="${ctxPath}/css/service/shoppingCart.css" />
		<script type="text/javascript" src="${ctxPath}/js/product/paymentConfirm.js"></script>
	</head>
	<body class="backFc">
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%> 
		<div class="w_1160">
			<!--面包线-->
			<div class="breadLines mt10">
				<img src="${ctxPath}/images/img/home.png" class="middle mr10"/><a href="${ctxPath}/">首页</a><span>></span>
				<a class="lineTit">确认订单信息</a>
			</div>
			
			<form action="${ctxPath}/ordCart/submitOrder.html" method="post">
				<!---->
				<table class="cartTab" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th width="30%">服务名称</th>
							<th width="20%">单价（元）</th>
							<th width="15%">数量</th>
							<th width="15%">合计（元）</th>
						</tr>
					</thead>
					<tbody>
						<%for(item in  ordCart.newItemList){var index = itemLP.index-1;%> 
							<tr>
								<td colspan="4">
									<table cellpadding="0" cellspacing="0">
										<tr>
											<td width="30%">
														<div>
															<input  type="hidden"    name="ordCartItems[${index}].id" value="${item.id}" />
															<p class="fl  mb10 ml10"><img class="shoppingServiceIcon" src="${item.serviceProductSkuEntity.fillFilePath}"/></p>
															<p class="commodityGroup fl">
																<span class="color68 fz12 commodityName">
																	<b>${item.serviceProductSkuEntity.name}</b>
																</span>
																<%if(item.type=='1'){%>
																	<%if(item.serviceProductSkuEntity.skuEntityList!=null){%>
																		<%for(entity in item.serviceProductSkuEntity.skuEntityList){%>
																		<br>
																		<span class="">${entity.name!}</span>
																		<%}%>
																	<%}%>
																<%}%>
															</p>
															<p class="cb"></p>
														</div>
											</td>
											<td width="20%" class="td">
												<span class="fz12 color50" ><b>￥<span class="js_calculate">${item.serviceProductSkuEntity.price}</span></b></span><br>
												<span class="fz12 originalPrice">￥<span class="itemOriginalPrice">${item.serviceProductSkuEntity.marketValue}</span>
												<input type="hidden" class="js_oparice" value="${item.serviceProductSkuEntity.marketValue}" /></span>
											</td>
											<td width="15%">
												<div class="ml15">
													<span class="number">${item.skuCount}</span>
													<input  type="hidden"    name="ordCartItems[${index}].skuCount" value="${item.skuCount}" />
													<input  type="hidden"    name="ordCartItems[${index}].price" value="${item.serviceProductSkuEntity.price}" />
													<div class="cb"></div>
												</div>
											</td>
											<td width="15%"><p class="color68"><b>${item.sumPrice}</b></p></td>
										</tr>
									</table>
								</td>
							</tr>
						 <%}%>
					</tbody>
					
					<tfoot>
						<tr class="shoppingTd shoppingTdCommon">
							<td colspan="2" width="5%" class="tdAlignLeft middleTop"><p id="print_ticket" class="ml15 selected first"><!-- <input type="checkbox" value="1" name="isInvoice" id="js_allCheck" />
							<label class=" icon_uncheck middle mr5" for="js_allCheck"></label>开发票</p></td> -->
							<div class="fl ml20">
							<input type="hidden" value="" name="cusAccountVoucherId" id="voucherid">
								<span>优惠劵</span> <select id="voucherList">
									<%if(isEmpty(ordCart.cusVoucherVoList)){%>
									<option value='-1'>暂无可用优惠劵</option> <%}%> <%else{%>
									<option value='-1'>不使用优惠劵</option> <%for(voucher in
									ordCart.cusVoucherVoList){%>
									<option value='${voucher.amount}'
										voucherid='${voucher.id}'>使用￥${voucher.voucherName}优惠劵</option>
									<%}%> <%}%>
								</select><span class="ml10 color68 none" id="preferentialed"></span>
							</div>
							<p class="cb"></p></td>
							<td width="15%" class="lineHeightTd">
								<p class="color50 fz14">总价：<b class="color68" id="js_aprice">${ordCart.sumPirce!}</b></p>
								<p class="color8f fz12">已节省：<span class="color50" id="js_bprice">-￥${ordCart.discountPrice!}</span></p>
							</td>
							<td width="15%" >
								<p class="clearing">提交订单</p>
								<p class="cb"></p>
							</td>
						</tr>
					</tfoot>
					
				</table>
			<!-- 开发票 -->
			<!-- <div class="openInvoice" style="visibility:hidden;">
				<div class="invoiceName ov">
					<p class="fl fz14 color50">普通发票</p>
					<p class="fr invoiceClose"></p>
				</div>
				<div class="backFFF pt15 pb15">
					<div class="invoiceContent">
						<p class="lookUp"  id="js_invoice">
							<span class="fz12 color50">发票抬头：</span><input type="text" name="invoiceTitle" class="invoiceTxt" placeholder="请填写公司发票抬头" />
						</p>
						<div class="invoiceContent1">
							<p class="invoiceInfo"><a href="javascript:void(0)">保存发票信息</a></p>
							<p class="fz12 color8f invoicePrompt">温馨提示：如果您的公司在注册中，等公司注册成功后给您开发票。</p>
						</div>
					</div>
				</div>
			</div> -->
			</form>
			
		</div>
		<%includeFileTemplate("/html/footer_temp.html"){ %><%}%> 
	</body>
</html>
