<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<%if(!isEmpty(productListSeo)){%>
		<title>${productListSeo.title!}</title>
		<meta name="keywords" content="${productListSeo.keywords!}" />
		<meta name="description" content="${productListSeo.description!}" />
		<%}%>
		<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
		<link rel="stylesheet" href="${ctxPath}/css/service/serviceCommon.css" />
		<link rel="stylesheet" href="${ctxPath}/css/service/changeService.css" />
	</head>
	<body class="backFc">
		<%includeFileTemplate("/html/nav_temp.html"){ %><%}%> 
		<div class="w_1160">
			<!--面包线-->
			<div class="breadLines" style="margin-bottom: 0px;">
				<img src="${ctxPath}/images/img/home.png" class="middle mr10"/><a href="${ctxPath}/">首页</a><span>></span>
				<a href="javascript:void(0);" class="lineTit">服务详情</a>
			</div>
			<ul class="serviceList">
			<%if(!isEmpty(categoryTreee)&&!isEmpty(categoryTreee[0])){%>
			<%for(serviceCategory in categoryTreee[0].nodes){%>
				<li>
					<div class="serviceNameLeft">${serviceCategory.text}</div>
					<div class="serviceNameRight">
						<%if(serviceCategory.nodes!=null){%> <%for(service in serviceCategory.nodes){%>
						<%for(product in service.product){%> 
							<a href="${ctxPath}/serviceProduct/productList/${product.id}.html">${product.name}</a>
						<%}%>
						<%}%> <%}%>
					</div>
				</li>
			<%}%> <% }%> 
		</ul>
			<div class="cb"></div>			
			<dl class="wholeServiceDl">
				<%for(productModel in skuInfos){%>
					<dd  class="twowholeServiceDl">
						<a href="${ctxPath}/productModel/sku_${productModel.id}.html" target="_blank">
							<p class="wholeImg">
							<%if(!isEmpty(productModel.attachments)&&productModel.attachments.~size==1){%>
								<img src="${productModel.attachments[0].fillFilePath}"/>
							<%}%>
							<div class="wholePrice">
								<h4>${productModel.name}</h4>
								<div class="mt5">
									<p class="writingWhole">${productModel.productTilte}</p>
									<p class="writingWhole1 mt10">服务费：<font>￥</font><b>${productModel.price}</b><font>元</font></p>
									<div class="cb"></div>
								</div>
							</div>
						</a>
					</dd>
				<%}%>
			</dl>
		</div>
		<%includeFileTemplate("/html/footer_temp.html"){ %><%}%> 
	</body>
</html>
