<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
		<%if(!isEmpty(skuInfos)){%>
		<title>${skuInfos.seoTitle!}</title>
		<meta name="keywords" content="${skuInfos.seoKeywords!}" />
		<%if(strutil.contain(skuInfos.seoDescription!,'++')){var info=strutil.split(skuInfos.seoDescription!,'-');%>
		<meta name="description" content="${info[0]}" />
		${info[1]}
		<%}else{%>
		<meta name="description" content="${skuInfos.seoDescription!}" />
		<%}%>
		<%}%>	
		<link rel="stylesheet" href="${ctxPath}/css/service/serviceCommon.css" />
		<link rel="stylesheet" href="${ctxPath}/css/service/accounting.css" />
		<link rel="stylesheet" href="${ctxPath}/css/plugin/flexslider.css" type="text/css" />
		<link rel="stylesheet" href="${ctxPath}/css/common/baseArea.css" />
		<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
		<script type="text/javascript" src="${ctxPath}/js/common/baseArea.js" ></script>
		<script type="text/javascript" src="${ctxPath}/js/plugin/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="${ctxPath}/js/channel/index.js" ></script>
		<script type="text/javascript" src="${ctxPath}/js/plugin/tz_fly.js" ></script>
		<script type="text/javascript" src="${ctxPath}/js/plugin/requestAnimationFrame.js"></script>
		<script type="text/javascript" src="${ctxPath}/js/channel/changeService.js" ></script>
		<script type="text/javascript">
			$(function(){
				//左边产品显示
				$(".productList dl dt").click(function(){
					$(this).find("span").toggleClass("productrDtHover");	
					$(this).next().toggle();
				});
				//服务详情
				$(".contentDetailsList li").click(function(){
					$(".contentDetailsList li").removeClass("hoverDetailsList");
					$(this).addClass("hoverDetailsList");
					var i = $(this).index();
					$(".contentDetailsDiv > div").hide();
					$($(".contentDetailsDiv1")[i]).show();
				});
				
			})
		</script>
		<script type="text/javascript">
		
		console.info(info);
		function isIFrameSelf() {
			try {
				if (window.top == window) {
					return false;
				} else {
					return true;
				}
			} catch (e) {
				return true;
			}
		}
		var number = 3;
		function toHome() {
			if (number == 1) {
				clearInterval(timer);
				if (!isIFrameSelf()) {

					var url = window.location.href;
					url = url.replace("/error/404.html","")
					window.location.href = '/';
				}
			} else {
				number = number - 1;
				var times = document.getElementById("times");
				times.innerText = number;
			}
		}
		// 	window.setTimeout("toHome()", 1000);
		var info='${skuInfos!}';
		var timer=null;
		if(info==null||info==''){
			timer = window.setInterval(toHome, 1000);
		}
		
	//-->
	</script>
		<style type="text/css">
		body{ background: #fff;}
		.flexslider .slides > li {
		    display: block!important;
		    -webkit-backface-visibility: hidden;
		}
		.logo-center ul li img {
		    position: relative;
		    top: 30px!important;
		}
		#content{
	    width: 990px;
	    margin: auto;
		}
		.errorDetail {
		    padding: 60px 0 0 290px;
		    /* background: url(http://img02.taobaocdn.com/tps/i2/T1beYnXiJcXXbO2Yvo-76-58.png) no-repeat 200px 50px; */
		    margin: 10px 0 30px;
		}
		.errorDetail h2 {
		    font-size: 16px;
		    font-weight: bold;
		    margin-bottom: 30px;
		}
		.errorAdvice {
		    line-height: 2;
		}
		.errorAdvice p {
		    margin-bottom: 10px;
		}
		.errorAdvice ol {
		    margin-left: 25px;
		}
		.errorAdvice li {
		    list-style-type: decimal;
		}
		.errorAdvice li a {
	    padding: 0 4px;
		}
		#j-ald-error_a {
		    margin-bottom: 10px;
		}

		.ald-row1 {
		    border: 1px solid #e5e5e5;
		}
		.ald-row1 .hd {
		    background: #f3f3f3;
		}
		.ald-row1 * {
			padding: 0;
			margin: 0;
		}
		.ald-row1 .hd h2 {
			font-size: 12px;
			line-height: 18px;
			margin: 0 5px;
			padding: 0;
		}
		.ald-row1 .bd ul::after {
			display: block;
			clear: both;
			height: 0;
			content: ' ';
		}
		.ald-row1 .bd ul {
			text-align: center;
			*zoom: 1;
		}
		.ald-row1 .bd .entityActive {
			display: inline;
			float: left;
			margin: 12px;
		}
		</style>
	</head>	 
	<body class="productModelBody">
		<%includeFileTemplate("/WEB-INF/view/login/jumpLogin.html"){ %><%}%> 
		<%includeFileTemplate("/html/nav_temp.html"){ %><%}%> 
		<%if(!isEmpty(skuInfos)){%>
		<div class="w_1160 mb20">
			<!--面包线-->
			<div class="breadLines">
				<img src="${ctxPath}/images/img/home.png" class="middle mr10"/><a href="${ctxPath}/">首页</a><span>></span>
				<a href="javascript:void(0);" class="lineTit">${skuInfos.serviceName!}</a>
			</div>
			<div>
				<div class="fl banner">
					<!--banner轮换-->
					<div class="flexslider"> 
				      <ul class="slides">
				      	 <%if(skuInfos.attachments!=null){%>
				      	 	<%for(attachment in skuInfos.attachments){%>
							  	<li>
									<a href="javascript:void(0);">
								    	<img src="${attachment.fillFilePath}">
								    </a>
								</li>
							<%}%>
						<%}%>	 
				      </ul> 
					</div> 
					<!--banner轮换 end-->
				</div>
				<div class="fl serviceLeft">
					<h3 id="modelName" class="titH3 fl">${skuInfos.productName}</h3>
					<dl class="fl public">
						
					</dl>
					<p class="cb"></p>
					<div class="fz14 mt20 mb10 color50">${skuInfos.productTilte!}</div>
					<!--选择公司地址-->
					<form id="frmService" autocomplete="off" method="post">
						<input type="hidden" name="productId" value="${skuInfos.productId!}"/>
						<input type="hidden" name="serviceId" value="${skuInfos.serviceId!}"/>
						<input type="hidden" name="areaId" value="${skuInfos.areaId!}" />
						<input type="hidden" name="nature" value="${skuInfos.nature!}"/>
						<input type="hidden" name="periodNumber" value="${skuInfos.periodNumber!}"/>
						<input type="hidden" name="attributeValueIds" value=""/>
						<ul class="serviceArea pr">
							<li class="close-li"><span class="icon-close"></span></li>
							<!-- <li>
								<p class="zcArea fl">公司注册区域</p>
								<div areaName="companyAreaCode" areaCode="${session.domainAreaFullcode!''}" class="areaSelectText fl" areaSelect=""></div>
							</li>
							<%if(!isEmpty(skuInfos.natureValues)&&!isEmpty(skuInfos.natureValues)){%>
								<li>
									<p class="zcArea fl areaMarignTop">服务性质</p>
									<dl class="taxesType" id="natureDl">
									<%for(nature in skuInfos.natureValues){%>
										<%if(nature.id == skuInfos.nature){%>
											<dd class="texesTypeHover"><label id="${nature.id}" class="service_lable">${nature.attributeTitle}</label></dd>
										<%}else{%>
											<dd class=""><label id="${nature.id}" class="service_lable">${nature.attributeTitle}</label></dd>
										<%}%>
									<%}%>
									</dl>
								</li>
							<%}%>
							<%if(!isEmpty(skuInfos.periodValues)){%>
								<li>
									<p class="zcArea fl areaMarignTop">服务周期</p>
									<dl class="taxesType" id="periodDl">
										<%for(period in skuInfos.periodValues){%>
											<%if(period.id == skuInfos.periodNumber){%>
												<dd class="texesTypeHover" ><label id="${period.id}"  class="service_lable">${period.attributeTitle}</label></dd>
											<%}else{%>
												<dd class="" ><label id="${period.id}"  class="service_lable">${period.attributeTitle}</label></dd>
											<%}%>
										<%}%>
									</dl>
								</li>
							 <%}%> -->
							 <%if(!isEmpty(skuInfos.attributes)){%>
								<%for(attribute in skuInfos.attributes){%>
									<li>
										<p class="zcArea fl areaMarignTop">${attribute.name}</p>
										<dl class="taxesType attributeDl" style="margin-left: 66px;">
										<%for(allValue in attribute.allValues){%>
											<%if(allValue.id == attribute.currentAttributeValueId){%>
												<dd class="texesTypeHover" ><label id="${allValue.id}"  class="service_lable">${allValue.attributeTitle}</label></dd>
											<%}else{%>
												<dd class="" ><label id="${allValue.id}"  class="service_lable">${allValue.attributeTitle}</label></dd>
											<%}%>
										<%}%>
										</dl>
									</li>
								<%}%>
							<%}%>
						</ul>
					</form>
					<div class="become">
						<p class="serviceFees ml10 fl">
							服务费 :<span>￥</span><b id="ordPrice">${skuInfos.price!}</b>
						</p>
						<!--<p class="fr clinch mr10">
							已成交<br /><span id="dljzCount">${skuInfos.salesNumber!}</span>
						</p>-->
						<div class="cb"></div>
					</div>
					<dl class="buyCart">
						<form action="${ctxPath}/ordCart/addCart.html" id="buyNowForm"  autocomplete="off">
							<input type="hidden" name="skuId" id="skuId" value="${skuInfos.id!}"/>
							<input type="hidden" name="type"  id="type"  value="0"/>
							<input type="hidden" name="count"  id="count" value="1"/>
						</form>
						<dd><a href="javascript:void(0);" class="buyNow" onclick="buyNowFun();">立即购买</a></dd>
						<dd><a href="javascript:void(0);" class="addCart">加入购物车</a></dd>
					</dl>					

				</div>
				<p class="cb"></p>
			</div>
			
			<!--相关搜索，服务详情-->
			<div class="centerLeft fl mt20">
				<%includeFileTemplate("/WEB-INF/view/product/productLeft.html"){ %><%}%>
			</div>
			<div class="centerRight fl mt20">
				<%if(!isEmpty(skuInfos.details)){%>
					<ul class="contentDetailsList">
						<%for(item in skuInfos.details){ var index = itemLP.index;%>
								<li <%if(index==1){%> class="hoverDetailsList" <%}%>>${item.title}</li>
						<%}%>
					</ul>
					<div class="contentDetailsDiv">
						<%for(item in skuInfos.details){ var index1 = itemLP.index;%>
								<%if(index1 == 1){%>
									<div class="contentDetailsDiv1">
								<%}else{%>
									<div class="contentDetailsDiv1 none">
								<%}%>
						     			${item.productContent.content!}
						     		</div>
						<%}%>
					</div>
				<%}%>
			     
			</div>
			<div class="cb"></div>
		</div>
		<%}else{%>
			<div id="content">
<!-- <link rel="stylesheet" href="//assets.alicdn.com/p/mall/404/404.css?t=20111220"> -->
<div class="errorPage $pageId">
    <div class="errorDetail">
        <h2>很抱歉，您查看的项目已不能查看或找不到了！</h2>
        <div class="errorAdvice">
            <p>您可以：</p>
            <ol><li>&nbsp;检查刚才的输入</li>
                    <li>&nbsp;去其他地方逛逛：<a href="http://www.chuangyebaba.com">创业爸爸首页</a>|	<a href="http://www.chuangyebaba.com/wz/all.html">创业头条</a>|	<a href="http://www.chuangyebaba.com/serviceProduct/modelList.html">全部服务</a>
                    </li>
                    <li>&nbsp;<span style="color: red;font-weight: bold;font-style: initial;" id="times">3</span>秒后将自动跳转 如果没有自动跳转<a href="http://www.chuangyebaba.com">请点击这里</a></li>
             </ol>
        </div>
    </div>
</div>
</div>
		<%}%>
		<%includeFileTemplate("/html/footer_temp.html"){ %><%}%> 
		<script>
		var a=document.body.innerHTML;
		document.body.innerHTML=a.replace(/\ufeff/g,'');
		</script>
		
	</body>
</html>
