<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
<link rel="stylesheet" type="text/css"
	href="${ctxPath}/css/common/baseArea.css" />
<link rel="stylesheet"  href="${ctxPath}/css/guide.css" />
<script type="text/javascript" src="${ctxPath}/js/channel/changeService.js"></script>
<script type="text/javascript" src="${ctxPath}/js/common/baseArea.js"></script>
<script type="text/javascript" src="${ctxPath}/js/channel/zcgs.js"></script>
<title>购买引导-多有米</title>
</head>
<body class="backF9">
	<%includeFileTemplate("/WEB-INF/view/login/jumpLogin.html"){ %><%}%>
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
	<div class="w_1160">
		<div class="breadLines">
			<img src="${ctxPath}/images/img/home.png" class="middle mr10" /><a
				href="#">首页</a><span>></span> <a
				href="${ctxPath}/product/registerCompany.html">注册公司</a><span>></span>
			<a class="lineTit">选择服务项</a>
		</div>
		<h4 class="guideTit"><span></span>选择服务项</h4>
		
		<!-- <input id="isBuy" type="hidden" value="" /> $2{session.cusExtSession.isBuy!''}-->
		<form action="" id="frmService">
			<div id="businessList">
				<input id="comboCode" type="hidden" name="comboCode"  value="ZCGS" />
				<!-- 公司性质 -->
				<input id="companyType" type="radio" name="companyType" value="1" checked="checked" style="display: none;">
				<!-- 注册公司默认0元服务 -->
				<input id="nzgs" type="checkbox" name="businessType" value="ZCGS_002" checked="checked" style="display: none;" />
			</div>
		
		
		<div class="guideConet">
			<dl class="guideSevser">
				<!-- <dd id="czgsService" class="serviceItemChoose choosed">
					<h4 class="fl fz14 color50 mt5 titArea">注册公司区域</h4>
					<div areaname="companyAreaCode" areaSelect="guide.handleArea" class="areaSelectText inlineblock fl" 
					areaCode="${areaCode!session.domainAreaFullcode!''}" id="companyAreaCode"></div>
					<p id="wdjgService" class="fieldAgencies fl color50"><span class="fieldAgenciesSpan"></span>有外地机构</p>
					<p class="cb"></p>
					<a class="none total">￥0.00</a>
				</dd> -->
				<!-- 前海地址挂靠 -->
				<dd id="qhgkService" class="none calling serviceItemChoose" business_code="ZCGS_013">
					<h4 class="fz14 color50 ">前海注册地址挂靠（必选）</h4>
					<div class="inlineBlock select">
						<label class="LabelHover">前海住所托管服务</label>
					</div>
					<div class="inlineBlock Provision">
						<p class="ProvisionConet">
							<a class="color50 middle">托管费：</a>
							<a class="total">￥200.00</a>
						</p>
					</div>
				</dd>
				<!-- 是否有外籍股东 -->
				<!-- <dd class="serviceItemChoose" business_code="ZCGS_011">
					<h4 class="fz14 color50">股东中是否有非大陆籍人士</h4>
					<div class="inlineBlock select">
						<label class="yes">有<span class="icon_select"><img src="${ctxPath}/images/img/guideSelect.png"/></span></label>
						<label class="no">无<span class="icon_select"><img src="${ctxPath}/images/img/guideSelect.png"/></span></label>
					</div>
					<div class="inlineBlock Provision">
						<p class="ProvisionConet provisionWidth"><span></span>港澳台同胞目前均算在外籍内</p>
						<p class="ProvisionConet none">
							<a class="color50 middle">服务费：</a>
							<a class="total">￥0.00</a>
						</p>
					</div>
				</dd> -->
				<!-- 代理记账 -->
				<dd id="dljzService" class="serviceItemChoose">
					<h4 class="fz14 color50">记账报税一定要做<span class="titConet">国家规定</span></h4>
					<div class="inlineBlock select">
						<label id="product_1" class="yes" value="JZBS_93">多有米帮忙做吧<span class="icon_select"><img src="${ctxPath}/images/img/guideSelect.png"/></span></label>
						<label class="no">我有会计啦，谢谢<span class="icon_select"><img src="${ctxPath}/images/img/guideSelect.png"/></span></label>
					</div>
					<div class="inlineBlock Provision">
						<p class="ProvisionConet provisionWidth">
							<span></span>国家规定注册完成后必须记账报税，<a href="${ctxPath}/product/accounting.html">查看详情</a>
						</p>
						<p class="ProvisionConet none">
							<a class="color50 middle">价格：</a>
							<a class="total">￥0.00</a>
							<a class="deleteService"></a>
						</p>
					</div>
<!-- 					<p class="preferential">通过此页面注册公司并同时选择记账报税即可享受<span>立减200元</span>大优惠！</p> -->
					<div class="serviceItem none">
						<span class="angle"></span>
						<div class="JZservice w125">请选择记账服务</div>
						<div>
							<p class="inlineBlock w125 tc">请选择记账周期</p>
							<div class="inlineBlock selectTypes business_cycle" multi-select=false>
								<label business_code="JZBS_93">一年<span class="icon_select"><img src="${ctxPath}/images/img/guideSelect.png"/></span></label>
							</div>
						</div>
						<div>
							<p class="inlineBlock w125 tr"><span class="mr15">价格：</span></p>
							<div class="inlineBlock selectTypes ov">
								<p class="totalSumDiv fl"><span class="fz14 color50 bold">
<!-- 								<span class="fz14 bold lessSum">-200</span> -->
								<span class="totalSum">¥1816.00</span></p>
								<a  class="determine fr determineMagin service_confirm" href="javascript:void(0)">确定</a>
							</div>
						</div>
						<p class="tc mt10 colorRed none noSelectMsg">请选择公司性质和服务周期</p>
					</div>
				</dd>
				<!-- 刻章 -->
				<dd id="service_kz" class="serviceItemChoose">
					<h4 class="fz14 color50 ">是否需要代领执照及刻章</h4>
					<div class="inlineBlock select">
						<label id="product_2" class="yes" value="DLKZ_106">多有米代办<span class="icon_select"><img src="${ctxPath}/images/img/guideSelect.png"/></span></label>
						<label class="no">自己办理<span class="icon_select"><img src="${ctxPath}/images/img/guideSelect.png"/></span></label>
					</div>
					<div class="inlineBlock Provision">
						<p class="ProvisionConet provisionWidth"><span></span>注册公司必刻三章：公章，财务章，法人章</p>
						<p class="ProvisionConet none">
							<a class="color50 middle">工本费：</a>
							<a class="total">￥1500.00</a>
							<a class="deleteService"></a>
						</p>
					</div>
					<div class="serviceItem none">
						<span class="angle"></span>
						<div>
							<div class="inlineBlock selectTypes" multi-select=true>
								<label class="qysz_select marginLeft selectTypesHover default_select" business_code="ZCGS_012">企业三章<span class="icon_select" style="display: inline;"><img src="${ctxPath}/images/img/guideSelect.png"/></span></label>
							</div>
						</div>
						<div>
							<div class="mt20 selectTypes ov">
								<a  class="determine fr ml30  service_confirm" href="javascript:void(0)">确定</a>
								<p class=" fr"><span>工本费：</span><span class="totalSum">¥1816.00</span></p>
							</div>
						</div>
					</div>
					
				</dd>
				<!-- 成都刻章 -->
				<dd id="service_kz_cd" class="none calling serviceItemChoose" business_code="ZCGS_005" >
					<h4 class="fz14 color50 ">是否需要代领执照及刻章</h4>
					<div class="inlineBlock select">
						<label class="LabelHover" business_code="ZCGS_012">企业三章<span class="icon_select" style="display: inline;"><img src="${ctxPath}/images/img/guideSelect.png"/></span></label>
						<label class="fpzyz_select">发票专用章<span class="icon_select"><img src="${ctxPath}/images/img/guideSelect.png"/></span></label>
					</div>
					<div class="inlineBlock Provision">
						<p class="ProvisionConet provisionWidth"><span></span>注册公司必刻三章：公章，财务章，法人章</p>
						<p class="ProvisionConet none">
							<a class="color50 middle">工本费：</a>
							<a class="total">￥</a>
							<a class="deleteService" id="deleteCdService"></a>
						</p>
					</div>
				</dd>
				<!-- 是否需要办公室 -->
				<!-- <dd class="serviceItemChoose" business_code="ZCGS_015">
					<h4 class="fz14 color50 ">是否要找办公室</h4>
					<div class="inlineBlock select">
						<label class="yes" value="BGS" class="icon_select">多有米帮忙<span class="icon_select"><img src="${ctxPath}/images/img/guideSelect.png"/></span></label>
						<label class="no" class="icon_select">我有办公室<span class="icon_select"><img src="${ctxPath}/images/img/guideSelect.png"/></span></label>
					</div>
					<div class="inlineBlock Provision">
						<div class="ProvisionConet ProvisionConet1 preferential canHidePreferential none"><p class="">由多有米战略合作伙伴点点租为您提供，稍后请留意客服来电。</p></div>
					</div>
				</dd> -->
			</dl>
			
			
			<div class="tc tips_li fz16 none">您有部分选项未选</div>
			<!-- 合计 -->
			<div class="fr totalDiv">
				<span class="fz14 bold color50 middle">合计：</span>
				<span id="allPrice" class="total">￥0.00</span>
				<a id="define_buyNow" href="javascript:void(0)" class="btn_disabled define">确定</a>
			</div>
			<p class="cb"></p>
		</div>
		
		</form>

	</div>
	
	
	<%includeFileTemplate("/html/footer_temp.html"){ %><%}%>
</body>
</html>