<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- <link type="text/css" rel="stylesheet" href="${ctxPath}/old/css/newservice/common/common.css" /> -->
	<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
	<link type="text/css" rel="stylesheet" href="${ctxPath}/css/newservice/label.css">
	<%if(!isEmpty(labelCenterSeo)){%>
		<title>${labelCenterSeo.title!}</title>
		<meta name="keywords" content="${labelCenterSeo.keywords!}" />
		<meta name="description" content="${labelCenterSeo.description!}" />
	<%}%>
</head>
<body>
	<!--头部导航-->
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
	<div class="w_1200">
		<div class="breadLines">
			<img src="${ctxPath}/images/img/home.png" class="middle mr10"/><a href="${ctxPath}/">首页</a><span>></span>
			<a class="lineTit">标签中心</a>
		</div>
		<ul class="labels clearfix">
			<%if(!isEmpty(result)) {for(item in result){%>
				<li class="f20 light-black"><a style="display:block;width:100%" href="${ctxPath}/wz/tag/${item.id}.html">${item.labelName}</a></li>
			<%}}%>
		</ul>
	</div>
	<%includeFileTemplate("/html/footer_temp.html"){ %><%}%>
</body>
</html>