<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<%if(!isEmpty(articleMoreSeo)){%>
	<title>${articleMoreSeo.title!}-${sysCompanyResult.values.companyAbb!}</title>
	<meta name="keywords" content="${articleMoreSeo.keywords!}" />
	<meta name="description" content="${articleMoreSeo.description!}" />
<%}%>
	<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
	<link rel="stylesheet" href="${ctxPath}/css/subject.css" />
	<script type="text/javascript" src="${ctxPath}/js/common/jquery.page.js" ></script>
	<script type="text/javascript" src="${ctxPath}/js/subject/subject.js" ></script>
</head>
<body>
	<!--头部导航-->
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%> 
	<div class="subject-nav w_1160">
		<div class="breadLines">
			<img src="${ctxPath}/images/img/home.png" class="middle mr10"/><a href="${ctxPath}/">首页</a><span class="middle">></span>
			<a href="${ctxPath}/wz/all.html" class="middle">知识库</a><span class="middle">></span>
			<a class="lineTit">全部</a>
		</div>
		<div class="subject-head">
			<ul class="clearfix f18 white typeCodeul">
				<li class="subject-nav-title fz16 bold">知识类型</li>
				<%if(!isEmpty(alltype)){ %>
					<%for(item in alltype){%>
						<%if(!isEmpty(item.categoryCode) && itemLP.index <= 7){%>
							<%if(!isEmpty(categoryCode) && strutil.toUpperCase(item.categoryCode) == strutil.toUpperCase(categoryCode)){%>
								<li class="fz14"><a href="${ctxPath}/wz/type/${strutil.toLowerCase(item.categoryCode)}.html" class="focus" tcode="${item.categoryCode}">${item.categoryName}<span class="sprite upar"></span></a></li>
							<%}else{%>
								<li class="fz14"><a href="${ctxPath}/wz/type/${strutil.toLowerCase(item.categoryCode)}.html" tcode="${item.categoryCode}">${item.categoryName}<span class="sprite upar"></span></a></li>
							<%}%>
						<%}%>
					<%}%>
				<%}%>
		</div>
	</div>
	<div class="subject-biaoqian clearfix w_1160">
		<ul class="left clearfix light-black keysCode">
		<%if(!isEmpty(articleKeys) && !isEmpty(articleKeys.values)){%>
			<%for(item in articleKeys.values) {%>
				<%if(!isEmpty(item.keyCode)){%>
					<li>
						<%if(!isEmpty(item.keyCode) ){%>
							<%if(!isEmpty(keyCode) && strutil.toUpperCase(item.keyCode) == strutil.toUpperCase(keyCode)){%>
								<strong><a href="${ctxPath}/wz/key/${strutil.toLowerCase(item.keyCode)}.html" style="text-decoration: underline;">${item.keyText}</a></strong>
							<%}else{%>
								<a href="${ctxPath}/wz/key/${strutil.toLowerCase(item.keyCode)}.html" >${item.keyText}</a>
							<%}%>
						<%}%>
					</li>
				<%}%>
			<%}%>
		<%}%>
		</ul>
	</div>
	<div class="subject-content w_1160">
		<div class="clearfix">
			<div>
				<ul class="subjectMorem" id="articleContent">
					<%if(!isEmpty(more)){%>
						<%for(item in more) {
					%>
					<li>
						<a href="${ctxPath}/wz/${item.id}.html" title="" target="_bank" articleid="${item.idid}">
							<p class="light-black subject-content-titlea fl"><i></i>${item.articleTitle}</p>
							<p class="fr dateTime">${item.articleCreateDate,dateFormat='yyyy年MM月dd日'}</p>
							<div class="cb"></div>
						</a>
					</li>
						<%}%>
					<%} else {%>
						<li class="noRes">非常抱歉，没有搜索到相关内容</li>
					<%}%>
				</ul>
			</div>
		</div>
	</div>
	<!--底部-->
	<%includeFileTemplate("/html/footer_temp.html"){ %><%}%> 
</body>
</html>