<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
	<link rel="stylesheet" href="${ctxPath}/css/subject.css" />
	<title>${detail.article.articleTitle!}-${sysCompanyResult.values.companyAbb!}</title>
	<meta name="keywords" content="${detail.article.articleKeyword!}" />
	<meta name="description" content="${detail.article.articleDesc!}" />
</head>
<body>
	<!--头部导航-->
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%> 
	<div class="subject-nav w_1160">
		<div class="breadLines">
			<img src="${ctxPath}/images/img/home.png" class="middle mr10"/><a href="${ctxPath}/">首页</a><span>></span>
			<a href="${ctxPath}/wz/all.html" class="vb">知识库</a><span>></span>
			<a class="lineTit">
				<%if(strutil.length(detail.article.articleTitle) > 28){%>
					${strutil.subStringTo (detail.article.articleTitle,0,25)}...
				<%}else{%>
					${detail.article.articleTitle}
				<%}%>
			</a>
		</div>
		<div class="subject-head">
			<ul class="clearfix f18 white typeCodeul">
				<li class="subject-nav-title fz16 bold">知识类型</li>
				<%if(!isEmpty(alltype)){ %>
					<%for(item in alltype){%>
						<%if(!isEmpty(item.categoryCode) && itemLP.index <= 7){%>
							<%if(!isEmpty(categoryCode) && strutil.toUpperCase(item.categoryCode) == strutil.toUpperCase(categoryCode)){%>
								<li class="fz14"><a href="${ctxPath}/wz/type/${strutil.toLowerCase(item.categoryCode)}.html" class="focus" tcode="${item.categoryCode}">${item.categoryName}<span class="sprite upar"></span></a></li>
							<%}else{%>
								<li class="fz14"><a href="${ctxPath}/wz/type/${strutil.toLowerCase(item.categoryCode)}.html" tcode="${item.categoryCode}">${item.categoryName}<span class="sprite upar"></span></a></li>
							<%}%>
						<%}%>
					<%}%>
				<%}%>
		</div>
	</div>
	<div class="subject-biaoqian clearfix w_1160">
		<ul class="clearfix light-black keysCode">
		<%if(!isEmpty(articleKeys) && !isEmpty(articleKeys.values)){%>
			<%for(item in articleKeys.values) {%>
				<%if(!isEmpty(item.keyCode)&&!isEmpty(item.keyText)){%>					
						<%if(!isEmpty(item.keyCode) && itemLP.index <= 29){%>
							<li>
							<%if(!isEmpty(keyCode) && strutil.toUpperCase(item.keyCode) == strutil.toUpperCase(keyCode)){%>
								<strong><a href="${ctxPath}/wz/key/${strutil.toLowerCase(item.keyCode)}.html" style="text-decoration: underline;">${item.keyText}</a></strong>
							<%}else{%>
								<a href="${ctxPath}/wz/key/${strutil.toLowerCase(item.keyCode)}.html" >${item.keyText}</a>
							<%}%>
							</li>
						<%}%>					
				<%}%>
			<%}%>		
		<%}%>
		 <li class="subjectMore"><a href="${ctxPath}/wz/more.html">更多知识</a></li>
		</ul>
	</div>
	<div class="subject-detail w_1160 clearfix">
		<div class="fl w_620 contant">
			<div class="mag60">
				<p class="tc tis fz20 light-black">${detail.article.articleTitle}</p>
				<p class="tc gray"><span>来源：${isEmpty(detail.article.articleSource) ? '未知来源' : detail.article.articleSource}
				</span><span>时间：${detail.article.articleCreateDate,dateFormat='yyyy-MM-dd HH:mm:ss'}</span><span>浏览次数：${detail.article.articleVisitNumber}次</span></p>
			</div>
			<div class="fz14">
				${detail.articleExt!}
			</div>
			<div class="links detailNavigation">
				<p class="pr blue"><span class="icon labels"></span><span class="gray">标签：</span>
					<%if(!isEmpty(detail.articleLabel)){ for(item in detail.articleLabel){%>
					<a href="${ctxPath}/wz/tag/${item.id}.html">${item.labelName}</a>
					<%}}%>
				</p>
				<%if(!isEmpty(detail.upArticle)){%>
					<p class="fz14 gray"><a href="${ctxPath}/wz/${detail.upArticle.id}.html">上一篇：${detail.upArticle.articleTitle}</a></p>
				<%}else {%>
					<p class="fz14 gray">已是第一篇文章</p>
				<%}%>
				
				<%if(!isEmpty(detail.nextArticle)){%>
					<p class="fz14 gray"><a href="${ctxPath}/wz/${detail.nextArticle.id}.html">下一篇：${detail.nextArticle.articleTitle}</a></p>
				<%}else {%>
					<p class="fz14 gray">已是最后一篇文章</p>
				<%}%>
			</div>
		</div>
		<div class="fl mag60">
			<p class="tits fz16 bold">相关资讯</p>
			<ul class="light-black fz14 subject-content-company relatedul">
				<%if(!isEmpty(detail.relatedList)){%>
					<%for(item in detail.relatedList){%>
						<li><a href="${ctxPath}/wz/${item.id}.html" ><span>${itemLP.index}</span>${item.articleTitle}</a></li>
					<%}%>
				<%}%>
			</ul>
		</div>
		<input type="hidden" name="typeCode" id="typeCode" value="${typeCode!}" />
		<input type="hidden" name="keyCode" id="keyCode" value="${keyCode!}" />
		<input type="hidden" name="searchValue" id="searchValue" value="${searchValue!}" />
		<input type="hidden" name="detailType" id="detailType" value="${detailType!}" />
		<input type="hidden" name="pageSize" id="pageSize" value="30" />
	</div>
	<!--底部-->
	<%includeFileTemplate("/html/footer_temp.html"){ %><%}%> 
</body>
</html>