<!DOCTYPE html>
<html>
<head>
	<meta name="renderer" content="webkit">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<%if(!isEmpty(alltypeSeo)){%>
		<title>${alltypeSeo.keyTitle}</title>
		<meta name="keywords" content="${alltypeSeo.keyWords}" />
		<meta name="description" content="${alltypeSeo.categoryDesc}" />
	<%}else if(!isEmpty(alltypeKeySeo)){%>
		<title>${alltypeKeySeo.keyTitle}</title>
		<meta name="keywords" content="${alltypeKeySeo.keyWords}" />
		<meta name="description" content="${alltypeKeySeo.keyDesc}" />
	<%}else if(!isEmpty(articleSeo)){%>
		<title>${articleSeo.title}</title>
		<meta name="keywords" content="${articleSeo.keywords!}" />
		<meta name="description" content="${articleSeo.description!}" />
	<%}else{%>
		<title>公司注册知识大全</title>
	<%}%>	
	<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
	<link type="image/x-icon" href="${ctxPath}/images/logo_icoi.ico" rel="shortcut icon" />
	<link rel="stylesheet" href="${ctxPath}/css/subject.css" />
	<script type="text/javascript" src="${ctxPath}/js/common/jquery.page.js" ></script>
	<script type="text/javascript" src="${ctxPath}/js/subject/subject.js" ></script>
</head>
<body>
	<!--头部导航-->
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%> 
	<div class="subject-nav w_1160">
		<div class="breadLines">
			<img src="${ctxPath}/images/img/home.png" class="middle mr10"/><a href="${ctxPath}/">首页</a><span class="middle">></span>
			<a href="${ctxPath}/wz/all.html" class="middle">知识库</a><span class="middle">></span>
			<%if(!isEmpty(categoryName)) {%>
					<a class="lineTit">${categoryName!}</a>
			<% } else if(!isEmpty(searchValue)) {%> 
					<a class="lineTit">${searchValue}</a>
			<% } else if(!isEmpty(keyName)) {%> 
					<a class="lineTit">${keyName!}</a>
			<%}else{%>
						<a class="lineTit">全部</a>
			<%}%>
		</div>
		<div class="subject-head">
			<ul class="clearfix f18 white typeCodeul">
				<li class="subject-nav-title fz16 bold">知识类型</li>
				<%if(!isEmpty(alltype)){ %>

					<%for(item in alltype){%>
						<%if(!isEmpty(item.categoryCode) && itemLP.index <= 7){%>
							<%if(!isEmpty(categoryCode) && strutil.toUpperCase(item.categoryCode) == strutil.toUpperCase(categoryCode)){%>
								<li class="fz14"><a href="${ctxPath}/wz/type/${strutil.toLowerCase(item.categoryCode)}.html" class="focus" tcode="${item.categoryCode}">${item.categoryName}<span class="sprite upar"></span></a></li>
							<%}else{%>
								<li class="fz14"><a href="${ctxPath}/wz/type/${strutil.toLowerCase(item.categoryCode)}.html" tcode="${item.categoryCode}">${item.categoryName}<span class="sprite upar"></span></a></li>
							<%}%>
						<%}%>
					<%}%>
				<%}%>
		</div>
	</div>
	<div class="subject-biaoqian clearfix w_1160">
		<ul class="clearfix light-black keysCode">
		<%if(!isEmpty(articleKeys) && !isEmpty(articleKeys.values)){%>
			<%for(item in articleKeys.values) {%> <%if(itemLP.index<=47){%>
				<%if(!isEmpty(item.keyCode)&&!isEmpty(item.keyText)){%>
					<li>
						<%if(!isEmpty(item.keyCode) && itemLP.index <= 47){%>
							<%if(!isEmpty(keyCode) && strutil.toUpperCase(item.keyCode) == strutil.toUpperCase(keyCode)){%>
								<strong><a href="${ctxPath}/wz/key/${strutil.toLowerCase(item.keyCode)}.html" style="text-decoration: underline;">${item.keyText!}</a></strong>
							<%}else{%>
								<a href="${ctxPath}/wz/key/${strutil.toLowerCase(item.keyCode)}.html" >${item.keyText}</a>
							<%}%>
						<%}%>
					</li>
				<%}%>
			<%}}%>
			<%}%>
			<li class="subjectMore"><a href="${ctxPath}/wz/more.html">更多知识</a></li>
		
		</ul>
	</div>
	<div class="subject-content w_1160">
		<div class="clearfix">
			<div class="fl">
				<ul class="artical clearfix" id="articleContent">
					<%if(!isEmpty(allArticle) && !isEmpty(allArticle.rows)){%>
						<%for(item in allArticle.rows) {
					%>
					<li>
						<a href="${ctxPath}/wz/${item.id}.html" title="" target="_blank" articleid="${item.id}">
							<p class="fz15 light-black subject-content-title">${item.articleTitle}
							</p>
						<p class="subject-content-cts">
							<%if(!isEmpty(item.attachment)){%>
								<img src="${item.attachment.fillFilePath}" alt="${item.articleTitle}" style="padding:10px;">
							<%}%>
						</p> 
						<%if(!isEmpty(item.articleDesc) && strutil.length(item.articleDesc) > 63){%>
							<p class="f14 light-gray subject-content-cts pd22">${strutil.subStringTo (item.articleDesc,0,60)}...</p>
						<%}else{%>
							<p class="f14 light-gray subject-content-cts pd22">${item.articleDesc}</p> 
						<%}%>
						</a>
						<!-- <p class="f16 light-gray subject-content-cts pd22">${item.displayDesc}</p> -->
					</li>
						<%}%>
					<%} else {%>
						<li class="noRes">非常抱歉，没有搜索到相关内容</li>
					<%}%>
				</ul>
				<%if(!isEmpty(allArticle.rows)){%>
					<!-- <div class="center"><span class="show-more f20"><a href="javascript:void(0);" id="loadMore">查看更多</a></span></div> -->
					<div class="paging articleResultPage"></div>
				<%}%>
			</div>
			<div class="subject-content-company light-black fl">
				<!-- <a href="http://www.szscjg.gov.cn" target="_blank" rel="nofollow" class="cpsearch gray f20">公司查询入口</a> -->
				<div>
					<p class="fz16 tis"><span>最新文章</span></p>
					<ul id="newArticle">
						<%if(!isEmpty(newArticle) && !isEmpty(newArticle.rows)){%>
							<%for(item in newArticle.rows) {%>
								<li><a target="_blank" href="${ctxPath}/wz/${item.id}.html"><span>${itemLP.index}</span>${item.articleTitle}</a></li>
							<%}%>
						<%}%>
					</ul>
				</div>
				<div>
					<p class="fz16 tis" style="margin-top:30px;"><span>最热文章</span></p>
					<ul style="border:none;" id="hosArticle">
						<%if(!isEmpty(hotArticle) && !isEmpty(hotArticle.rows)){%>
							<%for(item in hotArticle.rows){%>
								<li><a target="_blank" href="${ctxPath}/wz/${item.id}.html"><span>${itemLP.index}</span>${item.articleTitle}</a></li>
							<%}%>
						<%}%>
					</ul>
				</div>
				<div id="getad">
					
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" name="categoryCode" id="categoryCode" value="${categoryCode!}" />
	<input type="hidden" name="keyCode" id="keyCode" value="${keyCode!}" />
	<input type="hidden" name="searchValue" id="searchValue" value="${searchValue!}" />
	<input type="hidden" name="pageNo" id="pageNo" value="${pageNo!}" />
	<input type="hidden" name="totalPage" id="totalPage" value="${totalPage!}" />
	<!--底部-->
	<%includeFileTemplate("/html/footer_temp.html"){ %><%}%> 
</body>
</html>