<link rel="stylesheet" href="${ctxPath}/css/newservice/common.css" />
<script type="text/javascript" src="${ctxPath}/js/channel/nav.js"></script>
<!--头部广告-->
<%if(!isEmpty(adinfo)){%>
	<div class="ov" style="background:url(${adinfo.attachment.fillFilePath}) center top no-repeat; height: 50px; line-height: 50px; width:100%; min-width: 1200px;">
		<a href="${adinfo.url}">
			<p class="advertisingDetail w_1200 ov">
				<span onclick="$('.ov').hide();return false"><img src="${ctxPath}/images/clos.png"/></span>
			</p>
		</a>
	</div>
<%}%>
<div class="index-navbar">
	<div class="min-navbar min-navbar">
		<div class="w_1200 clearfix topbar">
			<div class="pull-left clearfix fl">
				<span>欢迎来${sysCompanyResult.values.companyAbb!} —— 为创业者提供“星”级服务！</span>
			</div>
			<div class="pull-right clearfix fr">
				<div class="pr">
					<p class="gzewm">关注二维码<img src="${ctxPath}/images/newImg/bottomJt.png" class="middle ml5"/></p>
					<p class="ewmtop none"><img src="${ctxPath}/images/img/ewm.png" alt="qrCode" /></p>
				</div>
			</div>
			<p class="cb"></p>
		</div>
	</div>
	
	<div class="max-navbar">
		<div class="w_1200">
			<div class="logoDiv">
				<h1 class="logo fl"><a href="${ctxPath}/"><img src="${ctxPath}/images/newImg/logo.gif" /></a></h1>
				<div class="fl topNews tc">
					<ul class="clearfix articleKeys">
						<li class="pr">
							<div><input type="text" placeholder="请输入关键字" class="searchTxt1"/>
							<span id="searchBtn" class="search_icon"><img src="${ctxPath}/images/newImg/topSearch.png"/></span>
							</div>
						</li>
						<p class="NavActivity">
							
						</p>
					</ul>
				</div>
				
				<div class="fr pr loginTopDiv">
						<a href="${ctxPath}/account/index.html?leftNav=myOrder">
						<%if(session!=null&&session.user!=null&&session.user.attachment!=null){%>
							<img src="${session.user.attachment.fillFilePath}" id="attrId" style="cursor: pointer;  width: 35px; height: 35px;"/>
						<%}else{%> 
							<span class="login_icon"></span>	
						<%}%>
						</a>
						<%if(session!=null&&session.user!=null){%>
				 			<a class="tanset" href="${ctxPath}/ordPaymentOrder/index.html?leftNav=orderCenter">${session.user.customerName}&nbsp;欢迎您</a>
				 			<span>|</span>
							<a class="tanset" href="${ctxPath}/customer/loginOut.html">[退出]</a>
				 		<%}else{%>
							<a href="${ctxPath}/customer/loginUI.html" target="_blank" class="tanset">登录</a><span>|</span><a target="_blank" href="${ctxPath}/customer/registerUI.html" class="tanset">注册</a>
						<% }%>
					</p>
				</div>
				<p class="cb"></p>				
			</div>
			<div class="pr nav_main nav_main1 fl">
					<ul class="clearfix fz14">
						<li class="pr all_servicesLi">
							<a href="javascript:void(0)" class="all_services">
								<span class="allIcon"></span><span class="fz16">全部服务分类</span><!-- <span class="allBotton"> --></span>
							</a>
							<div class="childNav none">
								<dl class="childNavDl pr none">
									<%if(!isEmpty(categoryTreee)&&!isEmpty(categoryTreee[0])){%>
										<%for(serviceCategory in categoryTreee[0].nodes){%>		
											<dd>
												<div>
													&nbsp;&nbsp;
													<span class="categoryCommon category">${serviceCategory.text}</span>
													<span class="topCommon topCommonRight"></span>
												</div>
												<div class="clildNavDiv">
													<dl>
														<%if(serviceCategory.nodes!=null){%>
															<%for(service in serviceCategory.nodes){%>
																<dd>
																	<div class="NavContentLeft">${service.text}</div>
																	<div class="NavContentRight">
																		<%for(product in service.product){%>		
																			<a href="${ctxPath}/productModel/${product.id}.html">${product.name}</a>
																		<%}%>
																	</div>
																</dd>
															<%}%>
														<%}%>
													</dl>
												</div>
											</dd>
										<%}%>
									<% }%>
								</dl>
							</div>
						</li>
						<%if(!isEmpty(topList)){for(item in topList){%>
							<%if(itemLP.index<=3){%>
								<li><a target="_blank" href="${ctxPath}/productModel/sku_${item.id}.html">${item.name}</a></li>
							<%}%>
						<%}}%>
						<li><a target="_blank" href="${ctxPath}/ask/index.html">星问答</a></li>
						<li><a target="_blank" href="${ctxPath}/wz/all.html">星知库</a></li>
						<li><a href="${ctxPath}/aboutus.html" target="_blank">星家园</a></li>
					</ul>
				</div>
				<div class="fr">
					<div class="index-ic-tell">
						<i></i>${sysCompanyResult.values.phone}
					</div>
				</div>
			<div class="cb"></div>	
		</div>	
	</div>
</div>


<!-- qq咨询 -->
<div class="advisory_qq">
	<ul class="advisory_list">
		<li>
			<%if(!isEmpty(qqexternalinfo)){%>
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=${qqexternalinfo.word}&site=qq&menu=yes">
			<%}else{%>
				<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes">
			<%}%>
				<div class="qqzxDiv">
					<div class="qqzxImg qqZx"></div>
					<h4>在线咨询</h4>
				</div>
			</a>
		</li>
		<li class="rightRwmShow">
			<a href="javascript:void(0);">
				<div class="gzwxIconDiv">
					<div class="gzwxIcon gzwxIconDiv1"></div>
					<h4>微信咨询</h4>
				</div>
			</a>
			<p class="rightRwmIcon none"><img src="${ctxPath}/images/newImg/rightRwm.png"/></p>
		</li>
		<li style="border-bottom: 0;" class="js_shop">
			<a target="_blank"  href="${ctxPath}/ordCart/shoppingCart.html">
				<div class="jrgwcDiv pr">
					<div class="jrgwcImg jrgwc"></div>
					<p class="gwcslDiv numbers jion jion_number">
					<%if(!isEmpty(ordCartNum)){%>
					${ordCartNum.ordCartNum}
						<%}%>
						</p>
					<h4>购物车</h4>
				</div>
			</a>
		</li>
		<li class="advisory_listBottom" style="border-bottom: 0; border-top: 1px solid #ccc;">
			<a href="javascript:void(0);">
				<div class="hddbDiv">
					<div class="hddbImg hddb"></div>
					<h4>回到顶部</h4>
				</div>
			</a>
		</li>
	</ul>
</div>



<script type="text/javascript">
	$(".nav_main1 .clearfix li").eq(1).append("<span></span>");
	$(".nav_main1 .clearfix li").eq(2).append("<span></span>");
	$(function(){
		//导航
	 $(".all_services").mouseover(function(){
			$(".childNav").show();
			$(".childNavDl").show();
			/* $(".allBotton").removeClass('allBotton').addClass('allTop'); */
		});
		$(".childNavDl dd").mouseover(function(){
			$(".childNavDl dd").removeClass('childNavHover');
			$(this).addClass('childNavHover');
			$(".clildNavDiv").removeClass('clildNavDivHover');
			var i = $(this).index();
			$(".childNavDl dd > .clildNavDiv").hide();
			$($(".clildNavDiv")[i]).show();
			$($(".clildNavDiv")[i]).addClass('clildNavDivHover')
		});
		$(".childNav").mouseleave(function(){
			$(".clildNavDiv").hide();
			$(".childNavDl dd").removeClass('childNavHover');
			if(location.pathname == "${ctxPath}/") return;
			$(".childNav").hide();
			$(".childNavDl").hide();
		});
		$(".all_servicesLi").mouseleave(function(){
			if(location.pathname == "${ctxPath}/") return;
			$(".childNavDl").hide();
			$(".clildNavDiv").hide();
		}); 
		
		//二维码显示
		$(".rightRwmShow").mouseover(function(){
			$(".rightRwmIcon").show();
		});
		$(".rightRwmShow").mouseleave(function(){
			$(".rightRwmIcon").hide();
		});
		/* 滚动 */
		$(document).scroll(function(){
			var scrollTop = $(window).scrollTop();
			if(scrollTop <= 0){
				$('.advisory_list .advisory_listBottom').hide();
			}else{
				$('.advisory_list .advisory_listBottom').show();
			}
		});
		$(".advisory_listBottom").click(function () {
	        var speed=200;//滑动的速度
	        $('body,html').animate({ scrollTop: 0 }, speed);
	        return false;
	 	});
		
		$(".gzewm").mouseover(function(){
			$(".ewmtop").show();
		});
		$(".gzewm").mouseleave(function(){
			$(".ewmtop").hide();
		});
		   
	})
</script>
<script type="text/javascript" src="${ctxPath}/js/common/top.js"></script>
