

<%if(!isEmpty(adinfo)){%>
	<div class="ov" style="background:url(${adinfo.attachment.fillFilePath}) center top no-repeat; height: 50px; line-height: 50px; width:100%; min-width: 1200px;">
		<a href="${adinfo.url}">
			<p class="advertisingDetail w_1200 ov">
				<span onclick="$('.ov').hide();return false" style="float: right;margin-top: 5px;"><img src="${ctxPath}/images/clos.png"/></span>
			</p>
		</a>
	</div>
<%}%>
<div class="index-navbar">
	<div class="min-navbar min-navbar">
		<div class="w_1200 clearfix topbar">
			<div class="pull-left clearfix fl">
			 <!-- 新增城市切换2017-04-07 -->
			  <div class="location fl">
			    <div class="w_95">
			      <span class="icon icon_location"></span><span class="js_localcity"><a href="javascript:void(0);" id="area">${currZd.areaName}</a></span><span class="icon down_icon"></span>
			    </div>
			    <div class="urbanAreas" style="display: none;" id="zdList">
			     <%if(!isEmpty(allZZDList) && !isEmpty(allZZDList.values)){for(zhandian in allZZDList.values){%>
			     	<%if(zhandian.areaName!="深圳市"){%>
					  <a href="${zhandian.websiteUrl}" rel="nofollow" class="site" onclick="zdqh(${zhandian.areaId});">
				        <span>${zhandian.areaName}</span>
				      </a>
				   <%}else{%>
						<a href="${zhandian.websiteUrl}" class="site" onclick="zdqh(${zhandian.areaId});">
				        <span>${zhandian.areaName}</span>
				      </a>
				   <%}%>
				<%}}%>
			    </div>
			  </div>
<div class="topC-left" style="margin-left:0px;color: #707070;margin-left: 120px;">
       <span>本网站由<a target="_blank" href="http://www.caishuibaba.com/" rel="nofollow" style="text-decoration:underline;">财税电商宝</a>提供技术支持</span>
</div>
			</div>
			<div class="pull-right ml15 fr">
				<div class="pr">
					<p class="gzewm"><img src="${ctxPath}/images/newImg/top-3.png" class="middle mr10" /><span class="middle">移动应用</span><img src="${ctxPath}/images/newImg/bottomJt.png" class="middle ml5"/></p>
					<p class="ewmtop none"><img src="${ctxPath}/images/newImg/ewm_cybb.png" alt="qrCode" /></p>
				</div>
			</div>
			<div class="ml15 fr">
				<div class="pr">
					<!--<a target="_blank" href="${ctxPath}/manage2.0" rel="nofollow" target="_blank"><span>服务商加盟</span></a>-->
				</div>
			</div>
			<div class="fr pr loginTopDiv">
				<p class="tanset center us_login">
					<%if(session!=null&&session.user!=null){%>
				 		<a class="tanset" href="${ctxPath}/ordPaymentOrder/index.html?leftNav=orderCenter">【我的账户】</a>
						<a class="tanset" href="${ctxPath}/customer/loginOut.html">[退出]</a>
				 	<%}else{%>
						<a href="${ctxPath}/customer/loginUI.html" rel="nofollow  class="tanset"><img src="${ctxPath}/images/newImg/loginTop.png" class="middle" /><span class="middle">登录</span></a>
						<a target="_blank" href="${ctxPath}/customer/registerUI.html" rel="nofollow class="tanset1"><img src="${ctxPath}/images/newImg/top-2.png" class="middle" /><span class="middle">注册</span></a>
				 	<% }%>
				</p>
			</div>
			<p class="cb"></p>
		</div>
	</div>
	
	<div class="max-navbar">
		<div class="w_1200">
			<div class="logoDiv">
				<h1 class="logo fl"><a href="${ctxPath}/"><img src="${ctxPath}/images/newImg/logo.jpg" /></a></h1>
				<div class="fl topNews tc">
					<ul class="clearfix articleKeys">
						
						<li class="pr">
							<input type="text" placeholder="查询公司名称能否注册" class="searchTxt1 inquire_btn2" style="height: 30px;"/>
							<span id="searchBtn" class="search_icon" style="height: 34px;"><p class="ksxc1" style="margin-top: -9px;margin-left: -20px;">查询</p></span>
						</li>
						<!-- <li>
							<a href="${ctxPath}/wz/type/gszc.html" style="font-size: 11px;">深圳工商注册</a>
							<a href="${ctxPath}/wz/key/zclc.html" style="font-size: 11px;">工商注册流程</a>
							<a  href="${ctxPath}/wz/key/dzbz.html" style="font-size: 11px;">代理记账收费标准</a>
							<a  href="${ctxPath}/wz/key/gsdl.html" style="font-size: 11px;">公司工商注册代办</a>
						</li> -->
					</ul>
				</div>
				<div class="fr logo-center">
					<ul>
		                <li>
		                    <img src="${ctxPath}/images/newImg/top-2-1.png" />
		                    <span>千人团队</span>
		                </li>
		                <li>
		                    <img src="${ctxPath}/images/newImg/top-2-2.png" />
		                    <span>大量好评</span>
		                </li>
		                <li>
		                    <img src="${ctxPath}/images/newImg/top-2-3.png" />
		                    <span>极速递交</span>
		                </li>
		                <li>
		                    <img src="${ctxPath}/images/newImg/top-2-4.png" />
		                    <span>上门服务</span>
		                </li>
	           		 </ul>
				</div>
				<p class="cb"></p>				
			</div>
		</div>
		<div class="max-navbar-div navTop">
			<div class="w_1200">
				<div class="pr nav_main nav_main1 fl">
						<ul class="clearfix fz14">

							<li class="pr all_servicesLi">
								<a href="javascript:void(0)" class="all_services" style=" width: 208px;">
									<img src="${ctxPath}/images/newImg/storTop.png" class="middle" /><span class="fz16 ml15">全部服务分类</span>
								</a>
								<div class="childNav none">
									<dl class="childNavDl pr none">
									 <%if(!isEmpty(categoryTreee)&&!isEmpty(categoryTreee[0])){%>
										<%for(serviceCategory in categoryTreee[0].nodes){%>		
										<dd class="clildNavDivHight">
											<div>
												<span class="mlmr">
													<img class="middle"  style="width:20px;height:20px" src="${ctxPath}/images/${serviceCategoryLP.index}.png" >
												</span>
												<span class="categoryCommon category">${serviceCategory.text}</span>
												<span class="topCommon topCommonRight"></span>
											</div>
											<div class="clildNavDiv">
												<dl>
													<%if(serviceCategory.nodes!=null){%>
														<%for(service in serviceCategory.nodes){%>
														<dd>
															<div class="NavContentLeft">${service.text}</div>
															<div class="NavContentRight">
																<%for(product in service.product){%>		
																	<a href="${ctxPath}/productModel/${product.id}.html">${product.name}</a>
																<%}%>
															</div>
														</dd>
														<%}%>
													<%}%>
												</dl>
											</div>
										</dd>
										<%}%>
									<% }%>
									</dl>
								</div>
							</li>
							<li><a target="_blank" href="${ctxPath}/">首页</a></li>
							<%if(!isEmpty(topList)){for(item in topList){%>
								<%if(itemLP.index<=2){%>
									<li class="pr">
									<span style="position: absolute;top: 0px;right: 0;display: block;">
										<img src="${ctxPath}/images/hot.gif" alt="" />
									</span>
									<a target="_blank" href="${ctxPath}/productModel/sku_${item.id}.html">${item.name}</a></li>
								<%}%>
							<%}}%>
							<!-- <li><a target="_blank" href="${ctxPath}/cydk.html">创业贷款</a></li> -->
							<!-- <li><a target="_blank" href="${ctxPath}/sbdj.html">社保代缴</a></li> -->
							<li><a target="_blank" href="http://www.chuangyebaba.com/fws.html" rel="nofollow"><span>加盟入口</span></a></li>
							<li><a target="_blank" href="${ctxPath}/wz/all.html">创业头条</a></li>
							<!-- <li><a target="_blank" href="${ctxPath}/ask/index.html">创业问答</a></li>
							<li><a href="${ctxPath}/aboutus.html" target="_blank">关于我们</a></li> -->
						</ul>
					</div>
					<div class="fr">
						<div class="index-ic-tell">
							<i></i>${currPhone.title!}
							<!-- 备份 ${sysCompanyResult.values.phone!} -->
						</div>
					</div> 
				<div class="cb"></div>	
			</div>
		</div>	
</div>

</div>
<!-- qq咨询 -->
<div class="advisory_qq">
	<ul class="advisory_list">
		<li>
				<%if(!isEmpty(qqexternalinfo)){%>
					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=${qqexternalinfo.word}&site=qq&menu=yes" rel="nofollow">
				<%}else{%>
					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes" rel="nofollow">
				<%}%>
				<div class="qqzxDiv">
					<div class="qqzxImg qqZx"></div>
					<h4>QQ咨询</h4>
				</div>
			</a>
		</li>
		<li class="rightRwmShow">
			<a href="javascript:void(0);">
				<div class="gzwxIconDiv">
					<div class="gzwxIcon gzwxIconDiv1"></div>
					<h4>微信咨询</h4>
				</div>
			</a>
			<p class="rightRwmIcon none" style="display: -none;">
				<i class="triangle"></i>
				<em class="ewm_wz">扫码咨询</em>
				<span style="display: inline-block;"><img src="${ctxPath}/images/newImg/rightRwm.png" style="width: 150px;height: 150px;"></span>
			</p>
		</li>
		<!-- <li style="border-bottom: 0;" class="js_shop">
			<a target="_blank"  href="${ctxPath}/ordCart/shoppingCart.html" rel="nofollow">
				<div class="jrgwcDiv pr">
					<div class="jrgwcImg jrgwc"></div>
					<p class="gwcslDiv numbers jion jion_number">
						<%if(!isEmpty(ordCartNum)){%>
							${ordCartNum.ordCartNum}
						<%}%>
					</p>
					<h4>购物车</h4>
				</div>
			</a>
		</li> -->
		<li class="advisory_listBottom" style="border-bottom: 0; border-top: 1px solid #ccc;">
			<a href="javascript:void(0);">
				<div class="hddbDiv">
					<div class="hddbImg hddb"></div>
					<h4>回到顶部</h4>
				</div>
			</a>
		</li>
	</ul>
</div>

<!-- 左侧客服 -->
<%if(!isEmpty(kfinfo)){%>

${kfinfo.description!}

<%}%>

<script type="text/javascript">
	$(function(){
		//导航
	 	$(".all_services").mouseover(function(){
			$(".childNav").show();
			$(".childNavDl").show();
			/* $(".allBotton").removeClass('allBotton').addClass('allTop'); */
		});
		
		$('.childNavDl').mouseleave(function(){
			$(this).hide();
			if(location.pathname == "/"){
				$(".childNav").show();
				$(".childNavDl").show();
			}
		});
		
		$(".childNavDl dd").mouseover(function(){
			$(".childNavDl dd").removeClass('childNavHover');
			$(this).addClass('childNavHover');
			$(".clildNavDiv").removeClass('clildNavDivHover');
			var i = $(this).index();
			//鼠标移入，先隐藏所有二级菜单，当前二级菜单显示
			$(".childNavDl dd > .clildNavDiv").hide();
			$($(".clildNavDiv")[i]).show();
			$($(".clildNavDiv")[i]).addClass('clildNavDivHover')
		});
		$(".childNav").mouseleave(function(){
			$(".clildNavDiv").hide();
			$(".childNavDl dd").removeClass('childNavHover');
			if(location.pathname == "/") return;
			$(".childNav").hide();
			$(".childNavDl").hide();
		});
		$(".all_servicesLi").mouseleave(function(){
			if(location.pathname == "/") return;
			$(".childNavDl").hide();
			$(".clildNavDiv").hide();
		}); 
		
		//新增导航滚动固定2017-03-28
		$(window).scroll(function(){
			var scrollTop = $(document).scrollTop();
			if(scrollTop >= 112){
				$(".navTop").addClass("fixednav"); 
				$(".childNav").hide();
				$('.childNavDl').mouseleave(function(){
					$(this).hide();
					if(location.pathname == "/"){
						$(".childNav").hide();
						$(".childNavDl").hide();
					}
				});
				$(".all_servicesLi").mouseleave(function(){
					//if(location.pathname == "/") return;
					$(".childNavDl").hide();
					$(".clildNavDiv").hide();
				}); 
			}else if(scrollTop < 112){
				$(".navTop").removeClass("fixednav"); 
				$(".childNav").show();
				if(location.pathname == "/"){
					$(".childNavDl").show();
				}
				$('.childNavDl').mouseleave(function(){
					$(this).hide();
					if(location.pathname == "/"){
						$(".childNav").show();
						$(".childNavDl").show();
					}
				});
				$(".all_servicesLi").mouseleave(function(){
					if(location.pathname == "/"){
						$(".childNavDl").show();
					}
				}); 
			}
		});
		
		//二维码显示
		$(".rightRwmShow").mouseover(function(){
			$(".rightRwmIcon").show();
		});
		$(".rightRwmShow").mouseleave(function(){
			$(".rightRwmIcon").hide();
		});
		/* 滚动 */
		$(document).scroll(function(){
			var scrollTop = $(window).scrollTop();
			if(scrollTop <= 0){
				$('.advisory_list .advisory_listBottom').hide();
			}else{
				$('.advisory_list .advisory_listBottom').show();
			}
		});
		$(".advisory_listBottom").click(function () {
	        var speed=200;//滑动的速度
	        $('body,html').animate({ scrollTop: 0 }, speed);
	        return false;
	 	});
		
		$(".gzewm").mouseover(function(){
			$(".ewmtop").show();
		});
		$(".gzewm").mouseleave(function(){
			$(".ewmtop").hide();
		});
		$(".js_localcity").mouseover(function(){
			$(".urbanAreas").show();
		});
		$(".urbanAreas").mouseleave(function(){
			$(".urbanAreas").hide();
		});
		
		

	})
</script>
