.reports{margin-top: 40px;}
.reportsUl li{font-size: 14px; color:#505050; display: inline-block; width:100px; text-align: center;cursor: pointer;}
.reportsTop{height: 35px; line-height: 35px; background: #fcfcfc;}
.reportsUl .reportsHover{border-top:2px solid #6eaee5; background: #fff;}
.companyInfo{margin: 20px 10px 30px 10px; }
.companyInfoTab{width:100%;}
.companyInfoTab tr td{ color:#505050;}
.companyInfoTab tr td table{width:100%;}
.titInfo{background: #fcfcfc; font-weight: bold; font-size: 14px;}
.companyInfoTab tr td table tr td{padding-left: 10px; padding-top: 8px; padding-bottom: 8px; width: 30%;}
.companyInfoTab tr td table{margin-top: 10px; margin-bottom: 10px;}
.lineHight22{line-height: 22px;}

/* 账单查询 */
.billInquiry{margin: 30px;}
.billUl li{ display: inline-block; width:110px; height: 32px; line-height: 32px; text-align: center;
border:1px solid #ccc; background: #fcfcfc; margin-left: 15px; margin-right: 15px; color: #505050; cursor: pointer;}
.billUl{text-align: center;}
.billUl .billHover{border:1px solid #6eaee5; background: #6eaee5; color:#fff;}
.selectBill{width:100px; height: 28px;}
.inquiryExport a{ display: inline-block; padding-left:8px; padding-right:8px; height: 25px; line-height: 25px; background: #fcfcfc; 
border:1px solid #ccc; color:#505050; text-align: center; margin-left: 10px;}
.inquiryExport form{display: inline-block;}
.inquiryExport .inquiryA{border:1px solid #ff8468; background:#ff8468; color:#fff; }
.billTab{width:100%; border: 1px solid #ccc; border-collapse: collapse;}
.billTab tr th{ padding-top: 10px; padding-bottom: 10px; background: #fcfcfc;border: 1px solid #ccc; color:#505050;}
.billTab tr td{border: 1px solid #ccc; padding-top: 10px; padding-bottom: 10px; text-align: center;}
.billTab tr th div p{display: inline-block; width: 58px; height: 30px; line-height:30px; text-align: center;}
.botBorder{border-bottom: 1px solid #ccc;}
.rightBorder{border-right: 1px solid #ccc;}
.billTab tr td div p{display: inline-block; width: 58px; height: 30px; text-align: center; line-height:30px;}
/* .billTab tr td{padding: 0px;} */
.billTab1 tr td{padding-top: 10px; padding-bottom: 10px;}
.billTab2 tr td,.billTab2 tr th{padding: 0;}
#accntLedgerTable tr td p{border-bottom: 1px solid #ddd; height: 30px; line-height: 30px; margin-bottom: -1px;}
#accntLedgerTable tr td{padding: 0;}
/*科目余额表*/
.subject,.subject1{width: 100%;border: 1px solid #dedede; border-collapse: collapse; margin-bottom: -1px; margin-top: -1px; table-layout: fixed;}
.subject th{background:#F3F3F3; border: 1px solid #dedede; color: #555;  border-bottom: 0px;}
.subjectBottme{ height: 25px; line-height: 22px; border-bottom: 1px solid #DEDEDE;}
.debit{ width: 50%;  border-right: 1px solid #DEDEDE; height: 28px; line-height: 28px;}
.Credit{ width:47%; height: 28px; line-height: 28px;}
.subject tr td{ border: 1px solid #dedede; height: 30px; line-height: 30px;}
.subject tr td p{ padding:0px 5px;}
.subject tr td div{ padding: 0px 5px;}
.subject tr:hover a,.subject1 tr:hover a{ text-decoration: underline;}
.subject tr:hover,.subject1 tr:hover{ background: #FAFFD1;}
.subject .backColor,.subject1 .backColor{ background: #F8F8F8;}
.subject1 tr th{ border: 1px solid #dedede; color: #555;  border-bottom: 0px; font-weight:normal;}
.upText{width:90%; border: 1px solid #ccc; height: 23px; line-height: 23px;}
#savePayroll{width:120px; height: 35px; line-height: 35px; background: #6eaee5; border:1px solid #6eaee5; color:#fff;cursor: pointer;}
/* 电子凭证 */
.certificateDiv{width:760px; margin-left: 25px;}
.pagingReports a,.pagingReports p{ display: inline-block; color:#505050; width: 30%;vertical-align: top;}
.pagingReports p a{ display: inline; }
.pagingReports{ text-align: center; margin-top:30px; margin-bottom: 30px;}
.frontCover{background: url(../../images/frontCover.png) no-repeat; height:410px;}
.period{ margin-left: 40px;}
/* .leftArrow,.rightArrow{margin-top: 205px;} */
.book1{ text-align: right; margin-right: 150px; padding-top: 58px;}
.book2{ text-align: right; margin-right: 150px; padding-top: 13px;}
.book3{ padding-top: 8px;height: 17px;}
.bookName{ margin-left: 193px;}
.bookTime{ margin-right: 150px;}
.book4{margin-top: 12px;}
.remember{margin-left: 310px;}
.bookTime1{margin-left: 90px;}
.bookTime2{margin-left: 130px;}
.pagingReports .none{display: none;}

.preview a{display: inline-block; width:32%;}
.collect{width:100%; border:1px solid #ccc; border-collapse: collapse;}
.collect tr th,.collect tr td{border:1px solid #ddd; padding: 5px; color:#505050;}
.pzzSelect{width:60px; height: 28px;}
.jzpzTit{font-size: 16px; color:#505050;}
.jzpzTit span{font-size: 12px; font-weight: normal; margin-left: 10px;}
.djTxt{width:30px; height: 26px; border:1px solid #ccc; text-align: center; margin-left: 5px; margin-right: 5px;}
.preview{margin-bottom: 10px;}
/*记账凭证表格*/
.vouchersTab{ width:100%;border-collapse: collapse; margin-top:10px;position: relative;}
.vouchersTab tr th{border: 1px solid #ccc; color: #505050;}
.vouchersTab tr th .sum{display: inline-block; margin-top: 5px; margin-bottom: 5px; color: #505050;}
.vouchersTab tr td{border: 1px solid #ccc; height: 62px;text-align: center;}
.vouchersTab #endVoucherTr td{ text-align: left;}
.vouchersTab .col_operate {
    text-align: center;
    width: 26px;
}
.col_money{
   width:225px;
}
.money_unit,.col_debite{
   border-top: 1px solid #dadada;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: url(../../v2/images/money_rp.png) repeat;
}
 .money_unit span {
    background-color: #fff;
    display: inline;
    float: left;
    height: 100%;
    margin-right: 1px;
    width: 19px;
}

.money_unit1{
	width:220px;
    font-weight: normal;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
 .money_unit1 span {
    display: inline;
    float: left;
    height: 100%;
    margin-right: 1px;
    width: 19px;
}
