.reports{margin-top: 40px;}
.reportsUl li{font-size: 14px; color:#505050; display: inline-block; width:100px; text-align: center;}
.reportsTop{height: 35px; line-height: 35px; background: #fcfcfc;}
.reportsUl .reportsHover{border-top:2px solid #6eaee5; background: #fff;}
.article{font-size: 14px; color:#505050; margin-left: 20px; margin-right: 20px;}
.article p{line-height: 22px; margin-bottom: 5px;}
