.clientRight .infoTit{ margin: 40px;	}
.couponUl li{width:280px; height: 108px; float: left; margin-left: 25px; margin-right: 10px; margin-bottom: 15px;}
.couponSelect{background: url(../../images/img/coupon1.png) no-repeat;}
.couponUl{overflow: hidden; margin-top: 20px;}
.noCouponSelect{background: url(../../images/img/coupon2.png) no-repeat;}
.couponSelect .couponSum{color:#fede00; font-size: 60px; font-weight: bold; margin-left: 20px;margin-top:40px;}
.couponSelect .couponSum span{font-size: 24px; vertical-align: top; display: inline-block; margin-top: 15px;}
.couponSelect > div > p{font-size: 14px; color:#fdffda; margin-bottom: 5px;}
.noCouponSelect > div > p{font-size: 14px; color:#c8c8c8; margin-bottom: 5px;}
.noCouponSelect .couponSum{color:#c8c8c8; font-size: 60px; font-weight: bold; margin-left: 20px;margin-top:40px;}
.noCouponSelect .couponSum span{font-size: 24px; vertical-align: top; display: inline-block; margin-top: 15px;}
.donation{width:58px; height: 25px; line-height: 24px; border: 1px solid #fff; border-radius:5px; text-align: center;
color:#fff; margin-right: 10px; margin-top:-5px; cursor: pointer;font-size: 14px;}
.donation:hover{background: #fff; color:#e74e3e; }
/* .couponDiv{min-height: 500px;} */

/* 优惠券使用规则 */
.favorableRule{border-top:1px solid #ddd; margin: 40px;}
.favorableTit{font-size: 16px;  color:#505050; margin-top: 30px;}
.favorableTit span{display: inline-block; width:22px; height: 22px;background: url(../../images/dum_icon.png) -414px 0 no-repeat;
vertical-align: middle; margin-right: 10px;}
.favorableRule ul li{ margin-top: 10px; margin-bottom: 10px; font-size: 14px; color:#505050;}
.donationDiv{width: 360px; background: #fcfcfc; height: 145px; margin: 0px auto; padding-top: 1px;}
.donatiDetermine{width:112px; height: 32px; text-align: center; background: #52cbf8; border: 1px solid #52cbf8;
color:#fff; font-size: 14px; cursor: pointer; margin-top: 30px;}
.donationTextP{margin-left: 15px; margin-top: 30px;}
.donationText{height: 32px; width: 170px; line-height: 32px; padding-left: 5px; border:1px solid #ddd;}
.donationText:focus{border:1px solid #52cbf8;}
.donationDivColse{width:30px; height:30px; background: url(../../images/dum_icon_product.png) -14px -180px no-repeat;
position: absolute; right:-6px; top: -13px;cursor: pointer;  }
.donationSuccess{ width:360px; height: 120px; line-height: 120px; color:#ff8468; font-size: 18px; text-align: center;
background: #fcfcfc; margin: 0px auto;margin-top: 15px;}