#userInfoForm.clearfix{display:inline-block;}
.clientRightCommon{padding:40px 0 0 40px;width:917px;}
.infoTit{font-size: 16px; font-weight: bold; color:#505050; border-left:2px solid #6eaee5;}
.infoTit span{margin-left: 12px;}
.infoPortrait,.userInfo{margin-top:60px;}
.userInfo{margin-left: 110px; margin-right:150px;}
.userInfoTab tr td{font-size: 14px; color:#505050; padding-bottom: 25px;}
.selectClient1{width:60px; height:26px; line-height:26px;}
.selectClient2{width:50px; height:26px; line-height:26px;}
.selectClient3{width:88px; height:26px; line-height:26px;}
.selectClient4{width:76px; height:26px; line-height:26px;}
.userInfoTab1{ margin-right: 132px;}
.infoDiv{padding-bottom:10px;}
.infoSave{width:100px; height: 35px; cursor:pointer; background: #6eaee5; border:1px solid #6eaee5; color:#fff;font-size: 14px;font-weight: bold;}
.infoSave_p{ margin-top: 40px;}
.savePrompt{width:340px; height: 105px; background: #fcfcfc; margin: 20px auto;}
.savePrompt_p{display: inline-block; line-height: 30px;}
.savePrompt_span{display: inline-block;background:url(../../../v2/images/dum_icon.png) no-repeat  -184px -364px; height:30px; width: 36px;}
.savePrompt1{padding-top: 24px;}
.second{font-weight: bold; color:#6eaee5; text-decoration: underline;}
.promptModify{height: 41px; width:320px; margin: 0px auto; margin-top: 10px; margin-bottom: 10px;}
.promptModify_p{background: #fcfcfc; height: 40px; line-height: 40px;}
.promptModify_p span{display: inline-block;background:url(../../../v2/images/dum_icon.png) no-repeat  -184px -364px; height:30px; width: 36px;}
.infoPortraitImg img{width:113px; height:113px; border-radius:50%;}
.fileInputContainer{
        height:113px;
        background:url(../../../v2/images/img/infoImg.png) no-repeat;
        position:relative;
        width: 113px; margin: 0px auto; margin-top: 60px;
    }
    .fileInput{
        height:113px;
        overflow: hidden;
        font-size: 300px;
        position:absolute;
        right:0;
        top:0;
        opacity: 0;
        filter:alpha(opacity=0);
        cursor:pointer;
    }
.userInfoTab tr td p .tips{ color:#ff854e; position: absolute; left:0px; top:31px; display: none;width: 225px;}
.userInfoTab tr td p{ position: relative;}
/*修改密码 */
.modifyPassword{margin-left:320px;}
.modifyPassword dl dd{ margin-bottom: 10px;}
.modifyPassword dl{margin-top:20px;}
.saveReturn a{width:66px; height:26px; line-height:26px; display: inline-block; font-size:14px; }
.modifySave{color:#fff; text-align: center; background: #6eaee5; border:1px solid #6eaee5; margin-right:10px;}
.modifyReturn{ border:1px solid #ccc; margin-left:10px;	}
.passwordRevise{width: 100px; margin: 10px auto;}
.passwordRevise:hover{color:#6eaee5;}
.modifyPassword dl dd .tips{color:#ff854e;display: none;}
.modifyPassword dl dd .icon,.userInfoTab tr td p .tips .icon
{ display:inline-block; height:25px;line-height:25px;width:25px;vertical-align:middle;background-position:-239px -55px;}

.modifyPassword dl dd .widthSpan{width:90px;display: inline-block; text-align: right;}

