.wrap{border:1px solid #ccc;margin-top:35px;background-color:#fcfcfc;width:1200px;}
/***右边线***/
/* .border_right{border-right:1px solid #ccc;} */
.border{border:1px solid #ccc;}
.clientRight{width:1000px;}
.clinetTxt{width:165px; height:26px; line-height:26px; border:1px solid #ccc; padding-left:5px;}
.clinetTxt1{width:80px; height:26px; line-height:26px; border:1px solid #ccc; padding-left:5px;}
.clinetTxt:focus,.clinetTxt1:focus{border:1px solid #6eaee5;}
.yzmBtn{ border:1px solid #ccc; background: 0px; height:26px; width:81px; color: #ff8468; cursor: pointer;}

.baseMargin{margin: 40px;}
.infoTit{font-size: 16px; font-weight: bold; color:#505050; border-left:2px solid #ff8f3d;}
.infoTit span{margin-left: 12px;}
/***左侧导航***/
.nav_left{width:199px;min-height:400px;background-color:#fcfcfc;float:left;}
#nav_left .usinfo img{width:60px; height:60px; border-radius:50%; float: left;}
#nav_left li.active *{color:#12c2f4;}
#nav_left li.active{color:#ff8f3d;}
#nav_left li.active{background-color:#fff;}
#nav_left li.first_li.active{background-color:#fff; border-left:2px solid #ff8f3d; margin-left: -2px;}
.esp1{letter-spacing:1px;}
#userInfo{padding:14px 14px 0 10px;border-bottom:1px solid #ccc;background-color:#fff;}
#userInfo .usinfo{padding-bottom:13px;}
#userInfo .usinfo div{padding-top:9px;margin-left:13px; float: left;}
#userInfo .usinfo p{line-height:22px;}
#userInfo .simpleOrder{padding:10px 0 12px 0;}
#userInfo .simpleOrder li{float:left;text-align:center;}
#userInfo .simpleOrder .cen_li{width:60px;margin:0 13px;}
/* .nav_left>ul .first_li,.nav_left>ul{border-bottom:1px solid #ccc;} */
.nav_left>ul{border-bottom:1px solid #ccc;}
.nav_left>ul li{height:34px;line-height:34px;padding-left:79px;}
.nav_left>ul li.first_li{height:50px;line-height:50px;padding-left:79px;}
.nav_left>ul li:hover{background-color:#fff;}
.nav_left>ul li.bdnone{border:none;}
.nav_left>ul li>span.icon{display:inline-block;width:21px;height:21px;position:absolute;margin-left:-33px;margin-top:15px;}
.nav_left>ul li>span.icon_u{background-position:-73px -331px;}
.nav_left>ul li>span.icon_o{background-position:-23px -361px;}
.nav_left>ul li>span.icon_s{background-position:-53px -362px;}
.nav_left>ul li>span.icon_c{background-position:-76px -365px;}
.nav_left>ul li>span.icon_i{background-position:-101px -361px;}
.nav_left>ul li>span.icon_r{background-position:-126px -363px;}
.nav_left>ul li>span.icon_l{background-position:-152px -364px;}

.nav_left>ul li.active>span.icon_u{background-position:-1px -363px;}
.nav_left>ul li.active>span.icon_o{background-position:-452px -364px;}
.nav_left>ul li.active>span.icon_s{background-position:-346px -365px;}
.nav_left>ul li.active>span.icon_c{background-position:-372px -369px;}
.nav_left>ul li.active>span.icon_i{background-position:-101px -361px;}
.nav_left>ul li.active>span.icon_r{background-position:-427px -367px;}
.nav_left>ul li.active>span.icon_l{background-position:-399px -369px;}


/***右侧内容***/
#content{background-color:#fff;min-height:870px;float:left; border-left:1px solid #ccc;}

/* 分页 */
.paging a{ display: inline-block; height: 22px; line-height: 22px; border: 1px solid #CCCCCC; padding-left: 8px; padding-right: 8px; color: #505050;
margin-left: 3px; margin-right: 3px;}
.paging span{ display: inline-block;margin-left: 5px; margin-right: 5px;}
.paging{ margin-top: 20px; margin-bottom: 10px; text-align: center;}
.paging a:hover{ border: 1px solid #8F8F8F;}
.paging .hoverPage{border: 0; font-weight: bold;}
.paging .hoverPage:hover{ border: 0;}