.reports{margin-top: 40px;}
.reportsUl li{font-size: 14px; color:#505050; display: inline-block; width:100px; text-align: center; cursor: pointer;}
.reportsTop{height: 35px; line-height: 31px; background: #fcfcfc;}
.reportsUl .reportsHover{border-top:2px solid #6eaee5; background: #fff;}
.recommendTxt{width:295px; height: 28px; line-height: 28px; border: 1px solid #ccc; padding-left: 5px;}
.recommendTextarea{width: 290px; height: 100px; border: 1px solid #ccc; padding: 5px;}
.subRecommend{width:100px; height: 35px; line-height: 35px; border: 1px solid #6eaee5; color:#fff; background: #6eaee5; cursor: pointer;}
.myRecommend table tr td p{ margin-top: 10px; margin-bottom: 10px; position: relative;}
.myRecommend{margin: 0px auto; width: 400px;}
.myRecommend table tr td p .tips{color:#ff854e;  position: absolute; right:-130px; top:5px;}
.myRecommend table tr td p .icon{display:inline-block; height:25px;line-height:25px;width:25px;vertical-align:middle;background-position:-239px -55px;}

.tjyh{color:#16c6cc;}
.zcyh{color:#ed7371;}
.yffyh{color:#6eaee5;}
.peopleNub{width:100%;}
.peopleNub tr td{text-align: center;}
.peopleNub tr td p{margin-top: 5px; margin-bottom: 5px;}
.integralTit{font-size: 24px; color:#6eaee5; font-weight: normal; margin-top: 20px; margin-bottom: 10px;}
.integralP{font-size: 48px; color: #f1c443;}
.integralDiv{margin-top: 50px;}
.clinetSearchDiv{background: #cccccc; display: inline-block;  height: 30px; line-height: 30px; text-align: center; vertical-align: middle;
 width: 34px;}
.clinetSearch img{margin-top: 10px;}
.clinetSearchTxt {
    border: 1px solid #ccc;
    height: 28px;
    line-height: 28px;
    padding-left: 5px;
    vertical-align: middle;
    width: 300px;
}
.recommendDetails{margin-left: 40px; margin-right: 40px;}
.recommendDetailsTab{width:100%; border-collapse: collapse; margin-top: 20px;}
.recommendDetailsTab tr th,.recommendDetailsTab tr td{border: 1px solid #ccc; height: 35px; line-height: 35px; text-align: center;}
.recommendDetailsTab tr th{color: #505050;}
.ewmTab{width: 100%;}
.ewmTab tr td{text-align: center;}
.ewmTab tr td .ewmLink{width: 315px;word-wrap: break-word; margin:10px auto; color: #505050;}
.borderTdRight{border-right: 1px dashed #ccc;}
.downloadEwm{width: 140px; height: 35px; line-height: 35px; text-align: center;background: #6eaee5; color:#fff; margin: 20px auto;
cursor: pointer;}
.obvious{display: block;color: #48b8e0;text-decoration: underline;cursor: pointer;}
.downloadEwm a{color:#fff;}
.recommen_detail{ display:block; color:#48b8e0; text-decoration:underline;}
/* .recommenBord{ border-top:1px dashed #ddd; margin-top:50px;} */
.recommenPaging li{ display: inline-block;}
.recommenPaging{ overflow:hidden; margin-top:30px; text-align: right;}
.recommenPaging li a{ color:#505050; display:block; margin-left:10px; margin-right:10px; cursor: pointer;}

