.suggestionsBox{ border-top: 1px dashed #ccc; margin-top: 30px;}
.themeTxt{border:1px solid #ccc; height: 30px; line-height: 30px; width: 475px; padding-left: 5px;}
.contentText{width: 470px; border: 1px solid #ccc; height: 180px; padding: 5px; overflow-y:hidden;}
.limit{position: absolute; right:7px; bottom: 5px; }
.subClose a{display: inline-block; width:70px; height: 28px; line-height: 28px; text-align: center; margin-left: 10px; font-size:14px;
color:#fff;}
.subSuggestions{background: #6eaee5;}
.closeSuggestions{background: #5e7ed7;}
.suggestionsTab tr td p{margin-bottom: 20px;}
.suggestionsDiv{width:600px; margin: 0px auto; margin-top: 30px;}
.suggestionsDiv table tr td p .tips{color:#ff854e;  position: absolute; right:-176px; top:5px;}
.suggestionsDiv table tr td p .icon{display:inline-block; height:25px;line-height:25px;width:25px;vertical-align:middle;background-position:-239px -55px;}

.suggestionList{margin-top: 30px; border-top:1px dashed #ccc;}
.userIcon img{width:63px; height: 63px; border-radius:50%;}
.userContent{ background: #fcfcfc; width: 375px; padding: 10px; border-radius:5px; color:#8f8f8f; margin-left: 30px;table-layout:fixed; word-break: break-all;}
.leftangle{position: absolute; left: -19px; top: 15px;}
.rightangle{position: absolute; right: -19px; top: 20px;}
.userContent1{ margin-left: 0px; margin-right: 30px;}
.addSuggestions{cursor: pointer; height: 30px; line-height: 30px; font-size: 14px; background: #6eaee5;width:120px; color:#fff; text-align: center; margin-top: 30px;}