<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<%if(!isEmpty(seoAboutusInfo)){%>
	<title>${seoAboutusInfo.title!}</title>
	<meta name="keywords" content="${seoAboutusInfo.keywords!}" />
	<meta name="description" content="${seoAboutusInfo.description!}" />
	<%}%>
	<link type="image/x-icon" href="${ctxPath}/images/favicon.ico" rel="shortcut icon" />
	<link rel="stylesheet" href="${ctxPath}/css/common/base.css" />
	<link rel="stylesheet" href="${ctxPath}/css/common/common.css" />
	<script language=javascript src="${ctxPath}/js/plugin/jquery-1.9.1.js"></script>
	<!-- 新增superslide插件2017-03-28 -->
	<script type="text/javascript" src="${ctxPath}/js/index/superslide.js"></script>
	<script language=javascript src="${ctxPath}/js/common/common.js"></script>
	<script type="text/javascript" src="${ctxPath}/js/datePicker/WdatePicker.js"></script>
	<link rel="stylesheet" href="${ctxPath}/css/index.css" type="text/css" />
	<link rel="stylesheet" href="${ctxPath}/css/plugin/flexslider.css" type="text/css" />
	<link rel="stylesheet" href="${ctxPath}/css/newservice/common.css" />
	<link rel="stylesheet" href="${ctxPath}/newCss/merchant.css" />
	<link rel="stylesheet" href="${ctxPath}/newCss/sweetalert.css" />
	<style type="text/css">
	
	select {
	    padding: 16px 30px!important;
	}
	.dx{
	  border: 5px solid #07a6f2!important;
	}
  
	</style>
</head>
<body>
	<!--头部导航-->
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
<!--===========================content3 start======================================-->
		<div class="content3">
			<div class="back">
				<div class="con3con">
					<p class="fs35">加盟流程</p>
					<p class="fs17 mb76">五步搞定，轻松加盟创业爸爸财税服务机构</p>
					<div class="circle">
						<div class="cir fl cir1">
							<div class="colcir1"><img src="${ctxPath}/newImages/img43.png"></div>
						</div>
						<div class="cir fl cir2">
							<div class="colcir2"><img src="${ctxPath}/newImages/img44.png"></div>
						</div>
						<div class="cir fl cir3">
							<div class="colcir3"><img src="${ctxPath}/newImages/img45.png"></div>
						</div>
						<div class="cir fl cir4">
							<div class="colcir4"><img src="${ctxPath}/newImages/img46.png"></div>
						</div>
						<div class="cir fl cir5">
							<div class="colcir5"><img src="${ctxPath}/newImages/img47.png"></div>
						</div>
					</div>
					<div class="linecir"></div>
					<div>
						<p class="img6 fl">了解加盟条件</p>
						<div class="img7 fl"><p>填写/提交</p> <p class="ml4">申请信息</p></div>
						<p class="img8 fl">资质审核现场考察</p>
						<p class="img9 fl">合约签署</p>
						<p class="img10 fl">加盟成功</p>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			
		</div>
		<!--===========================content3 end========================================-->

		<!--===========================content4 start======================================-->
			<div class="content4">
				<div class="con4con">
					<p class="fs35">加盟支持</p>
					<p class="fs17 mb38">每月稳定订单分发，财税标准化工作后台</p>
					<div>
						<div class="c4dw1 fl">
							<div class="c4dw1up">智能的任务分发后台</div>
							<div class="c4dw1down">
								<div class="c4dw1down1 ml66">标准化</div>
								<div class="hei28">
									<img class="ml63 fl" src="${ctxPath}/newImages/img51.png">
									<img class="ml55 fl" src="${ctxPath}/newImages/img52.png">
								</div>
								<div>
									<div class="c4dw1down1 fl">流程化</div>
									<img class="ml55 fl ml13 m34" src="${ctxPath}/newImages/img53.png">
									<div class="c4dw1down1 fl ml9">智能化</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="c4dw2 fl ml59">
							<div class="c4dw2up">
								<div class="c4dw2up1">每日2000pv流量</div>
								<div class="c4dw2up2"></div>
								<div class="c4dw2up1">200客户询盘200客户询盘</div>
								<div class="c4dw2up2"></div>
								<div class="c4dw2up1">在线支付灵活结佣</div>
							</div>
							<div class="c4dw2down">丰富的流量与订单</div>
						</div>
						<div class="c4dw1 fl ml59">
							<div class="c4dw1up">营销和财税培训支持</div>
							<div class="c4dw1down">
								<div>
									<div class="c4dw1down1 fl">营销课</div>
									<img class="ml55 fl ml13 m34" src="${ctxPath}/newImages/img48.png">
									<div class="c4dw1down1 fl ml9">财税课</div>
									<div class="clear"></div>
								</div>
								<div class="hei28">
									<img class="ml63 fl" src="${ctxPath}/newImages/img49.png">
									<img class="ml55 fl" src="${ctxPath}/newImages/img50.png">
								</div>
								<div class="c4dw1down1 ml66">管理课</div>
							</div>
						</div>
						<div class="c4dw2 fl ml59">
							<div class="c4dw3up">
								<p class="wid145">对加盟商自己站点的推广支持</p>
								<p class="mt37 ml14">会议营销支持</p>
								<p class="mt43 ml14">推广物料支持</p>
							</div>
							<div class="c4dw2down">线上线下市场支持</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		<!--===========================content4 end========================================-->

		<!--===========================content6 start======================================-->
			<div class="content6">
			<form id="validForm">
				<div class="con6con">
					<p class="fs35 mb40">加盟申请</p>
					<div class="c6down">
						<div class="c6dwleft fl">
							<div class="mb12">
								<p class="p1 fl"><img src="${ctxPath}/newImages/img35.png"></p>
								<div class="div1 fl" style="border: none">
										<select id="s_province" name="s_province"></select>  
								</div> 
								<div class="div1 fl ml11" style="border: none">
									<select id="s_city" name="s_city" ></select>  
								</div>
								<div class="div1 fl ml11" style="border: none">
									 <select id="s_county" name="s_county"></select>
								</div>
								<div class="clear" style="border: none"></div>
							</div>
							<div class="mb12">
								<p class="p1 fl"><img src="${ctxPath}/newImages/img34.png"></p>
								<input class="input1" type="text" name="companyName" id="companyName" placeholder="请输入您的公司全称">
								<div class="clear"></div>
							</div>
							<div class="mb12">
								<p class="p1 fl"><img src="${ctxPath}/newImages/img36.png"></p>
								<input class="input1" type="text" name="userName" id="userName" placeholder="请输入您的姓名">
								<div class="clear"></div>
							</div>
							<div class="mb12">
								<p class="p1 fl"><img src="${ctxPath}/newImages/img37.png"></p>
								<input class="input1" type="text" name="phone" id="phone" placeholder="请输入您的手机号码">
								<div class="clear"></div>
							</div>
							<div class="mb12">
								<p class="p2 fl"><img src="${ctxPath}/newImages/img38.png"></p>
								<input class="input1" type="text" name="email" id="email" placeholder="请输入您的联系邮箱">
								<div class="clear"></div>
							</div>
							<div class="mb12">
								<p class="p3 fl"><img src="${ctxPath}/newImages/img33.png"></p>
								<input class="input1" type="text" name="adress" id="adress" placeholder="请输入您公司的办公地址">
								<div class="clear"></div>
							</div>
						</div>
						<div class="c6dwright fl">
							<div class="mb12">
								<p class="p1 fl"><img src="${ctxPath}/newImages/img31.png"></p>
								<textarea class="txta" name="mainBusiness" id="mainBusiness" placeholder="请输入您公司的主营业务"></textarea>
								<div class="clear"></div>
							</div>
							<div class="mb33">
								<p class="p4 fl"><img src="${ctxPath}/newImages/img32.png"></p>
								<textarea class="txta" name="advantage" id="advantage" placeholder="请输入您公司的优势"></textarea>
								<div class="clear"></div>
							</div>
							<div class="rad">
								<p class="fl">加盟类型：</p>
								<div id="dx1" class="radi2 fl radi dx"><input name="joinType" class="input2" type="radio" value="1" checked=""></div>
								<div  class="fl fs18">代帐企业加盟</div>
								<div id="dx2"class="radi2 fl radi "><input name="joinType" class="input3" type="radio" value="2"></div>
								<div class="fl fs18">个人会计加盟</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="btn queryCompanyBtn"><a href="javascript:void(0);" >提交申请</a></div>
				</div>
				</form>
			</div>
		<!--===========================content6 end========================================-->	
	<script class="resources library" src="${ctxPath}/js/area.js" type="text/javascript"></script>
	<script type="text/javascript">
	_init_area();
	
	//单选
	$("#dx1").click(function(){
		$(this).addClass("dx");
		$("#dx2").removeClass("dx");
	});
	$("#dx2").click(function(){
		$(this).addClass("dx");
		$("#dx1").removeClass("dx");
	});
	
	$(function(){
		$(".queryCompanyBtn").click(function(){
			if($("#userName").val() == ""){
				alert("姓名不能为空！");
				return;
			}else if($("#phone").val() == ""){
				alert("手机号不能为空！");
				return;
			}
			$.ajax({
				type : "post",
				url : "/addFws.html",
				data : $('#validForm').serialize(),
				success : function(data) {
					console.log(data);
					if(data =="1"){
						alert("提交申请成功！");
						window.location.reload();
					}
				}
			});
		});
	});	
	
	</script>
	<%includeFileTemplate("/html/footer_temp.html"){ %><%}%> 

	

</body>
</html>

