.color50{color:#505050}
.color68{color:#ff8468}
.colorF8{color:#ff8f3d}
.color8f{color:#8f8f8f}
.color8468{color:#ff8468}
.color6e{color:#6eaee5}
.backFc{background:#FCFCFC}
.backFFF{background:#fff}
.text{width:195px;height:40px;line-height:40px;padding-left:5px;border:1px solid #CCC}
.text1{width:400px;height:28px;line-height:28px;padding-left:5px;border:1px solid #CCC}
textarea{resize:none}
.breadLines a{font-size:14px;display:inline-block;margin-left:5px;margin-right:5px;vertical-align:middle}
.breadLines .lineTit{color:#ff8f3d;vertical-align:middle}
.breadLines{margin-top:15px;margin-bottom:15px}
.breadLines span{vertical-align:middle}
.waring{border:1px solid red!important}
.fly{width:50px;height:50px;border-radius:50%;z-index:999}
.verify{background:url(../../../v2/images/jyIcon.png) no-repeat -22px -32px;width:206px;height:90px;position:absolute;top:61px;display:none}
.verifyClose{background:url(../../../v2/images/jyIcon.png) no-repeat -223px -15px;width:15px;height:15px;float:right;margin-right:27px;margin-top:16px;cursor:pointer}
.verifySize{padding:5px 10px 5px 10px;text-align:center;color:red}
ins#qiao-wrap{display:none}
.sprite{background-image:url(../../../v2/images/sprite.png);background-repeat:no-repeat}
