img{vertical-align:top;}
.f30{ font-size: 30px;}
.f20{ font-size: 20px;}
.h90{height: 90px;}
.w221{width: 221px;}
.w135{width: 135px;}
.w145{width: 145px;}
.w166{width: 166px;}
.w233{width: 233px;}
.w160{width: 160px;}
.w600{width: 598px;}
.w610{width: 610px;}
.w305{width: 305px;}
.w250{width: 250px;}
.blue{color:#00a5a8;}
.w305 .f30{font-size: 22px;}
.mgt60{margin-top:60px;}
.pdr50{padding-right: 50px;border-right:2px dashed #c8c8c8;}
.pdl50{padding-left:50px;}
.pdtop60{padding-top:60px;}
.banner img{max-width:100%;}
/* .banner_nav{height:400px;background:url(../v2/images/banner2.png) no-repeat center 0 transparent;} */
.banner_nav .w_1200,.atr li{position:relative;}
.banner_nav img.bannerimg{position:relative;margin-left:-661px;}
.banner_nav .hover-nav{width:300px;position:absolute;left:0;background:#fff;}
.banner_nav .banner-small{position:relative;left:0;background:#fff;height:400px;overflow:hidden;}
.banner_nav .banner-small li{position:absolute;}
.banner_nav .hover-nav li{border-bottom:1px solid #e3e3e3;text-align:center;position:relative;height:79px;line-height:80px;cursor:pointer;}
.banner_nav .hover-nav li:hover a,.banner_nav .hover-nav li.hove a{position:absolute;display:block;width:310px;height:100%;margin-left:-5px;background:#fff;font-weight:bold;z-index:99;
box-shadow:1px 0px 15px 7px rgba(0,0,0,0.1);behavior:url(../css/ie-css3.htc);}
.borderbottom{border-bottom:1px solid #e5e5e5;}
.pd10{padding-bottom:10px;}
.overauto{overflow:auto;}
.banner_nav .hover-nav ul.hove{}
.banner_nav .hover-nav li b{position:absolute;right:0;bottom:0;display:block;width:18px;height:18px;background-position:-117px -60px;}
.banner_nav li a{color:#3c3c3c;}
.banner_nav li.bordernone{border:1px solid #fff;}
.banner_nav .banner-small{margin-left:300px;}
.banner_nav .gydiv{position:absolute;right: 0;}
.banner_nav .detais-service{position:absolute;width:900px;height:400px;margin-left:300px;background-color:#fff;z-index:999;top:0;}
.banner_nav .detais-service .title{font-weight:bold;color:#00a5a8;width:100%;height:30px;padding-left:28px;background-position:-690px -226px;}
.banner_nav .detais-service .w610{padding-top:30px;padding-left:40px;}
.banner_nav .detais-service .res{line-height:30px;margin-top:15px;padding-bottom:15px;border-bottom:2px solid #c8c8c8;}
.banner_nav .detais-service .pirce{font-weight:bold;padding:15px 0 0 0;}
.banner_nav .detais-service .register-icon{display: inline-block;width:200px;height: 159px;background-position:-10px -517px;}
.banner_nav .detais-service .house{padding-top:108px;}
.banner_nav .detais-service .explain{font-weight:normal;padding-left:15px;}
.banner_nav .detais-service .buy:hover,.service .buts:hover{background-color:#6fba2c;color:#fff;border:none;}
.banner_nav .button{display: inline-block;width:135px;height:43px;padding:0 20px 0 37px;line-height:39px;text-align: center;margin:5px 0;cursor:pointer;}
.banner_nav .chosed{background-position:-224px -536px;color:#fff;}
.banner_nav .unchosed{background-position: -224px -636px;}
.banner_nav .unable{background-position: -224px -586px;}
.banner_nav .gsbg table{margin-top:16px;margin-bottom: 30px;}
.banner_nav .gsbg ul{margin-top:16px;margin-bottom: 30px;}
.banner_nav .gsbg ul li{display: inline-block;}
.banner_nav .gsbg ul li span:hover{background-position: -224px -536px; color:#fff;}
.banner_nav .ddm li{width:170px;height:125px;border-right:1px solid #c8c8c8;padding:0 25px;}
.banner_nav .ddm .w610{width:860px;}
.banner_nav .ddm .bordernone{border:none;}
.banner_nav .ddm .paddingnone{padding-left:0;}
.banner_nav .ddm .title{margin-bottom:15px;}
.banner_nav .knownladge{padding-top:40px;padding-left:50px;padding-right:30px;height:360px;background-color:#fafafa;width:170px;word-wrap: break-word; word-break: break-all;}
.banner_nav .knownladge .knowtitle{line-height:34px;}
.banner_nav .knownladge li{list-style:initial;}
.service div.title,.read div.title{padding:60px 0;padding-left:50%;}
.service div.title p,.read div.title p{background-position:-691px -174px;width:200px;padding-left:30px;margin-left:-100px;}
.service ul li{float:left;/* height:200px; */}
.service li.title{width:34px;font-size:30px;line-height:30px;margin-right:37px;}
.service li.title .T-show{height:77px;background-position:-137px -29px;margin-top:10px;}
.service li.title .C-show{height:109px;background-position:-177px -13px;margin-top:10px;}
.service li.title.dljz{margin-left:65px;padding-left:62px;border-left:1px dashed #b2b2b2;}
.service .content-service{border:1px solid #fff;position:relative;width:170px;/* height:200px; */margin-right:15px;
box-shadow:-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(color='#000000',Direction=135,Strength=5,positives=true)";
/*for ie6,7,8*/background-color:#fff;-moz-box-shadow:1px 1px 1px 2px rgba(0,0,0,.1);/*firefox*/
-webkit-box-shadow:1px 1px 1px 2px rgba(0,0,0,.1);/*webkit*/box-shadow:0px 0px 10px rgba(0,0,0,.2);/*opera或ie9*/;}
/* .service .content-service:hover{border:none;width:172px;height:202px;} */
.service .ots{box-shadow:none;border:1px solid #c8c8c8;}
.service .content-service .service-icon{margin:0 auto;margin-top:15px;height:90px;width: 76px;}
.service .content-service .countrys{background-position: -238px -23px;}
.service .content-service .outContary{background-position:-318px -22px;}
.service .content-service .smallsw{background-position: -394px -22px;}
.service .content-service .ybnsr{background-position:-473px -22px; width:86px;}
.service .content-service .changefw{background-position: -10px -160px;}
.service .content-service .changeAddre{background-position: -105px -162px; }
.service .content-service .changegf{background-position:-194px -160px;}
.service .content-service .changeGq{background-position:-278px -159px; }
.service .content-service .changename{background-position:  -376px -155px; width:80px;}
.service .content-service .shut{background-position: -629px -408px;}
.service .content-service .jckqbl{background-position: -564px -21px;}
.service .content-service .jckbs{background-position:-653px -23px;}
.service .content-service .outax{background-position:-653px -23px;}
.guide .logins{background-position: -10px -290px;}
.guide .chose{background-position: -100px -293px;  margin-top: 5px;}
.guide .pays{background-position: -180px -290px;}
.guide .wanshan{background-position: -268px -293px;}
.guide .guwen{background-position: -344px -295px; height: 75px;}
.guide .strat{background-position: -426px -301px;margin-top: 5px;}
.service-show .onlines{background-position:-10px -405px;}
.service-show .frees{background-position: -127px -411px;}
.service-show .fast{background-position: -225px -410px;}
.service-show .stand{background-position:-321px -410px;}
.service-show .standPrice{background-position:  -417px -410px;}
.service-show .notice{background-position: -517px -410px;}
.guide .arleft{width:25px;height: 25px;background-position: -10px -112px;}
.service .content-service .name,.service .content-service .price,.service .content-service .buy{text-align:center;}
.service .content-service .name,.service .content-service .price{font-weight:bold;}
.service .content-service .price,.detais-service .pirce{color:#6fba2c;margin-bottom:10px;}
.service .content-service .buy{background-color:#6fba2c;color:#fff;height:45px;line-height:45px;border:none;}
.service .content-service:hover .buy{height:45px;line-height:45px;}
.service .content-service .buy{padding:0;border-radius:0;behavior:url(../css/radius.htc);text-align:center;width:100%;}
.service .content-service .mark{position:absolute;width:100%;height:100%;background-color:#fff;filter:alpha(Opacity=30);opacity:.3;}
.service .ots .buy{background:#fff;color:#000;border:none;border-top:1px solid #c8c8c8;border-bottom:0;
width:100%;padding:0;text-align: center;border-radius:0;}
.service .ots .price{color:#000;}
.service .servicelist{padding-bottom: 60px;}
.service .pro{width:550px;position: relative;}
.service .pro img{float:right;}
.service .pro p{line-height: 32px;}
.service .buts{position: absolute;bottom: -47px;left: 0;padding:5px 80px;border-radius:20px;behavior:url(../css/radius.htc);border:1px solid #c8c8c8;}
.guanggao img,.map img{width:100%;}
/* .guanggao{margin-top:77px;} */
.guide li,.atr li,.service-show li,.ddm li{float:left;}
.guide li p{text-align: center;}
.guide li span{display:inline-block;}
.guide li span.icon-top{width: 80px;height: 85px;}
.read{padding-top:100px;margin-bottom:75px;}
.read .w600{line-height:40px;border-right:1px solid #ccc;}
.read .w600 .time{padding-left:35px;}
.read .br-none{border-right:0;border-right:none;}
.read a.more{display: inline-block;width:198px;text-align: center;border:1px solid #c7c7c7;border-radius:8px;behavior:url(../css/radius.htc);padding:10px 0;}
.read a:hover,.banner_nav .knownladge a:hover{color:#6fba2c;}
.read a.more:hover{color:#fff; background: #6fba2c; border:1px solid #6fba2c;}
.read .center{margin-top:40px;}
.read table{width:100%;}
.read table tr:hover *{color:#6fba2c;}
.atr{margin:55px 0 0 17px;}
.atr li{margin:0 17px;}
.atr li p{position:absolute;bottom:0;width:100%;text-align: center;background-color: rgba(0,0,0,.5);height:24px;overflow:hidden;}
.atr li a{color:#fff;}
.service-show{margin:75px auto !important;}
.service-show li{width:200px;text-align: center;}
.service-show li span{display:inline-block;width: 95px;height: 95px;margin-bottom:20px;}
.buy{display:inline-block;width:250px;height: 50px;line-height: 50px;border-radius:25px;behavior:url(../css/radius.htc);border:1px solid #969696;color:#969696;}
.about_us{background:url(../../v2/images/baise.png) repeat 0 0 transparent;padding-top:30px;padding:30px 0;}
.about_us ul{padding-left:100px;width:200px;}
.about_us ul li{padding-top:20px;}
.about_us .title{padding-left:16px;background-position:-691px -144px;padding-top:0;font-size:24px;color:#00a5a8;}
.friend_us{background:url(../../v2/images/ls.png) repeat 0 0 transparent;padding:40px 0;}
.friend_us table a{padding:5px 10px; display: inline-block;}
.friend_us .copyright{color:#fff;padding-top:44px;font-size:16px;}
.friend_us .copyright p{ text-align: center;}
.friend_us td{vertical-align:top;}
.fixMenu{position:fixed;right:150px;top:65%;z-index:99;}
/* #maps{box-shadow: 0px 0px 15px 3px rgba(0,0,0,.3);} */

/* 创业伙伴 */
.VentureD{width:300px; height:500px;  background: #fff;}
.VentureR{ width:5px; height: 5px; background: #000; margin-top: 7px; margin-left:20px; margin-right: 5px; border-radius:50%;position: relative;
behavior:url(css/radius.htc); 
} 
.readTab tr td a{ display: block;  width: 370px;text-overflow : ellipsis; white-space : nowrap; overflow : hidden; }
.spread{width:330px;height:475px;background: #fff;}
.spread .tabs{height:60px;line-height:60px;border-bottom:1px solid #e5e5e5;}
.spread .tabs label{display:inline-block;width:164px;text-align:center;border-right:1px solid #e5e5e5;cursor:pointer;}
.spread .tab_title{padding:8px 0;}
.spread .tab_res ul{padding:0 20px;height:375px;overflow:auto;}
.spread ul a{color:#00a5a8;}
.spread ul a span{display:inline-block;width:15px;height:15px;border-radius:10px;border:1px solid #00a5a8;text-align:center;line-height:15px;margin-right:5px;}
.spread .tab_res{min-height:415px;}
.spread .tab_content{position:absolute;top:61px;background-color:#fff;display:none;min-height:415px;}
.spread .tab_content ul{padding:0;width:165px;}
.spread .tab_content ul li{height:32px;line-height:32px;cursor:pointer;position:relative;}
.spread .tab_content ul span{position:absolute;width:100%;height:100%;left:0;}
.spread .tab_content ul li.current span{margin-right:-1px;}
.spread .tab_content ul li.current{border:1px solid #e5e5e5;border-right:1px solid #fff;margin-right:-1px;height:30px;line-height:30px;}
.spread .tab_content ul.level_child{border-left:1px solid #e5e5e5;width:164px;}
.areas{background-position:-10px -780px;display:inline-block;width:17px;height:17px;margin-left:10px;vertical-align:middle;}
.updown{background-position:-125px -780px;display:inline-block;width:17px;height:17px;margin-left:10px;vertical-align:middle;}
.artice{border:1px solid #e5e5e5;width:308px;height:475px;background-color:#fff;}
#maps>span{position:absolute;top:5px;left:5px;z-index:99;padding:2px;background-color:#fff;cursor:pointer;}
#citylist{display:none;}
#citylist a{color:#3d6dcc;padding-left:5px;}
#citylist{position:absolute;z-index:99;top:30px;left:5px;width:298px;height:398px;border:1px solid #e5e5e5;background-color:#fff;}
#citylist>p{padding:5px;border-bottom:1px solid #e5e5e5;}
#citylist>p .close{display: inline-block;height: 17px;width: 17px; background-position: -10px -13px; margin: 0; padding: 0;margin-top:2px;}
#citylist .currentCity{height:40px;line-height:40px;border-bottom:1px solid #e5e5e5;padding-left:5px;}
#citylist td{vertical-align:top;}
#citylist .prv a{display:block;width:30px;text-align:center;}
#citylist .choseCity{border:1px solid #e5e5e5;}
#citylist .choseCity label{padding:0 5px;}




