<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>公司章程</title><!-- 个人独资 -->
<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
<link type="text/css" rel="stylesheet" href="${ctxPath}/css/userClient/nav_userClient.css">
<link type="text/css" rel="stylesheet" href="${ctxPath}/css/userClient/constitution.css">
<script type="text/javascript" src="${ctxPath}/js/userClient/constitution.js"></script>
</head>
<body>
<%includeFileTemplate("/html/xnJavaScript.html"){ %><%}%>
	<div class="w_1160 wrap clearfix">
		<div id="nav_left" class="nav_left border_right">
			<%includeFileTemplate("/html/userClient_navleft.html"){ %><%}%>
		</div>
		<div id="content">
			<div class="clientRight">
				<div class="baseMargin">
					<h4 class="infoTit"><span>公司资料</span></h4>
					<div class="border reports">
					<div class="reportsTop">
						<ul class="fl reportsUl">
							<li class="reportsHover">公司章程</li>
						</ul>
						<a href="${ctxPath}/information/companyListzcgs"><p class="fz14 color68 fr cursor mr20">返回</p></a>
						<div class="cb"></div>
					</div>
						<!-- 第一页 -->
						<div id="dgdConstitution1">
							<h4 class="mt30 mb30 fz16 color50 tc">${constitution.companyName!}章程</h4>
							<!-- 第一章  总  则 -->
							<div class="mb30 article">
								<h5 class="tc mb30 fw fz14">第一章<span class="ml10">总&nbsp;&nbsp;则</span></h5>
								<p><span class="mr20">第一条</span>根据《中华人民共和国公司法》、《深圳经济特区有限责任公司条例》和有关法律法规，制定本章程。</p>
								<p><span class="mr20">第二条</span>本公司（以下简称公司）的一切活动必须遵守国家的法律法规，并受国家法律法规的保护。</p>
								<p><span class="mr20">第三条</span>公司在深圳市市场监督管理局登记注册。</p>
								<p><span class="mr20">名  称：</span><span class="fw">${constitution.companyName!}</span></p>
								<p><span class="mr20">住  址：</span><span class="fw">${constitution.cusOrderCompany.areaFullname!}${constitution.cusOrderCompany.addressDetails!}</span></p>
								<p><span class="mr20">第四条</span>公司的经营范围：<b>${constitution.scopeDesc!}</b></p>
								<p><span class="mr20">第五条</span>公司根据业务需要，可以对外投资，设立分公司和办事机构。</p>
								<p><span class="mr20">第六条</span>公司的营业期限为<b>永续经营</b>。</p>
							</div>
							
							<div class="mb30 article">
								<h5 class="tc mb30 fw fz14">第二章<span class="ml10">股&nbsp;&nbsp;东</span></h5>
								<p><span class="mr20">第七条</span>公司股东共<%if(!isEmpty(constitution.cusCompanyShareholders)){%>${constitution.cusCompanyShareholders.~size}<%}else{%>0<%}%>个，名称与住所如下：</p>
								<table>
									<tr>
										<td><p>股东名称</p></td>
										<td><p class="ml50">身份证号</p></td>
										<td><p class="ml50">住&nbsp;&nbsp;&nbsp;&nbsp;所</p></td>
									</tr>
									<%if(!isEmpty(constitution.cusCompanyShareholders)){%>
												<%for(shareholders in constitution.cusCompanyShareholders){%>
												<tr>
													<td><p class="fw">${shareholders.shareholderName!}</p></td>
													<td><p class="fw ml50">${shareholders.documentNo!}</p></td>
													<td><p class="fw ml50">${shareholders.cardAddress!}</p></td>
												</tr>
										 <%}%>
									<%}%>
								</table>
								<p><span class="mr20">第八条</span>股东享有下列权利：</p>
								<p>（一）有任命和被任命为公司执行董事、监事的权利；</p>
								<p>（二）对公司的经营活动和日常管理进行监督；</p>
								<p>（三）有权查阅公司章程、股东决定记录和公司财务会计报告，对公司的经营提出建议和质询；</p>
								<p>（四）公司侵害其合法利益时，有权向有管辖权的人民法院提出要求，纠正该行为，造成经济损失的，可要求予以赔偿。</p>
								<p><span class="mr20">第九条</span>股东履行下列义务：</p>
								<p>（一）按规定缴纳所认出资；</p>
								<p>（二）以认缴的出资额对公司承担责任；</p>
								<p>（三）公司经核准登记注册后，不得抽回出资；</p>
								<p>（四）遵守公司章程，保守公司秘密；</p>
								<p>（五）支持公司的经营管理，提出合理化建议，促进公司业务发展。</p>
								<p><span class="mr20">第十条</span>公司成立后，应当向股东签发出资证明书，出资证明书载明下列事项：</p>
								<p>（一）公司名称；</p>
								<p>（二）公司成立日期；</p>
								<p>（三）公司注册资本；</p>
								<p>（四）股东的姓名或名称，缴纳的出资和出资日期；</p>
								<p>（五）出资证明书的编号和核发日期。</p>
								<p>出资证明书由公司盖章</p>
								<p><span class="mr20">第十一条</span>公司置备股东名册，记载下列事项：</p>
								<p>（一）股东的姓名或名称、及住所；</p>
								<p>（二）股东的出资额、出资比例；</p>
								<p>（三）出资证明书编号。</p>
							</div>
					</div>
					<!-- 第二页 -->
					<div id="dgdConstitution2" class="none">
						<div class="mb30 article mt20">
							<h5 class="tc mb30 fw fz14">第三章<span class="ml10">注册资本</span></h5>
							<p><span class="mr20">第十二条</span>公司注册资本为人民币${companyInfo.cusCompanyLegalperson.registeredCapital}万元。投资者出资额及出资比例如下：</p>
							<table>
									<tr>
										<td><p>股东名称</p></td>
										<td><p class="ml50">身份证号</p></td>
										<td><p class="ml50">住&nbsp;&nbsp;&nbsp;&nbsp;所</p></td>
									</tr>
									<%if(!isEmpty(constitution.cusCompanyShareholders)){%>
												<%for(shareholders in constitution.cusCompanyShareholders){%>
												<tr>
													<td><p class="fw">${shareholders.shareholderName!}</p></td>
													<td><p class="fw ml50">${shareholders.documentNo!}</p></td>
													<td><p class="fw ml50">${shareholders.cardAddress!}</p></td>
												</tr>
										 <%}%>
									<%}%>
								</table>
							<p><span class="mr20">第十三条</span>股东以货币出资。</p>
							<p><span class="mr20">第十四条</span>公司注册资本实行认缴制，各股东承诺于公司2063年3月15日前足额缴纳各自所认缴的出资额。</p>
							<p><span class="mr20">第十五条</span>股东可以以非货币出资，但必须按照法律法规的规定办理有关手续。</p>
							<p><span class="mr20">第十六条</span>股东可以依法转让其出资。</p>
						</div>
						<div class="mb30 article mt20">
							<h5 class="tc mb30 fw fz14">第四章<span class="ml10">股东职权</span></h5>
							<p><span class="mr20">第十七条</span>公司为自然人独资，公司不设立股东会，股东是公司最高权力机构。</p>
							<p><span class="mr20">第十八条</span>股东行使下列职权：</p>
							<p>（一）决定公司的经营方针和投资计划；</p>
							<p>（二）委任和更换非由职工代表担任的执行董事、监事，决定有关执行董事、监事的报酬事项；</p>
							<p>（三）审议批准执行董事的报告；</p>
							<p>（四）审议批准监事的报告；</p>
							<p>（五）审议批准公司的年度财务预算方案，决算方案；</p>
							<p>（六）审议批准公司的利润分配方案和弥补亏损方案；</p>
							<p>（七）对公司增加或者减少注册资本作出决定；</p>
							<p>（八）对发行公司债券作出决定；</p>
							<p>（九）对公司合并、分立、解散、清算或者变更公司组织形式作出决定；</p>
							<p>（十）制定和修改公司章程；</p>
							<p>（十一）公司章程规定的其他职权。</p>
							<p>股东作出上述决定时，应当采用书面形式，并由股东签名后置备于公司。</p>
						</div>
						<div class="mb30 article mt20">
							<h5 class="tc mb30 fw fz14">第五章<span class="ml10">执行董事</span></h5>
							<p><span class="mr20">第十九条</span>公司不设董事会，设执行董事壹名，执行董事行使董事会权利。</p>
							<p><span class="mr20">第二十条</span>执行董事为公司法定代表人，由股东任命产生。任期三年。执行董事为公司法定代表人，由股东任命产生。任期三年。</p>
							<p><span class="mr20">第二十一条</span>执行董事任期届满，可以连选连任。</p>
							<p><span class="mr20">第二十二条</span>执行董事对股东负责，行使下列职权：</p>
							<p>（一）负责召集股东，并向股东报告工作；</p>
							<p>（二）执行股东的决定；</p>
							<p>（三）决定公司的经营计划和投资方案；</p>
							<p>（四）制订公司的年度财务预算方案、决算方案；</p>
							<p>（五）制订公司的利润分配方案和弥补亏损方案；</p>
							<p>（六）制定公司增加或者减少注册资本以及发行公司债券的方案；</p>
							<p>（七）制订公司合并、分立、解散或者变更公司形式的方案；</p>
							<p>（八）决定公司内部管理机构的设置；</p>
							<p>（九）决定聘任或者解聘公司经理，及其报酬事项，并根据经理的提名决定聘任或者解聘公司副经理、财务负责人及其报酬事项；</p>
							<p>（十）制定公司的基本管理制度；</p>
							<p>（十一）公司章程规定的其他职权。</p>
							<p><span class="mr20">第二十三条</span>执行董事应当将其根据本章程规定的事项所作的决定以书面形式报送股东。</p>
						</div>
					</div>
					<!-- 第三页 -->
					<div id="dgdConstitution3" class="none">
						<div class="mb30 article mt20">
							<h5 class="tc mb30 fw fz14">第六章<span class="ml10">经营管理机构</span></h5>
							<p><span class="mr20">第二十四条</span>公司设立经营管理机构，经营管理机构设经理一人，并根据公司情况设若干管理部门。</p>
							<p>公司经营管理机构经理由执行董事聘任或解聘，任期三年。经理对执行董事负责，行使下列职权：</p>
							<p>（一）主持公司的生产经营管理工作、组织实施股东会决议或执行董事决定；</p>
							<p>（二）组织实施公司年度经营计划和投资方案；</p>
							<p>（三）拟定公司内部管理机构设置方案；</p>
							<p>（四）拟定公司的基本管理制度；</p>
							<p>（五）制定公司的具体规章；</p>
							<p>（六）提请聘任或者解聘公司副经理、财务负责人；</p>
							<p>（七）决定聘任或者解聘除应由执行董事聘任或者解聘以外的负责管理人员；</p>
							<p>（八）公司章程和股东授予的其他职权。</p>
							<p><span class="mr20">第二十五条</span>执行董事、监事、高级管理人员应当遵守法律、行政法规和公司章程，对公司负有忠实义务和勤勉义务。</p>
							<p>执行董事、监事、高级管理人员不得利用职权收受贿赂或者其他非法收入，不得侵占公司的财产。</p>
							<p><span class="mr20">第二十六条</span>执行董事、高级管理人员不得有下列行为：</p>
							<p>（一）挪用公司资金；</p>
							<p>（二）将公司资金以其个人名义或者其他个人名义开立账户存储；</p>
							<p>（三）违反公司章程的规定，未经股东或者执行董事同意，将公司资金借贷给他人或者以公司财产为他人提供担保；</p>
							<p>（四）违反公司章程的规定或者未经股东同意，与本公司订立合同或者进行交易；</p>
							<p>（五）未经股东同意，利用职务便利为自己或者他人谋取属于公司的商业机密，自营或者为他人经营与所任职公司同类的业务；</p>
							<p>（六）接受他人与公司交易的佣金归为己有；</p>
							<p>（七）擅自披露公司秘密；</p>
							<p>（八）违反对公司忠实义务的其他行为。执行董事、高级管理人员违反前款规定所得的收入应当归公司所有。</p>
							<p><span class="mr20">第二十七条</span>执行董事、监事、高级管理人员执行公司职务时违反法律、行政法规或者公司章程的规定，给公司造成损失的，应当承担赔偿责任。</p>
						</div>
						<div class="mb30 article">
							<h5 class="tc mb30 fw fz14">第七章<span class="ml10">监事</span></h5>
							<p><span class="mr20">第二十八条</span>公司不设监事会，设监事一名，监事由股东委任，任期三年。执行董事、高级管理人员不得兼任监事。</p>
							<p><span class="mr20">第二十九条</span>监事的任期每届为三年。监事任期届满，连选可以连任。</p>
							<p>监事任期届满未及时改选的，在改选出的监事就任前，原监事仍应当依照法律、行政法规和公司章程的规定，履行监事职务。</p>
							<p><span class="mr20">第三十条</span>监事行使下列职权</p>
							<p>1、检查公司财务；</p>
							<p>2、对执行董事、高级管理人员执行公司职务的行为进行监督，对违反法律、行政法规、公司章程或者股东决定的执行董事、高级管理人员提出罢免的建议；</p>
							<p>3、当执行董事和高级管理人员的行为损害公司的利益时，要求执行董事和高级管理人员予以纠正；</p>
							<p>4、向股东提出提案；</p>
							<p>5、依照公司法第一百五十二条的规定，对执行董事、高级管理人员提出诉讼。</p>
							<p>6、公司章程规定的其他职权。</p>
							<p><span class="mr20">第三十一条</span>监事发现公司经营情况异常，可以进行调查；必要时，可以聘请会计师事务所等协助其工作，费用由公司承担。</p>
							<p><span class="mr20">第三十二条</span>监事行使职权所必需的费用，由公司承担。</p>
						</div>
					</div>
					<!-- 第四页 -->
					<div id="dgdConstitution4" class="none">
						<div class="mb30 article mt20">
							<h5 class="tc mb30 fw fz14">第八章<span class="ml10">财务、会计</span></h5>
							<p><span class="mr20">第三十三条</span>公司应当依照法律、行政法规和国务院财政部门的规定建立本公司的财务、会计制度。</p>
							<p><span class="mr20">第三十四条</span>公司应当在每一会计年度终了时编制财务会计报告，并依法经会计师事务所审计。财务会计报告应当依照法律、行政法规和国务院财政部门的规定制作。</p>
							<p><span class="mr20">第三十五条</span>公司应当于财务会计报告审计完成之日起三十日内将会计报告送交股东。</p>
							<p><span class="mr20">第三十六条</span>公司分配当年税后利润时，应当提取利润的百分之十列入公司法定公积金。公司法定公积金累计额为公司注册资本的百分之五十以上的，可以不再提取。</p>
							<p>公司法定公积金不足以弥补以前年度亏损的，在依照前款规定提取法定公积金之前，应当先用当年利润弥补亏损。</p>
							<p>公司从税后利润中提取法定公积金后，经股东决定，还可以从税后利润中提取任意公积金。公司弥补亏损和提取公积金后所余税后利润，股东按照实缴的出资比例分配。</p>
							<p><span class="mr20">第三十七条</span>公司的公积金用于弥补公司的亏损，扩大公司生产经营或者转为增加公司资本。但是，资本公积金不得用于弥补公司的亏损。</p>
							<p>公司公积金转为资本时，所留存的该项公积金不得少于转增前公司注册资本的百分之二十五。</p>
							<p><span class="mr20">第三十八条</span>公司聘用、解聘承办公司审计业务的会计师事务所，由股东决定。</p>
							<p><span class="mr20">第三十九条</span>公司除法定的会计账簿外，不得另立会计账簿。</p>
							<p>对公司资产，不得以任何个人名义开设帐户存储。</p>
						</div>
						<div class="mb30 article">
							<h5 class="tc mb30 fw fz14">第九章<span class="ml10">解散和清算</span></h5>
							<p><span class="mr20">第四十条</span>公司的合并或者分立，应当按国家法律法规的规定办理。</p>
							<p><span class="mr20">第四十一条</span>在法律法规规定的诸种解散事由出现时，可能解散。</p>
							<p><span class="mr20">第四十二条</span>公司正常（非强制性）解散，应当在解散事由出现之日起十日内成立清算组，开始清算。清算组由股东组成。</p>
							<p><span class="mr20">第四十三条</span>清算组成立后，公司停止与清算无关的经营活动。</p>
							<p><span class="mr20">第四十四条</span>清算组在清算期间行使下列职权：</p>
							<p>（一）清理公司财产，分别编制资产负债表和财产清单；</p>
							<p>（二）通知或者公告债权人；</p>
							<p>（三）处理与清算有关的公司未了结的业务；</p>
							<p>（四）清缴所欠税款以及清算过程中产生的税款；</p>
							<p>（五）清理债权、债务；</p>
							<p>（六）处理公司清偿债务后的剩余财产；</p>
							<p>（七）代表公司参与民事诉讼活动。</p>
							<p><span class="mr20">第四十五条</span>清算组应自成立之日起十日内通知债权人，并于六十日内在报纸上至少公告一次。清算组应当对公司债权人的债权进行登记。</p>
							<p><span class="mr20">第四十六条</span>清算组在清理公司财产、编制资产负债表和财产清单后，应当制定清算方案，并报股东确认。</p>
							<p>公司财产在分别支付清算费用、职工的工资、社会保险费用和法定补偿金，缴纳所欠税款，清偿公司债务后的剩余财产，按照股东的出资比例分配。清算期间，公司存续，但不得开展与清算无关的经营活动。公司财产在未按前款规定清偿前，不得分配给股东。</p>
							<p><span class="mr20">第四十七条</span>公司清算结束后，清算组应当制作清算报告，报股东确认。并报送公司登记机关，申请注销公司登记，公告公司终止。</p>
							<p><span class="mr20">第四十八条</span>清算组成员应当忠于职守，依法履行清算义务。清算组成员不得利用职权收受贿赂或者有其他非法收入，不得侵占公司财产。</p>
							<p>清算组成员因故意或者重大过失给公司或者债权人造成损失的，应当承担赔偿责任。</p>
						</div>
						<div class="mb30 article">
							<h5 class="tc mb30 fw fz14">第十章<span class="ml10">附则</span></h5>
							<p><span class="mr20">第四十九条</span>本章程中涉及登记事项的变更及其它重要条款变动应当修改公司章程。</p>
							<p>公司章程修改程序，应当符合公司法及其本章程的规定。</p>
							<p>修改公司章程，只对所修改条款作出修正案或制订新的公司章程。</p>
							<p><span class="mr20">第五十条</span>股东通过的章程修正案或新章程，应当报公司登记机关备案。</p>
							<p><span class="mr20">第五十一条</span>本章程与国家法律法规相抵触的，以国家法律法规的规定为准。</p>
							<p><span class="mr20">第五十二条</span>公司股东通过的有关公司章程的补充决议，均为本章程的组成部分，应当报公司登记机关备案。</p>
							<p><span class="mr20">第五十三条</span>本章程的解释权归公司股东，本章程于公司核准登记注册后生效。</p>
						</div>
					</div>
					<!--分页-->
					<div id="dgdPageDiv" class="paging">
						<a pageIndex="up" href="javascript:void(0);">上一页</a>
						<a class="hoverPage" pageIndex="1" href="javascript:void(0);">1</a>
						<a  pageIndex="2" href="javascript:void(0);">2</a>
						<a  pageIndex="3" href="javascript:void(0);">3</a>
						<a  pageIndex="4" href="javascript:void(0);">4</a>
						<a  pageIndex="next" href="javascript:void(0);">下一页</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>