<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子合同</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
<link type="text/css" rel="stylesheet" href="${ctxPath}/css/userClient/nav_userClient.css">
<link type="text/css" rel="stylesheet" href="${ctxPath}/css/userClient/contract.css">
</head>
<body>
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
	<%includeFileTemplate("/html/xnJavaScript.html"){ %><%}%>
	<div class="w_1160 wrap clearfix">
		<div id="nav_left" class="nav_left border_right">
			<%includeFileTemplate("/html/userClient_navleft.html"){ %><%}%>
		</div>
		<div id="content">
			<div class="clientRight">
				<div class="baseMargin">
					<div class="border reports">
						<div class="reportsTop">
							<ul class="fl reportsUl">
								<li class="reportsHover">电子合同</li>
							</ul>
							<a href="${ctxPath}/ordPaymentOrder/index.html?leftNav=orderCenter"><p class="fz14 color68 fr cursor mr20">返回</p></a>
							<div class="cb"></div>
						</div>
						<div class="contractDiv" style="margin-bottom: 120px;">
							${sysContract.content!}
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</body>
</html>