<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>优惠券</title> <%includeFileTemplate("/html/dumCommon.html"){
%><%}%>
<link type="text/css" rel="stylesheet"
	href="${ctxPath}/css/userClient/nav_userClient.css">
<link type="text/css" rel="stylesheet"
	href="${ctxPath}/css/userClient/coupon.css">
<script type="text/javascript" src="${ctxPath}/js/userClient/coupon.js"></script>
</head>
<body>
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
	<div class="w_1160 wrap clearfix">
		<div id="nav_left" class="nav_left border_right">
			<%includeFileTemplate("/html/userClient_navleft.html"){ %><%}%></div>
		<div id="content">
			<div class="clientRight">
				<h4 class="infoTit">
					<span>优惠券</span>
				</h4>
				<div class="couponDiv">
					<!-- 优惠券列表 -->
					<ul class="couponUl" id="voucherList">
					</ul>
					<!-- 转赠 -->
					
					<div class="donationDiv pr none">
						<p class="donationTextP fz14 color50">
							请输入账户名：<input type="text" placeholder="请输入需转赠的手机号码"
								class="donationText" />
						</p>
						<p class="tc">
							<input type="button" value="确定" class="donatiDetermine" />
						</p>
						<div class="donationDivColse"></div>
					</div>
					<!-- 转赠成功！ -->
					<div class="donationSuccess none"></div>

				</div>

				<!-- 优惠券使用规则 -->
				<div class="favorableRule">
					<h4 class="favorableTit">
						<span></span>优惠券使用规则
					</h4>
					<ul>
						<li>1.本优惠券在购买创业爸爸的所有线上服务产品时，可以冲抵200元。（官费等第三方产生的费用不在冲抵范围之内）</li>
						<li>2.本优惠券抵扣部分的货款不开具发票。</li>
						<li>3.本优惠券仅能使用一次，不能兑换现金，不找零，不退换。</li>
						<li>4.本优惠券可转赠给有需要的朋友。</li>
						<li>5.一个订单只能使用一张优惠券，且在使用优惠券时不可同时享受创业爸爸公司其它活动优惠或折扣。</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</body>
</html>