<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>导入工资单</title>
<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
<link type="text/css" rel="stylesheet" href="${ctxPath}/css/userClient/nav_userClient.css">
<link type="text/css" rel="stylesheet" href="${ctxPath}/css/userClient/constitution.css">
<script type="text/javascript">
	$(function(){
		$("#submitBtn").click(function(){
			var url = dum.appName + "/payroll/importPayroll.do";
			$("#importPayrollForm").attr("action", url);
			$("#importPayrollForm").submit();
		})
	})
</script>
</head>
<body>
<%includeFileTemplate("/html/xnJavaScript.html"){ %><%}%>
	<div class="w_1160 wrap clearfix">
		<div id="nav_left" class="nav_left border_right">
			<%includeFileTemplate("/html/userClient_navleft.html"){ %><%}%>
		</div>
		<div id="content">
			<div class="clientRight">
				<div class="baseMargin">
					<h4 class="infoTit mb30"><span>导入工资单</span></h4>
					<form action="" id="importPayrollForm" method="post" enctype="multipart/form-data" id="importExcel">  
						<input type="file" name="file" />
					    <a href="javascript:void(0);" id="submitBtn" class="btn_blue" >提交</a>
					    <a href="${ctxPath}/cusReport/viewReport.html?companyId=${currentCompanyId!}&orderId=${orderCompanyId!}" id="rebackBtn" class="btn_red ml10">返回</a>
					    <input type="hidden" name="companyId" id="companyId" value="${currentCompanyId!}"/>
					    <input type="hidden" name="orderId" id="orderId" value="${orderCompanyId!}"/>
					</form>
					<label style="margin-top: 5px; display: inline-block; color:#ff8468;">${msg!}</label> 
				</div>
			</div>	
		</div>
	</div>
</body>
</html>