<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>我的公司</title> <%includeFileTemplate("/html/dumCommon.html"){
%><%}%>
<link type="text/css" rel="stylesheet" href="${ctxPath}/css/userClient/nav_userClient.css">
<link type="text/css" rel="stylesheet" href="${ctxPath}/css/userClient/recommend.css">
<link rel="stylesheet" type="text/css" href="${ctxPath}/js/easyui/themes/gray/easyui.css">
<link rel="stylesheet" type="text/css" href="${ctxPath}/js/easyui/themes/icon.css">
<script type="text/javascript" src="${ctxPath}/js/easyui/jquery.easyui.min.js"></script>
<style type="text/css">
	#cusEnterpriseInfoTable tr,#cusCompanyLegalpersonForm tr,#createCompanyShareholderTable tr,
	#cusCompanyShareholderChangeForm tr,#cusCompanyVpdnForm tr,#cusCompanyTaxInfoTable tr{
		height:40px;
	}
	.datagrid-row{
		height:35px;
	}
</style>
<script type="text/javascript">

function myformatter(date){
	var y = date.getFullYear();
	var m = date.getMonth()+1;
	var d = date.getDate();
	return y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d);
}
function myparser(s){
	if (!s) return new Date();
	var ss = (s.split('-'));
	var y = parseInt(ss[0],10);
	var m = parseInt(ss[1],10);
	var d = parseInt(ss[2],10);
	if (!isNaN(y) && !isNaN(m) && !isNaN(d)){
		return new Date(y,m-1,d);
	} else {
		return new Date();
	}
}

/**
 * 保存公司信息
 */
function saveCusEnterprise()
{
	var form=$("#cusEnterpriseInfoForm");
	var url ="/cusEnterprise/saveCusEnterprise";
	var param=form.serialize();
	dum.common.ajax({
		type : 'post',
		url : url+'.api',
		dataType : 'json',
		data:param,
		async : false,
		success : function(data) {
			window.location.reload();	
		}
	});
}

/**
 * 删除股东信息
 */
 function shareholderListDel(enterpriseId){
	var row = $('#shareholderList').datagrid('getSelected');
    if (row){
    	$.messager.confirm('提示', '确定要删除该条数据吗?', function(r){
			if (r){
				var url="/cusCompanyShareholder/delShareholder";
		    	dum.common.ajax({
		    		type : 'post',
		    		url : url+'.api',
		    		dataType : 'json',
		    		data:{id:row.id,enterpriseId:enterpriseId},
		    		async : false,
		    		success : function(data) {
		    			$('#shareholderList').datagrid('reload');
		    		}
		    	});
			}
		});
    }else{
		$.messager.alert('提示','请先选择一行数据!','确定');
    }	
}
 
 
/**
 * 保存股东信息
 * @param value
 */
function saveCompanyShareholder()
{
	var url="/cusCompanyShareholder/save";
	var param=$("#companyShareholderForm").serialize();
	dum.common.ajax({
		type : 'post',
		url : url+'.api',
		dataType : 'json',
		data:param,
		async : false,
		success : function(data) {
			$('#w_gdxx').window('close');
			$('#shareholderList').datagrid('reload');
		}
	});
}

/**
 * 打开股东信息编辑页面
 */
function openwgdxx(){
	$('#w_gdxx').window('open');
	clearShareholderList();
}


/**
 * 打开主要成员编辑页面
 */
function openzycyxx(){
	$('#w_zycyxx').window('open');
	clearzycyxx();
}

$(function() {
	var enterpriseId = $('#enterpriseId').val();
    // 下拉框选择控件，下拉框的内容是动态查询数据库信息  
    $('#selectCity').combobox({   
            url:'${ctxPath}/sysarea/areaList/2.html',   
            editable:false, //不可编辑状态  
            cache: false,  
            panelHeight: '150',  
            valueField:'id',     
            textField:'areaName',  
              
      onHidePanel: function(){  
          $("#selectRegion").combobox("setValue",'');
          var id = $('#selectCity').combobox('getValue');          
          if(id){
        	  $.ajax({  
    	          type: "get",  
    	          url: '${ctxPath}/sysarea/areasListByParent/'+id+'.html',  
    	          cache: false,  
    	          dataType : "json",  
    	          success: function(data){  
    	         	$("#selectRegion").combobox("loadData",data);  
    	          }  
    	        });    
          }      
        }  
	});      
      
    $('#selectRegion').combobox({   
        editable:false, //不可编辑状态  
        cache: false,  
        panelHeight: '150',//自动高度适合  
        valueField:'id',     
        textField:'areaName'  
     });
    
    var areaparentid = $('#areaparentid').val();
    if(areaparentid){
    	$("#selectCity").combobox("setValue",areaparentid);
    }
    var areaidid = $('#areaidid').val();
    if(areaidid){
    	 $('#selectRegion').combobox({   
             url:'${ctxPath}/sysarea/areaList/3.html',   
             editable:false, //不可编辑状态  
             cache: false,  
             panelHeight: '150',  
             valueField:'id',     
             textField:'areaName'
    	 });
    	$("#selectRegion").combobox("setValue",areaidid);
    }
    
    /**
     * 加载税种信息
     */
    function loadCusCompanyTaxType(enterpriseId)
    {
    	var param={enterpriseId:enterpriseId};
    	var url="${ctxPath}/cusCompanyTaxType/getCusTaxCategoryList.api";
    	$.ajax({  
          type: "get",  
          url: url,
          data:param,
          cache: false,  
          dataType : "json",  
          success: function(data){  
        	  if(data && data.values){
        		  $("#cusCompanyTaxTypeInfo").html(getTaxTypeHtml(data.values));
        	  }
          }  
        });
    }
    
    function getTaxTypeHtml(data)
    {
    	var companyId=enterpriseId;
    	var html='<table style="width:100%">';
    	var index=0;
    	for(var i=0;i<data.length;i++){
    		html += '<tr style="height: 50px;">';
    		html += '<td><b>'+data[i].categoryName+'：</b></td>';
    		var cusTaxTypeList=data[i].cusTaxTypeList;
    		html += "<td>";
    		for(var j=0;j<cusTaxTypeList.length;j++){
    			if(cusTaxTypeList[j].ccttId){
    				html+='<input name="companyTaxTypeList['+index+'].id" type="hidden" value="'+cusTaxTypeList[j].ccttId+'"  />';
    			}
    			html+='    <input id="recordStatus'+index+'" name="companyTaxTypeList['+index+'].recordStatus" type="hidden" value="A"  />';
    			html+='    <input name="companyTaxTypeList['+index+'].enterpriseId" type="hidden" value="'+companyId+'" />';
    			var checked='';
    			if(cusTaxTypeList[j].ccttId){
    				checked="checked";
    			}
    			html+='<input type="checkbox" value="'+cusTaxTypeList[j].id+'" name="companyTaxTypeList['+index+'].taxId" '+checked+'>&nbsp;'+cusTaxTypeList[j].taxName+'</label>';
    			index++;
    		}
    		html+='</td></tr>'
    	}
    	html += "</table>";
    	return html;
    }
    
    loadCusCompanyTaxType(enterpriseId);
});
//保存税种信息
function saveCusCompanyTaxType()
{
	var url="${ctxPath}/cusCompanyTaxType/saveCusCompanyTaxType.api";
	var param=$("#cusCompanyTaxTypeInfo").serialize();
	$.ajax({  
       type: "post",  
       url: url,
       data:param,
       cache: false,  
       dataType : "json",  
       success: function(data){  
       	window.location.reload();
       }  
     });
}
</script>
<script language=javascript
	src="${ctxPath}/js/userClient/myrecommend.js"></script>
</head>
<body>
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
	<%includeFileTemplate("/html/userClientCommon.html"){ %><%}%>
	<div class="w_1160 wrap clearfix">
		<input id="enterpriseId" value="${enterpriseId}" type="hidden">
		<div id="nav_left" class="nav_left border_right">
			<%includeFileTemplate("/html/userClient_navleft.html"){ %><%}%></div>
		<div id="content">
			<div class="clientRight">
				<div class="baseMargin">
					<h4 class="infoTit">
						<span>公司信息</span>
					</h4>
					<a href="${ctxPath}/myCompany/myEnterprise.html" class="easyui-linkbutton" data-options="iconCls:'icon-back'" style="margin-top: 10px;float: right;margin-bottom: 10px;"> 返回 </a>
					<div class="easyui-tabs" style="width:100%;height:800px;margin-top: 20px;">
						<div title="基本信息" style="padding:10px">
							<div id="p" class="easyui-panel" title="基本信息" style="width:100%;height:100%;padding:10px;">
								<form id="cusEnterpriseInfoForm" post="post" novalidate="novalidate">
									<table id="cusEnterpriseInfoTable" style="width: 100%">
										
										<tbody><tr>
											<input type="hidden" id="customerId" value="${currentuser.id!}" name="customerId">
											<td width="20%" class="tableleft">公司名称</td>
											<td><input name="id" type="hidden" value="${cusEnterprise.id!}" id="companyId"> 
											<input type="text" name="name" value="${cusEnterprise.name!}" class="easyui-textbox" id="companyName"></td>
											<td width="20%" class="tableleft">公司性质</td>
											<td><select class="easyui-combobox" name="nature" data-options="editable:false" style="width:150px;">
												<%if(!isEmpty(cusEnterprise.nature) && cusEnterprise.nature == '0'){%>
													<option selected value="0">一般纳税人</option>
												<%}else{%>
													<option value="0">一般纳税人</option>
												<%}%>
												<%if(!isEmpty(cusEnterprise.nature) && cusEnterprise.nature == '1'){%>
													<option selected value="1">小规模纳税人</option>
												<%}else{%>
													<option value="1">小规模纳税人</option>
												<%}%>
											</select></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">公司电话</td>
											<td><input type="text" name="phone" value="${cusEnterprise.phone!}" class="easyui-textbox"></td>
											<td width="20%" class="tableleft">公司邮箱</td>
											<td><input type="text" name="email" value="${cusEnterprise.email!}" class="easyui-textbox"></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">地址区域</td>
											<td>
												<input id="areaparentid" value="${cusEnterprise.sysArea.parentId!}" type="hidden">
												<input id="areaidid" value="${cusEnterprise.sysArea.id!}" type="hidden">
												<input class="easyui-combobox"  style="width:30%;"  id="selectCity" data-options="editable:false"> 
												<input class="easyui-combobox"  style="width:30%;"  id="selectRegion" name="areaId" data-options="editable:false"> 
											</td>
											<td width="20%" class="tableleft">公司地址</td>
											<td><input type="text" name="address" value="${cusEnterprise.address!}" class="easyui-textbox"></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">统一信用代码</td>
											<td><input type="hidden" name="cusEnterpriseExt.id" value="${cusEnterprise.cusEnterpriseExt.id!}" id="cusEnterpriseExtId"> 
											<input type="text" name="cusEnterpriseExt.companyCode" value="${cusEnterprise.cusEnterpriseExt.companyCode!}" class="easyui-textbox"></td>
											<td width="20%" class="tableleft">工商注册号</td>
											<td><input type="text" name="cusEnterpriseExt.companyRegOn" value="${cusEnterprise.cusEnterpriseExt.companyRegOn!}" class="easyui-textbox"></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">组织机构代码</td>
											<td><input type="text" name="cusEnterpriseExt.companyRealCode" value="${cusEnterprise.cusEnterpriseExt.companyRealCode!}" class="easyui-textbox"></td>
											<td width="20%" class="tableleft">经营状态</td>
											<td><select class="easyui-combobox" name="cusEnterpriseExt.companyManagementForms" data-options="editable:false" style="width:150px;">
													<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companyManagementForms) && cusEnterprise.cusEnterpriseExt.companyManagementForms == '0'){%>
														<option selected value="0">登记成立</option>
													<%}else{%>
														<option value="0">登记成立</option>
													<%}%>
													<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companyManagementForms) && cusEnterprise.cusEnterpriseExt.companyManagementForms == '1'){%>
														<option selected value="1">开业</option>
													<%}else{%>
														<option value="1">开业</option>
													<%}%>
													<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companyManagementForms) && cusEnterprise.cusEnterpriseExt.companyManagementForms == '2'){%>
														<option selected value="2">续存</option>
													<%}else{%>
														<option value="2">续存</option>
													<%}%>
													<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companyManagementForms) && cusEnterprise.cusEnterpriseExt.companyManagementForms == '3'){%>
														<option selected value="3">注销</option>
													<%}else{%>
														<option value="3">注销</option>
													<%}%>
													<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companyManagementForms) && cusEnterprise.cusEnterpriseExt.companyManagementForms == '4'){%>
														<option selected value="4">注销</option>
													<%}else{%>
														<option value="4">吊销</option>
													<%}%>
											</select></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">公司类型</td>
											<td><input type="text" name="cusEnterpriseExt.companyType" value="${cusEnterprise.cusEnterpriseExt.companyType!}" class="easyui-textbox"></td>
											<td width="20%" class="tableleft">成立日期</td>
											<td><input class="easyui-datebox" value="${cusEnterprise.cusEnterpriseExt.companyEstablishDate!,dateFormat='yyyy-MM-dd HH:mm:ss'}" name="cusEnterpriseExt.companyEstablishDate" placeholder="YYYY-MM-DD" data-options="formatter:myformatter,parser:myparser"></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">法人名称</td>
											<td><input type="text" name="cusEnterpriseExt.companyLegalPerson" value="${cusEnterprise.cusEnterpriseExt.companyLegalPerson!}" class="easyui-textbox"></td>
											<td width="20%" class="tableleft">法人证件号码</td>
											<td><input type="text" name="cusEnterpriseExt.companyCertificates" value="${cusEnterprise.cusEnterpriseExt.companyCertificates!}" class="easyui-textbox"></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">注册资本</td>
											<td><input type="number" name="cusEnterpriseExt.companyRegCapital" value="${cusEnterprise.cusEnterpriseExt.companyRegCapital!}" class="easyui-textbox"></td>
											<td width="20%" class="tableleft">币种</td>
											<td><select class="easyui-combobox" name="cusEnterpriseExt.companyCapitalCurrency" data-options="editable:false" style="width:150px;">
												<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companyCapitalCurrency) && cusEnterprise.cusEnterpriseExt.companyCapitalCurrency == '0'){%>
													<option selected value="0">人民币</option>
												<%}else{%>
													<option value="0">人民币</option>
												<%}%>
												<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companyCapitalCurrency) && cusEnterprise.cusEnterpriseExt.companyCapitalCurrency == '1'){%>
													<option selected value="1">美元</option>
												<%}else{%>
													<option value="1">美元</option>
												<%}%>
												<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companyCapitalCurrency) && cusEnterprise.cusEnterpriseExt.companyCapitalCurrency == '2'){%>
													<option selected value="2">欧元</option>
												<%}else{%>
													<option value="2">欧元</option>
												<%}%>
												<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companyCapitalCurrency) && cusEnterprise.cusEnterpriseExt.companyCapitalCurrency == '3'){%>
													<option selected value="3">英镑</option>
												<%}else{%>
													<option value="3">英镑</option>
												<%}%>
											</select></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">营业期限开始日期</td>
											<td><input type="text" class="easyui-datebox" name="cusEnterpriseExt.companyTermStartDate" value="${cusEnterprise.cusEnterpriseExt.companyTermStartDate!,dateFormat='yyyy-MM-dd HH:mm:ss'}" placeholder="YYYY-MM-DD" data-options="formatter:myformatter,parser:myparser,editable:false"></td>
											<td width="20%" class="tableleft">营业期限结束日期</td>
											<td><input type="text" class="easyui-datebox" name="cusEnterpriseExt.companyTermEndDate" value="${cusEnterprise.cusEnterpriseExt.companyTermEndDate!,dateFormat='yyyy-MM-dd HH:mm:ss'}" placeholder="YYYY-MM-DD" data-options="formatter:myformatter,parser:myparser,editable:false"></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">工商登记机关</td>
											<td><input type="text" name="cusEnterpriseExt.companyRegOffice" value="${cusEnterprise.cusEnterpriseExt.companyRegOffice!}" class="easyui-textbox"></td>
											<td width="20%" class="tableleft">发照日期</td>
											<td><input type="text" name="cusEnterpriseExt.companyDateOfIssue" class="easyui-datebox" value="${cusEnterprise.cusEnterpriseExt.companyDateOfIssue!,dateFormat='yyyy-MM-dd HH:mm:ss'}" placeholder="YYYY-MM-DD" data-options="formatter:myformatter,parser:myparser,editable:false"></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">公司规模</td>
											<td><select class="easyui-combobox" name="cusEnterpriseExt.companySize" data-options="editable:false" style="width:150px;">
													<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companySize) && cusEnterprise.cusEnterpriseExt.companySize == '0'){%>
														<option selected value="0">1-9人</option>
													<%}else{%>
														<option value="0">1-9人</option>
													<%}%>
													<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companySize) && cusEnterprise.cusEnterpriseExt.companySize == '1'){%>
														<option selected value="1">10-49人</option>
													<%}else{%>
														<option value="1">10-49人</option>
													<%}%>
													<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companySize) && cusEnterprise.cusEnterpriseExt.companySize == '2'){%>
														<option selected value="2">50-59人</option>
													<%}else{%>
														<option value="2">50-59人</option>
													<%}%>
													<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companySize) && cusEnterprise.cusEnterpriseExt.companySize == '3'){%>
														<option selected value="3">100-499人</option>
													<%}else{%>
														<option value="3">100-499人</option>
													<%}%>
													<%if(!isEmpty(cusEnterprise.cusEnterpriseExt.companySize) && cusEnterprise.cusEnterpriseExt.companySize == '4'){%>
														<option selected value="4">500以上</option>
													<%}else{%>
														<option value="4">500以上</option>
													<%}%>
											</select></td>
											<td width="20%" class="tableleft">所属行业</td>
											<td>
												<input class="easyui-combotree" name="cusEnterpriseExt.companyIndustry"  value="${cusEnterprise.cusEnterpriseExt.companyIndustry!}" data-options="url:'${ctxPath}/myCompany/myCompanyInfo/buildIndustryTree.html',method:'get'" style="width:159px;">
											</td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">公司简介</td>
											<td colspan="3"><input class="easyui-textbox" name="remark" data-options="multiline:true" style="height:60px;width:600px;" value="${cusEnterprise.remark!}"></input></td>										
										</tr>
										<tr>
											<td class="tableleft">公司经营范围</td>
											<td  colspan="3"><input class="easyui-textbox" name="cusEnterpriseExt.companyBusiness" data-options="multiline:true" style="height:60px;width:600px;" value="${cusEnterprise.cusEnterpriseExt.companyBusiness!}"></input></td>																				
										</tr>
									</tbody></table>
										<center style="border-top: 1px solid #ccc;">
											<a href="#" onclick="saveCusEnterprise()" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="padding:2px;margin-top: 10px;"> 保存 </a>
										</center>
									
								</form>
							</div>
						</div>
						<div title="股东信息" style="padding:10px">
							<div id="gdtb" style="height:auto;padding:5px;">
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="openwgdxx();">新增</a>
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="shareholderListEdit()">编辑</a>
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="shareholderListDel(${enterpriseId!})">删除</a>
							</div>
							<table id="shareholderList" title="股东信息" style="width:100%;height:50%"
									data-options="rownumbers:true,singleSelect:true,pagination:true,url:'${ctxPath}/myCompany/myCompanyInfo/shareholderList/${enterpriseId}.html',method:'get',toolbar: '#gdtb'">
								<thead>
									<tr>
										<th data-options="field:'shareholderName',width:120">股东名称</th>
										<th data-options="field:'documentType',width:80,formatter:formattype">证件类型</th>
										<th data-options="field:'documentNo',width:150">证件号码</th>
										<th data-options="field:'addressDetails',width:200">证件地址</th>
										<th data-options="field:'shareholderMoney',width:100">出资额</th>
									</tr>
								</thead>
							</table>
							<script type="text/javascript">
								$(function(){										
									var pager = $('#shareholderList').datagrid().datagrid('getPager');	// get the pager of datagrid
									pager.pagination({
										pageSize: 10,//每页显示的记录条数，默认为10  
						                beforePageText: '第',//页数文本框前显示的汉字  
						                afterPageText: '页    共 {pages} 页',
										displayMsg:'{from}-{to} 共{total}条记录'
									});
								});
								
								function formattype(v,r,i){
									if(v && v == '0'){
										return "身份证";
									}else if(v && v == '1'){
										return "护照";
									}else if(v && v == '2'){
										return "户口本";
									}else if(v && v == '3'){
										return "军人证";
									}else if(v && v == '4'){
										return "港澳通行证";
									}
								}
							</script>
						</div>
						<div title="主要成员" style="padding:10px">
							<div id="zycytb" style="height:auto;padding:5px;">
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="openzycyxx()">新增</a>
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editZycyxx()">编辑</a>
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="zycyxxDel(${enterpriseId!})">删除</a>
							</div>
							<table id="legalpersonList" title="主要成员" style="width:100%;height:50%"
									data-options="rownumbers:true,singleSelect:true,pagination:true,url:'${ctxPath}/myCompany/myCompanyInfo/legalpersonList/${enterpriseId}.html',method:'get',toolbar:'#zycytb'">
								<thead>
									<tr>
										<th data-options="field:'personName',width:120">成员名称</th>
										<th data-options="field:'personType',width:80,formatter:formatPesonType">成员类型</th>
										<th data-options="field:'documentType',width:80,formatter:formattype">证件类型</th>
										<th data-options="field:'documentNo',width:150">证件号码</th>
										<th data-options="field:'addressDetails',width:200">证件地址</th>
									</tr>
								</thead>
							</table>
							<script type="text/javascript">
								$(function(){										
									var pager = $('#legalpersonList').datagrid().datagrid('getPager');	// get the pager of datagrid
									pager.pagination({
										pageSize: 10,//每页显示的记录条数，默认为10  
						                beforePageText: '第',//页数文本框前显示的汉字  
						                afterPageText: '页    共 {pages} 页',
										displayMsg:'{from}-{to} 共{total}条记录'
									});
								});
								
								function formatPesonType(v,r,i){
									if(v && v == '0'){
										return "监视人";
									}else if(v && v == '1'){
										return "执行董事";
									}else if(v && v == '2'){
										return "总经理";
									}else if(v && v == '3'){
										return "董事";
									}
								}
							</script>
						</div>
						<div title="变更记录" style="padding:10px;">
							<div id="bgjltb" style="height:auto;padding:5px;">
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="openbgxx()">新增</a>
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editBgxx()">编辑</a>
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delBgxx(${enterpriseId!})">删除</a>
							</div>
							<table id="companyChangeList" title="变更记录" style="width:100%;height:50%"
									data-options="rownumbers:true,singleSelect:true,pagination:true,url:'${ctxPath}/myCompany/myCompanyInfo/companyChangeList/${enterpriseId}.html',method:'get',toolbar:'#bgjltb'">
								<thead>
									<tr>
										<th data-options="field:'updateType',width:120">变更记录名称</th>
										<th data-options="field:'datetimeFmt',width:150">变更记录时间</th>
										<th data-options="field:'updateBefore',width:150">变更前</th>
										<th data-options="field:'updateAfter',width:150">变更后</th>
									</tr>
								</thead>
							</table>
							<script type="text/javascript">
								$(function(){										
									var pager = $('#companyChangeList').datagrid().datagrid('getPager');	// get the pager of datagrid
									pager.pagination({
										pageSize: 10,//每页显示的记录条数，默认为10  
						                beforePageText: '第',//页数文本框前显示的汉字  
						                afterPageText: '页    共 {pages} 页',
										displayMsg:'{from}-{to} 共{total}条记录'
									});
								});
							</script>
						</div>
						<div title="进出口信息" style="padding:10px">
							<div id="jcktb" style="height:auto;padding:5px;">
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="openjckxx()">新增</a>
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editJckxx()">编辑</a>
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delJckxx(${enterpriseId!})">删除</a>
							</div>
							<table id="cusCompanyVpdnList" title="进出口信息" style="width:100%;height:50%"
									data-options="rownumbers:true,singleSelect:true,pagination:true,url:'${ctxPath}/myCompany/myCompanyInfo/cusCompanyVpdnList/${enterpriseId}.html',method:'get',toolbar:'#jcktb'">
								<thead>
									<tr>
										<th data-options="field:'vpdnName',width:120">VPDN用户名</th>
										<th data-options="field:'vpdnPwd',width:150">VPDN密码</th>
										<th data-options="field:'customNumber',width:150">海关号码</th>
										<th data-options="field:'inspectionNumber',width:150">商检号</th>
										<th data-options="field:'electronicPort',width:150">电子口岸号</th>
									</tr>
								</thead>
							</table>
							<script type="text/javascript">
								$(function(){										
									var pager = $('#cusCompanyVpdnList').datagrid().datagrid('getPager');	// get the pager of datagrid
									pager.pagination({
										pageSize: 10,//每页显示的记录条数，默认为10  
						                beforePageText: '第',//页数文本框前显示的汉字  
						                afterPageText: '页    共 {pages} 页',
										displayMsg:'{from}-{to} 共{total}条记录'
									});
								});
							</script>
						</div>
						<div title="税务信息" style="padding:10px">
							<div id="p" class="easyui-panel" title="税务信息" style="width:100%;height:70%;padding:10px;">
								<form action="" id="cusCompanyTaxInfoForm">
									<input name="enterpriseId" type="hidden" value="${cusEnterprise.id}" />
									<table id="cusCompanyTaxInfoTable" style="width:100%;">
										<tr>
											<td width="20%" class="tableleft">税务登记证号</td>
											<td colspan="3">
												<input type="hidden" name="id" value="${cusCompanyTax.id!}" /> 
												<input type="text" name="taxCode" value="${cusCompanyTax.taxCode!}" class="easyui-textbox" style="width: 590px;">
											</td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">所属国税</td>
											<td>
												<input type="hidden" name="companyNationaltax.id" value="${cusCompanyTax.companyNationaltax.id!}" /> 
												<input type="text" name="companyNationaltax.nationaltaxInstitution" value="${cusCompanyTax.companyNationaltax.nationaltaxInstitution!}" class="easyui-textbox">
											</td>
											<td width="20%" class="tableleft">国税所属科室</td>
											<td><input type="text" name="companyNationaltax.nationaltaxDepartment" value="${cusCompanyTax.companyNationaltax.nationaltaxDepartment!}" class="easyui-textbox"></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">国税联系人</td>
											<td><input type="text" name="companyNationaltax.nationaltaxContacts" value="${cusCompanyTax.companyNationaltax.nationaltaxContacts!}" class="easyui-textbox"></td>
											<td width="20%" class="tableleft">国税登记号码</td>
											<td><input type="text" name="companyNationaltax.nationaltaxNumber" value="${cusCompanyTax.companyNationaltax.nationaltaxNumber!}" class="easyui-textbox"></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">国税编码</td>
											<td><input type="text" name="companyNationaltax.nationaltaxCode" value="${cusCompanyTax.companyNationaltax.nationaltaxCode!}" class="easyui-textbox"></td>
											<td width="20%" class="tableleft">国税登记时间</td>
											<td>
												<input type="text" name="companyNationaltax.nationaltaxTime" class="easyui-datebox" value="${cusCompanyTax.companyNationaltax.nationaltaxTime!,dateFormat='yyyy-MM-dd HH:mm:ss'}" placeholder="YYYY-MM-DD" data-options="formatter:myformatter,parser:myparser,editable:false">
											</td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">国税密码</td>
											<td colspan="3"><input type="text" name="companyNationaltax.nationaltaxPwd" value="${cusCompanyTax.companyNationaltax.nationaltaxPwd!}" class="easyui-textbox"></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">所属地税</td>
											<td><input type="hidden" name="companyFarmtax.id" value="${cusCompanyTax.companyFarmtax.id!}" /> 
											<input type="text" name="companyFarmtax.farmtaxInstitution" value="${cusCompanyTax.companyFarmtax.farmtaxInstitution!}" class="easyui-textbox"></td>
											<td width="20%" class="tableleft">地税所属科室</td>
											<td><input type="text" name="companyFarmtax.farmtaxDepartment" value="${cusCompanyTax.companyFarmtax.farmtaxDepartment!}" class="easyui-textbox"></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">地税手机号码</td>
											<td><input type="text" name="companyFarmtax.farmtaxPhone" value="${cusCompanyTax.companyFarmtax.farmtaxPhone!}" class="easyui-textbox"></td>
											<td width="20%" class="tableleft">地税登记号码</td>
											<td><input type="text" name="companyFarmtax.farmtaxNumber" value="${cusCompanyTax.companyFarmtax.farmtaxNumber!}" class="easyui-textbox"></td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">地税编码</td>
											<td><input type="text" name="companyFarmtax.farmtaxCode" value="${cusCompanyTax.companyFarmtax.farmtaxCode!}" class="easyui-textbox"></td>
											<td width="20%" class="tableleft">地税登记时间</td>
											<td>
												<input type="text" name="companyFarmtax.farmtaxTime" class="easyui-datebox" value="${cusCompanyTax.companyFarmtax.farmtaxTime!,dateFormat='yyyy-MM-dd HH:mm:ss'}" placeholder="YYYY-MM-DD" data-options="formatter:myformatter,parser:myparser,editable:false">
											</td>
										</tr>
										<tr>
											<td width="20%" class="tableleft">地税密码</td>
											<td><input type="text" name="companyFarmtax.farmtaxPwd" value="${cusCompanyTax.companyFarmtax.farmtaxPwd!}" class="easyui-textbox"></td>
											<td width="20%" class="tableleft">地税联系人</td>
											<td><input type="text" name="companyFarmtax.farmtaxContacts" value="${cusCompanyTax.companyFarmtax.farmtaxContacts!}" class="easyui-textbox"></td>
										</tr>
									</table>
								</form>
								<center style="border-top: 1px solid #ccc;margin-top: 10px;">
									<a onclick="saveCusCompanyTax()" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="padding:2px;margin-top: 10px;"> 保存 </a>
								</center>
							</div>
						</div>
						<div title="企业税种" style="padding:10px">
							<div id="p" class="easyui-panel" title="企业税种" style="width:100%;height:50%;padding:10px;">
								<form method="get" id="cusCompanyTaxTypeInfo" class="form-horizontal"></form>
								
								<center style="border-top: 1px solid #ccc;margin-top: 10px;">
									<a onclick="saveCusCompanyTaxType()" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="padding:2px;margin-top: 10px;"> 保存 </a>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 编辑股东信息 -->
	<div id="w_gdxx" class="easyui-window" title="股东信息" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:700px;height:370px;padding:10px;">
		<form action="" id="companyShareholderForm">
			<input name="enterpriseId" id="enterpriseId" type="hidden" value="${enterpriseId}" />
			<input name="id" id="shareId" type="hidden" value="" />
			<table id="createCompanyShareholderTable" style="width: 100%;">
				<tr>
					<td width="20%" class="tableleft">股东名称</td>
					<td>
						<input name="id" type="hidden" /> 
						<input name="shareholderName" id="shareholderName" class="easyui-textbox" style="width: 150px;">
					</td>
					<td width="20%" class="tableleft">证件类型</td>
					<td><select class="easyui-combobox" name="documentType" id="documentType" style="width: 150px;" data-options="editable:false">
							<option value="0" selected="selected">身份证</option>
							<option value="1">护照</option>
							<option value="2">户口本</option>
							<option value="3">军人证</option>
							<option value="4">港澳通行证</option>
					</select></td>
				</tr>
				<tr>
					<td width="20%" class="tableleft">证件号码</td>
					<td><input type="text" name="documentNo" id="documentNo" class="easyui-textbox"></td>
					<td width="20%" class="tableleft">出资额</td>
					<td><input type="text" name="shareholderMoney" id="shareholderMoney" class="easyui-numberspinner"></td>
				</tr>
				<tr>
					<td width="20%" class="tableleft">数字证书编码</td>
					<td><input type="text" name="certificateCode" id="certificateCode" class="easyui-textbox"></td>
					<td width="20%" class="tableleft">数字证书密码</td>
					<td><input type="text" name="certificatePwd" id="certificatePwd" class="easyui-textbox"></td>
				</tr>
				<tr>
					<td width="20%" class="tableleft">证件地址</td>
					<td colspan="3">
						<input type="text" name="addressDetails" id="addressDetails" class="easyui-textbox" style="height: 60px;width: 80%">
					</td>
				</tr>
				<tr>
					<td width="20%" class="tableleft">备注</td>
					<td colspan="3">
						<input type="text" name="remark" id="remark" class="easyui-textbox" style="height: 60px;width: 80%">
					</td>
				</tr>
			</table>
			<center style="border-top: 1px solid #ccc;margin-top: 10px;">
				<a onclick="saveCompanyShareholder()" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="padding:2px;margin-top: 10px;"> 保存 </a>
				<a onclick="$('#w_gdxx').window('close');" class="easyui-linkbutton" data-options="iconCls:'panel-tool-close'"  style="padding:2px;margin-top: 10px;"> 关闭 </a>
			</center>
		</form>
	</div>
	
	<!-- 编辑主要成员信息 -->
	<div id="w_zycyxx" class="easyui-window" title="主要成员信息" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:700px;height:370px;padding:10px;">
		<form action="" id="cusCompanyLegalpersonForm">
			<input name="enterpriseId" type="hidden" value="${enterpriseId}" />
			<input name="id" type="hidden" id="zycyid" value="" />
			<table id="createCusCompanyLegalpersonTable" style="width: 100%;">
				<tr>
					<td width="20%" class="tableleft">成员名称</td>
					<td><input name="id" type="hidden" /> <input type="text" name="personName" id="personName" class="easyui-textbox"></td>
					<td width="20%" class="tableleft">人员类型</td>
					<td><select class="easyui-combobox" name="personType" id="personType" style="width: 150px;" data-options="editable:false">
							<option value="0">监视人</option>
							<option value="1">执行董事</option>
							<option value="2">总经理</option>
							<option value="3">董事</option>
					</select></td>
				</tr>
				<tr>
					<td width="20%" class="tableleft">证件类型</td>
					<td><select class="easyui-combobox" name="documentType" id="documentType" style="width: 150px;" data-options="editable:false">
							<option value="0">身份证</option>
							<option value="1">护照</option>
							<option value="2">户口本</option>
							<option value="3">军人证</option>
							<option value="4">港澳通行证</option>
					</select></td>
					<td width="20%" class="tableleft">证件号码</td>
					<td><input type="text" name="documentNo" id="documentNo" class="easyui-textbox"></td>
				</tr>
				<tr>
					<td width="20%" class="tableleft">数字证书密码</td>
					<td><input type="text" name="certificatePwd" id="certificatePwd" class="easyui-textbox"></td>
					<td width="20%" class="tableleft">数字证书编码</td>
					<td><input type="text" name="certificateCode" id="certificateCode" class="easyui-textbox"></td>
				</tr>
				<tr>
					<td width="20%" class="tableleft">证件地址</td>
					<td colspan="3"><input name="addressDetails" id="addressDetails" class="easyui-textbox" style="height: 60px;width: 80%"></td>
				</tr>
				<tr>
					<td width="20%" class="tableleft">备注</td>
					<td colspan="3"><input name="remark" id="remark" class="easyui-textbox" style="height: 60px;width: 80%"></td>
				</tr>
			</table>
			<center style="border-top: 1px solid #ccc;margin-top: 10px;">
				<a onclick="saveZycyxx()" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="padding:2px;margin-top: 10px;"> 保存 </a>
				<a onclick="$('#w_zycyxx').window('close');" class="easyui-linkbutton" data-options="iconCls:'panel-tool-close'"  style="padding:2px;margin-top: 10px;"> 关闭 </a>
			</center>
		</form>
	</div>
	
	<!-- 编辑变更信息 -->
	<div id="w_bgxx" class="easyui-window" title="变更信息" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:700px;height:370px;padding:10px;">
		<form action="" id="cusCompanyShareholderChangeForm">
			<input name="enterpriseId" id="enterpriseId" type="hidden" value="${enterpriseId}" />
			<input name="id" type="hidden" id="bgid" value="" />
			<table id="createCusCompanyShareholderChangeTable" style="width: 100%;">
				<tr>
					<td width="20%" class="tableleft">变更业务</td>
					<td><input name="id" type="hidden" /> <input type="text" name="updateType" id="updateType" class="easyui-textbox"></td>
					<td width="20%" class="tableleft">变更时间</td>
					<td>
						<input type="text" class="easyui-datebox" id="dateTime" name="dateTime" placeholder="YYYY-MM-DD" data-options="formatter:myformatter,parser:myparser,editable:false">
					</td>
				</tr>
				<tr>
					<td width="20%" class="tableleft">变更前</td>
					<td colspan="3"><input name="updateBefore" id="updateBefore"  class="easyui-textbox" style="height: 60px;width: 80%"/></td>
					
				</tr>
				<tr>
					<td width="20%" class="tableleft">变更后</td>
					<td colspan="3"><input name="updateAfter" id="updateAfter" class="easyui-textbox" style="height: 60px;width: 80%"/></td>
				</tr>
				<tr>
					<td width="20%" class="tableleft">备注</td>
					<td colspan="3"><input name="remark" id="remark" class="easyui-textbox"  style="height: 60px;width: 80%"/></td>
				</tr>
			</table>
			<center style="border-top: 1px solid #ccc;margin-top: 10px;">
				<a onclick="saveBgxx()" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="padding:2px;margin-top: 10px;"> 保存 </a>
				<a onclick="$('#w_bgxx').window('close');" class="easyui-linkbutton" data-options="iconCls:'panel-tool-close'"  style="padding:2px;margin-top: 10px;"> 关闭 </a>
			</center>
		</form>
	</div>
	
	<!-- 编辑进出口信息 -->
	<div id="w_jckxx" class="easyui-window" title="进出口信息" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:700px;height:370px;padding:10px;">
		<form action="" id="cusCompanyVpdnForm">
			<input name="enterpriseId" type="hidden" id="enterpriseId" value="${enterpriseId}" />
			<input name="id" type="hidden" id="jckid" value="" />
			<table id="createCusCompanyVpdnTable" style="width: 100%;">
				<tr>
					<td width="20%" class="tableleft">VPDN用户名</td>
					<td><input name="id" type="hidden" /> <input type="text" name="vpdnName" id="vpdnName" class="easyui-textbox"></td>
					<td width="20%" class="tableleft">VPDN密码</td>
					<td><input type="text" name="vpdnPwd" id="vpdnPwd" class="easyui-textbox"></td>
				</tr>
				<tr>
					<td width="20%" class="tableleft">海关号码</td>
					<td><input type="text" name="customNumber" id="customNumber" class="easyui-textbox"></td>
					<td width="20%" class="tableleft">商检号</td>
					<td><input type="text" name="inspectionNumber" id="inspectionNumber" class="easyui-textbox"></td>
				</tr>
				<tr>
					<td width="20%" class="tableleft">电子口岸号</td>
					<td><input type="text" name="electronicPort" id="electronicPort" class="easyui-textbox"></td>
				</tr>
				<tr>
					<td width="20%" class="tableleft">备注会计事项</td>
					<td colspan="3"><input name="remark" id="remark" class="easyui-textbox" style="height: 60px;width: 80%"/></td>
				</tr>
			</table>
			<center style="border-top: 1px solid #ccc;margin-top: 10px;">
				<a onclick="saveJckxx()" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="padding:2px;margin-top: 10px;"> 保存 </a>
				<a onclick="$('#w_jckxx').window('close');" class="easyui-linkbutton" data-options="iconCls:'panel-tool-close'"  style="padding:2px;margin-top: 10px;"> 关闭 </a>
			</center>
		</form>
	</div>
	
<script type="text/javascript">
	//保存税务信息
	function saveCusCompanyTax(){
		var url="/cusCompanyTax/save";
		var param=$("#cusCompanyTaxInfoForm").serialize();
		dum.common.ajax({
			type : 'post',
			url : url+'.api',
			dataType : 'json',
			data:param,
			async : false,
			success : function(data) {
				window.location.reload();
			}
		});
	}

	//打开进出口编辑页面
	function openjckxx(){
		$('#w_jckxx').window('open');
		clearJckxx();
	}
	
	/**
	 * 保存进出口信息
	 * @param value
	 */
	function saveJckxx()
	{
		var url="/cusCompanyVpdn/save";
		var param=$("#cusCompanyVpdnForm").serialize();
		dum.common.ajax({
			type : 'post',
			url : url+'.api',
			dataType : 'json',
			data:param,
			async : false,
			success : function(data) {
				$('#w_jckxx').window('close');
				$('#cusCompanyVpdnList').datagrid('reload');
			}
		});
	}
	
	/**
	 * 删除进出口信息
	 */
	 function delJckxx(enterpriseId){
		var row = $('#cusCompanyVpdnList').datagrid('getSelected');
	    if (row){
	    	$.messager.confirm('提示', '确定要删除该条数据吗?', function(r){
				if (r){
					var url="/cusCompanyVpdn/delCusCompanyVpdn";
			    	dum.common.ajax({
			    		type : 'post',
			    		url : url+'.api',
			    		dataType : 'json',
			    		data:{id:row.id,enterpriseId:enterpriseId},
			    		async : false,
			    		success : function(data) {
			    			$('#cusCompanyVpdnList').datagrid('reload');
			    		}
			    	});
				}
			});
	    }else{
			$.messager.alert('提示','请先选择一行数据!','确定');
	    }	
	}
	
	 /**
	 * 编辑进出口信息
	 */
	function editJckxx(){
		var row = $('#cusCompanyVpdnList').datagrid('getSelected');
	    if (row){
	    	openjckxx();
	    	var url="/cusCompanyVpdn/getCusCompanyVpdn";
	    	dum.common.ajax({
	    		type : 'get',
	    		url : url+'.api',
	    		dataType : 'json',
	    		data:{id:row.id},
	    		async : true,
	    		success : function(data) {
	    			if(data && data.values){
	    				$('#cusCompanyVpdnForm #enterpriseId').val(data.values.enterpriseId);
	    				$('#cusCompanyVpdnForm #jckid').val(data.values.id);
	    				$('#cusCompanyVpdnForm #vpdnName').textbox('setValue',data.values.vpdnName);
	    				$('#cusCompanyVpdnForm #vpdnPwd').textbox('setValue',data.values.vpdnPwd);
	    				$('#cusCompanyVpdnForm #customNumber').textbox('setValue',data.values.customNumber);
	    				$('#cusCompanyVpdnForm #inspectionNumber').textbox('setValue',data.values.inspectionNumber);
	    				$('#cusCompanyVpdnForm #electronicPort').textbox('setValue',data.values.electronicPort);
	    				$('#cusCompanyVpdnForm #remark').textbox('setValue',data.values.remark);
	    			}
	    		}
	    	});
	    }else{
			$.messager.alert('提示','请先选择一行数据!','确定');
	    }
	}
	
	//清空进出口编辑信息
	function clearJckxx(){
		$('#cusCompanyVpdnForm #jckid').val('');
		$('#cusCompanyVpdnForm #vpdnName').textbox('setValue','');
		$('#cusCompanyVpdnForm #vpdnPwd').textbox('setValue','');
		$('#cusCompanyVpdnForm #customNumber').textbox('setValue','');
		$('#cusCompanyVpdnForm #inspectionNumber').textbox('setValue','');
		$('#cusCompanyVpdnForm #electronicPort').textbox('setValue','');
		$('#cusCompanyVpdnForm #remark').textbox('setValue','');
	}

	//打开变更编辑页面
	function openbgxx(){
		$('#w_bgxx').window('open');
		clearBgxx();
	}
	
	/**
	 * 保存变更信息
	 * @param value
	 */
	function saveBgxx()
	{
		var url="/companyChange/save";
		var param=$("#cusCompanyShareholderChangeForm").serialize();
		dum.common.ajax({
			type : 'post',
			url : url+'.api',
			dataType : 'json',
			data:param,
			async : false,
			success : function(data) {
				$('#w_bgxx').window('close');
				$('#companyChangeList').datagrid('reload');
			}
		});
	}
	
	/**
	 * 删除变更信息
	 */
	 function delBgxx(enterpriseId){
		var row = $('#companyChangeList').datagrid('getSelected');
	    if (row){
	    	$.messager.confirm('提示', '确定要删除该条数据吗?', function(r){
				if (r){
					var url="/companyChange/delCompanyChange";
			    	dum.common.ajax({
			    		type : 'post',
			    		url : url+'.api',
			    		dataType : 'json',
			    		data:{id:row.id,enterpriseId:enterpriseId},
			    		async : false,
			    		success : function(data) {
			    			$('#companyChangeList').datagrid('reload');
			    		}
			    	});
				}
			});
	    }else{
			$.messager.alert('提示','请先选择一行数据!','确定');
	    }	
	}
	
	/**
	 * 编辑变更信息
	 */
	function editBgxx(){
		var row = $('#companyChangeList').datagrid('getSelected');
	    if (row){
	    	openbgxx();
	    	var url="/companyChange/getCompanyChange";
	    	dum.common.ajax({
	    		type : 'get',
	    		url : url+'.api',
	    		dataType : 'json',
	    		data:{id:row.id},
	    		async : true,
	    		success : function(data) {
	    			if(data && data.values){
	    				$('#cusCompanyShareholderChangeForm #enterpriseId').val(data.values.enterpriseId);
	    				$('#cusCompanyShareholderChangeForm #bgid').val(data.values.id);
	    				$('#cusCompanyShareholderChangeForm #updateType').textbox('setValue',data.values.updateType);
	    				$('#cusCompanyShareholderChangeForm #dateTime').datebox('setValue',data.values.datetimeFmt);
	    				$('#cusCompanyShareholderChangeForm #updateBefore').textbox('setValue',data.values.updateBefore);
	    				$('#cusCompanyShareholderChangeForm #updateAfter').textbox('setValue',data.values.updateAfter);
	    				$('#cusCompanyShareholderChangeForm #remark').textbox('setValue',data.values.remark);
	    			}
	    		}
	    	});
	    }else{
			$.messager.alert('提示','请先选择一行数据!','确定');
	    }
	}
	
	//清空变更编辑信息
	function clearBgxx(){
		$('#cusCompanyShareholderChangeForm #bgid').val('');
		$('#cusCompanyShareholderChangeForm #updateType').textbox('setValue','');
		$('#cusCompanyShareholderChangeForm #dateTime').datebox('setValue','');
		$('#cusCompanyShareholderChangeForm #updateBefore').textbox('setValue','');
		$('#cusCompanyShareholderChangeForm #updateAfter').textbox('setValue','');
		$('#cusCompanyShareholderChangeForm #remark').textbox('setValue','');
	}
	
	/**
	 * 编辑股东信息
	 */
	function shareholderListEdit(){
		var row = $('#shareholderList').datagrid('getSelected');
	    if (row){
	    	openwgdxx();
	    	var url="/cusCompanyShareholder/getShareholder";
	    	dum.common.ajax({
	    		type : 'get',
	    		url : url+'.api',
	    		dataType : 'json',
	    		data:{id:row.id},
	    		async : true,
	    		success : function(data) {
	    			if(data && data.values){
	    				$('#companyShareholderForm #shareholderName').textbox('setValue',data.values.shareholderName);
	    				$('#companyShareholderForm #documentType').combobox('setValue',data.values.documentType);
	    				$('#companyShareholderForm #documentNo').textbox('setValue',data.values.documentNo);	    				
	    				$('#companyShareholderForm #shareholderMoney').numberspinner('setValue', data.values.shareholderMoney);	    				
	    				$('#companyShareholderForm #certificateCode').textbox('setValue',data.values.certificateCode);
	    				$('#companyShareholderForm #certificatePwd').textbox('setValue',data.values.certificatePwd);
	    				$('#companyShareholderForm #addressDetails').textbox('setValue',data.values.addressDetails);
	    				$('#companyShareholderForm #remark').textbox('setValue',data.values.remark);
	    				$('#companyShareholderForm #enterpriseId').val(data.values.enterpriseId);
	    				$('#companyShareholderForm #shareId').val(data.values.id);
	    			}
	    		}
	    	});
	    }else{
			$.messager.alert('提示','请先选择一行数据!','确定');
	    }
	}
	
	/**
	 * 删除主要成员信息
	 */
	 function zycyxxDel(enterpriseId){
		var row = $('#legalpersonList').datagrid('getSelected');
	    if (row){
	    	$.messager.confirm('提示', '确定要删除该条数据吗?', function(r){
				if (r){
					var url="/companyLegalperson/delLegalperson";
			    	dum.common.ajax({
			    		type : 'post',
			    		url : url+'.api',
			    		dataType : 'json',
			    		data:{id:row.id,enterpriseId:enterpriseId},
			    		async : false,
			    		success : function(data) {
			    			$('#legalpersonList').datagrid('reload');
			    		}
			    	});
				}
			});
	    }else{
			$.messager.alert('提示','请先选择一行数据!','确定');
	    }	
	}
	 
	 
	/**
	 * 保存主要成员信息
	 * @param value
	 */
	function saveZycyxx()
	{
		var url="/companyLegalperson/save";
		var param=$("#cusCompanyLegalpersonForm").serialize();
		dum.common.ajax({
			type : 'post',
			url : url+'.api',
			dataType : 'json',
			data:param,
			async : false,
			success : function(data) {
				$('#w_zycyxx').window('close');
				$('#legalpersonList').datagrid('reload');
			}
		});
	}
	
	/**
	 * 编辑主要成员信息
	 */
	function editZycyxx(){
		var row = $('#legalpersonList').datagrid('getSelected');
	    if (row){
	    	openzycyxx();
	    	var url="/companyLegalperson/getLegalperson";
	    	dum.common.ajax({
	    		type : 'get',
	    		url : url+'.api',
	    		dataType : 'json',
	    		data:{id:row.id},
	    		async : true,
	    		success : function(data) {
	    			if(data && data.values){
	    				$('#cusCompanyLegalpersonForm #enterpriseId').val(data.values.enterpriseId);
	    				$('#cusCompanyLegalpersonForm #zycyid').val(data.values.id);
	    				$('#cusCompanyLegalpersonForm #personName').textbox('setValue',data.values.personName);
	    				$('#cusCompanyLegalpersonForm #personType').combobox('setValue',data.values.personType);
	    				$('#cusCompanyLegalpersonForm #documentType').combobox('setValue',data.values.documentType);
	    				$('#cusCompanyLegalpersonForm #documentNo').textbox('setValue',data.values.documentNo);
	    				$('#cusCompanyLegalpersonForm #certificatePwd').textbox('setValue',data.values.certificatePwd);
	    				$('#cusCompanyLegalpersonForm #certificateCode').textbox('setValue',data.values.certificateCode);
	    				$('#cusCompanyLegalpersonForm #addressDetails').textbox('setValue',data.values.addressDetails);
	    				$('#cusCompanyLegalpersonForm #remark').textbox('setValue',data.values.remark);
	    			}
	    		}
	    	});
	    }else{
			$.messager.alert('提示','请先选择一行数据!','确定');
	    }
	}
	
	/**
	*清空股东信息编辑页面
	*/
	function clearShareholderList(){
		$('#companyShareholderForm #shareholderName').textbox('setValue','');
		$('#companyShareholderForm #documentType').combobox('setValue','');
		$('#companyShareholderForm #documentNo').textbox('setValue','');	    				
		$('#companyShareholderForm #shareholderMoney').numberspinner('setValue', '');	    				
		$('#companyShareholderForm #certificateCode').textbox('setValue','');
		$('#companyShareholderForm #certificatePwd').textbox('setValue','');
		$('#companyShareholderForm #addressDetails').textbox('setValue','');
		$('#companyShareholderForm #remark').textbox('setValue','');
		$('#companyShareholderForm #shareId').val('');
	}
	
	//清空主要成员信息
	function clearzycyxx(){
		$('#cusCompanyLegalpersonForm #enterpriseId').val('');
		$('#cusCompanyLegalpersonForm #zycyid').val('');
		$('#cusCompanyLegalpersonForm #personName').textbox('setValue','');
		$('#cusCompanyLegalpersonForm #personType').combobox('setValue','');
		$('#cusCompanyLegalpersonForm #documentType').combobox('setValue','');
		$('#cusCompanyLegalpersonForm #documentNo').textbox('setValue','');
		$('#cusCompanyLegalpersonForm #certificatePwd').textbox('setValue','');
		$('#cusCompanyLegalpersonForm #certificateCode').textbox('setValue','');
		$('#cusCompanyLegalpersonForm #addressDetails').textbox('setValue','');
		$('#cusCompanyLegalpersonForm #remark').textbox('setValue','');
	}
</script>
</body>
</html>