<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>我的推荐</title> <%includeFileTemplate("/html/dumCommon.html"){
%><%}%>
<link type="text/css" rel="stylesheet"
	href="${ctxPath}/css/userClient/nav_userClient.css">
<link type="text/css" rel="stylesheet"
	href="${ctxPath}/css/userClient/recommend.css">
<script type="text/javascript">
	$(function() {
		$(".reportsUl li").on('click', function() {
			$(".reportsUl li").removeClass("reportsHover");
			$(this).addClass("reportsHover");
			var i = $(this).index();
			$(".recommendDiv>div").hide();
			$($(".commonDivrecommend")[i]).show();
		});
	})
</script>
<script language=javascript
	src="${ctxPath}/js/userClient/myrecommend.js"></script>
</head>
<body>
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
	<%includeFileTemplate("/html/userClientCommon.html"){ %><%}%>
	<div class="w_1160 wrap clearfix">
		<div id="nav_left" class="nav_left border_right">
			<%includeFileTemplate("/html/userClient_navleft.html"){ %><%}%></div>
		<div id="content">
			<div class="clientRight">
				<div class="baseMargin">
					<h4 class="infoTit">
						<span>我的推荐</span>
					</h4>
					<div class="border reports">
						<div class="reportsTop">
							<ul class="reportsUl">
								<li class="reportsHover">我要推荐</li>
								<li>推荐人数</li>
								<li id="recommendDetailLI">推荐明细</li>
								<!-- <li id="paymentDetailLI">已付费明细</li> -->
								<!-- <li>我的二维码</li> -->
							</ul>
						</div>
						<!--推荐 -->
						<div class="mt30 mb30 recommendDiv">
							<!--我要推荐 -->
							<div class="myRecommend commonDivrecommend">
								<form id="recommendForm">
									<table>
										<tr>
											<td><p class="fz14 color50">客户姓名</p></td>
											<td><p class="ml20">
													<input type="text" name="customer.customerName" class="recommendTxt" />
													<span class="tips"></span>
												</p></td>
										</tr>
										<tr>
											<td><p class="fz14 color50">手机号码</p></td>
											<td><p class="ml20">
													<input type="text" name="customer.customerMobile"
														class="recommendTxt" maxlength="11" /> <span class="tips"></span>
												</p></td>
										</tr>
										<tr>
											<td><p class="fz14 color50">所需业务</p></td>
											<td>
												<p class="fz14 color50 ml20">
													<label> <input type="checkbox" class="middle mr5"
														name="needService" value="注册公司" /><span class="middle">注册公司</span>
													</label> <label class="ml30 mr30"> <input id="jzbsCKB" type="checkbox"
														class="middle mr5" name="needService" value="记账报税" /><span
														class="middle">记账报税</span>
													</label> <label> <input id="gsbgCKB" type="checkbox" class="middle mr5"
														name="needService" value="公司变更" /><span class="middle">公司变更</span>
													</label>
												</p>
											</td>
										</tr>
										<tr style="display: none;" id="companyNameTr">
											<td><p class="fz14 color50">公司名称</p></td>
											<td><p class="ml20">
													<input type="text" class="recommendTxt" name="companyName" />
												</p></td>
										</tr>
										<tr>
											<td><p class="fz14 color50">跟进日期</p></td>
											<td><p class="ml20">
													<input type="text" class="recommendTxt" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"
														name="needUserLinkTimeStr" />
												</p></td>
										</tr>
										<tr>
											<td class="middleTop"><p class="fz14 color50">备注内容</p></td>
											<td><p class="ml20">
													<textarea class="recommendTextarea" name="remark"></textarea>
												</p></td>
										</tr>
										<tr>
											<td></td>
											<td>
												<p class="ml20 fz14 color50">
													<label> <input type="checkbox" class="mr5 middle"
														name="isKown" value="Y" /><span class="middle">客户知晓您为其推荐</span>
													</label>
												</p>
											</td>
										</tr>
									</table>
									<p class="tc mb30">
										<input type="button" value="提交" class="subRecommend"
											id="submitRecommendForm" />
									</p>
								</form>
							</div>
							<!-- 推荐人数 -->
							<div class="none  commonDivrecommend">
								<table class="peopleNub">
									<tr>
										<td>
											<div>
												<img src="${ctxPath}/images/img/tjyh.png" />
											</div>
											<p class="tjyh fz14">总推荐用户</p>
											<p class="color50">
												人数:<span>${countRecommed.allCount!}</span>人
											</p>
										</td>
										<td>
											<div>
												<img src="${ctxPath}/images/img/zcyh.png" />
											</div>
											<p class="zcyh fz14">注册用户</p>
											<p class="color50">
												人数:<span>${countRecommed.registerNumber!}</span>人
											</p>
										</td>
										<td>
											<div>
												<img src="${ctxPath}/images/img/yffyh.png" />
											</div>
											<p class="yffyh fz14">已付费用户</p>
											<p class="color50">
												人数:<span>${countRecommed.paymenCount!}</span>人
											</p>
										</td>
									</tr>
								</table>
								<div class="tc integralDiv">
									<p>
										<img src="${ctxPath}/images/img/integral.png" />
									</p>
									<h4 class="integralTit">积分</h4>
									<p class="integralP"><!-- querymyRecommend.Integral --></p>
								</div>
							</div>
							<!-- 推荐明细 -->
							<div class="recommendDetails none  commonDivrecommend">
								<div class="fr">
									<input type="text" class="clinetSearchTxt" placeholder="" /><a
										href="javascript:void(0);"
										class="clinetSearch clinetSearchDiv"> <img
										src="${ctxPath}/images/img/searchIcon.png" />
									</a>
								</div>
								<p class="cb"></p>
								<table class="recommendDetailsTab">
									<tr>
										<th>客户名称</th>
										<th>客户手机号</th>
										<th>客户是否注册</th>
										<th>已付款</th>
									</tr>
									<tbody id="recommendList"></tbody>
								</table>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>