<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>我的服务-服务进程</title>
<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
<link type="text/css" rel="stylesheet"
	href="${ctxPath}/css/userClient/nav_userClient.css">
<link type="text/css" rel="stylesheet"
	href="${ctxPath}/css/userClient/ordService.css">
<link type="text/css" rel="stylesheet"
	href="${ctxPath}/css/userClient/page.css">
<link rel="stylesheet" type="text/css"
	href="${ctxPath}/js/easyui/themes/gray/easyui.css">
<link rel="stylesheet" type="text/css"
	href="${ctxPath}/js/easyui/themes/icon.css">
 <link rel="stylesheet" href="${ctxPath}/css/client/service_zcgs.css">

</head>
<body>
<%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
<%includeFileTemplate("/html/userClientCommon.html"){ %><%}%>
<div class="w_1160 wrap clearfix">
	<div id="nav_left" class="nav_left border_right">
			<%includeFileTemplate("/html/userClient_navleft.html"){ %><%}%></div>
	<div id="content">
	<div class="">
		<div class="right fr">
            <div class="rightTop">
                <a href="javascript:history.back(-1);" class="fh">返回</a>
            </div>
            <div class="rightContent">
                <div class="right-box">
                    <div class="right-body">
                     <!--服务信息-->
                        <input type="hidden" value="${enterpriseId}" id="enterpriseId" />
                        <input type="hidden" value="${entServerId}" id="entServerId" />
                        <div class="right-item">
                            <div class="fuwu">
                                <div class="fwcontent">
                                    <div class="fw-title">服务信息</div>
                                    <div class="fl fwId">
                                        <p>服务编号：${serviceDetail.id!}-${serviceDetail.serviceId!}-${serviceDetail.serviceCode!}-${serviceDetail.skuId!}-${serviceDetail.userName!}</p>
                              <!--           <p>专属顾问：${serviceDetail.userName!} ${serviceDetail.userMobile!}</p> -->
                                    </div>
                                    <div class="fl fwId">
                                        <p>您的公司：${serviceDetail.enterpriseName}(${serviceDetail.nature!})</p>
                                        <p>您购买的服务：<span>${serviceDetail.serviceName!}</span></p>
                                    </div>
                                    <div class="fl">
                                        <p>服务开始时间：${serviceDetail.startDate!,dateFormat='yyyy-MM-dd'}</p>
                                        <p>服务期限：${serviceDetail.attributeTitle!}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                     	<!--服务进程-->
                        <div class="right-item">
                            <div class="fuwu jinc">
                                <div class="fuwucontent">
                                    <div class="fw-title">服务进程</div>
                                    <div class="jincCont">
                                        <%if(!isEmpty(serviceDetail.serviceBusinesses)){%>
                                        	<%for(item in serviceDetail.serviceBusinesses){%>
												<dl style="width: ${980 / serviceDetail.serviceBusinesses.~size/10 }%">
													<dd class="aa" >${item.name}</dd>
		                                            <dd class="circle" <%if(!isEmpty(serviceDetail.doneBusiness)){%><%for(doneBus in serviceDetail.doneBusiness){%><%if(item.id == doneBus.businessId ){%> style="background: #ff8468;" <%}}}%> >
		                                            	<span></span>
		                                            </dd>
		                                            <dd class="hx"></dd>
		                                        </dl>
											<%}%>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--服务记录-->
                        <div class="right-item">
                            <div class="record-body">
                                <div class="fwcontent businessLogs">
                                </div>
                            </div>
                        </div>
                        <ul class="PagingUl"></ul>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

<script type="text/javascript">
$(function() {
	serviceDetail.init();
});

var serviceDetail = {
		init : function() {
			this.loadBusinessLogs(1);
		},
		loadBusinessLogs : function(current) {
			var data = {
				page : current,
				entServerId:$("#entServerId").val(),
				enterpriseId:$("#enterpriseId").val()
			};
			dum.common.ajax({
				type : "post",
				url : "/ordService/serviceBusinessLog.api",
				dataType : "json",
				data:data,
				success : function(data) 
				{
					var status=data["executeStatus"];
					if("0"==status){
						var values=data["values"];
						$(".businessLogs").html(serviceDetail.getBusinessLogHtml(values));
						var rows = 10;
						var totalCount = values.totalCount;
						var page = new PageObj(totalCount, rows, current);
						$(".PagingUl").html(serviceDetail.pageHtml(page));
					}else{
						if(data["errorCode"]=='login001'){
							window.location.href = dum.appName+"/customer/loginUI.html";
						}
					}
					
				}
			});
		},
		getBusinessLogHtml : function(values) {
			var traceContent = '<div class="fw-title">服务记录</div>';
			var rows=values["result"];
			if (rows) {
				if(rows&&rows.length>0){
					var listSize = rows.length;
					for (var i = 0; i < rows.length; i++) {
						var trace = rows[i];
						traceContent +='<div class="record-box">';
						traceContent +='<div class="record-top">';
						traceContent +='<div class="fl">';
						traceContent +='<p>'+(listSize-i)+'</p>';
						traceContent +='<p>'+trace.userName+'</p>';
			/* 			<span>|</span><a href="javascript:void(0);">提问</a> */
						traceContent +='<p class="record-kz"><a href="javascript:void(0);">'+trace.businessName+'</a></p>';
						traceContent +='</div>';
						traceContent +='<div class="fr">';
						traceContent +='<p>'+formatDateTime(trace.updateDate);+'</p>';
						traceContent +='</div>';
						traceContent +='</div>';
						traceContent +='<div class="record-cont">';
						var businessValues = trace.businessValues;
                		if(businessValues){
                			$.each(businessValues,function(i,busVal){
                				var busDisplayVal = busVal.businessEleName +'：';
                				if(busVal.businessEleType==0 || busVal.businessEleType==1){
                					if(busVal.taskAttrVal){
                						busDisplayVal += busVal.taskAttrVal;
                					}else{
                						busDisplayVal += "";
                					}
                				}else{
                					if(busVal.businessEleVal){
                						busDisplayVal += busVal.businessEleVal;
                					}else{
                						busDisplayVal += "";
                					}
                				}
                				traceContent +='<p>'+busDisplayVal+'</p>';
                			});
                		}
						traceContent +='</div>';
					/* 	traceContent +='<div class="record-bottom">';
						traceContent +='<a href="javascript:void(0);"class="good"><img src="${ctxPath}/images/client/good.png" alt=""></a>';
						traceContent +='<a href="javascript:void(0);" class="bad"><img src="${ctxPath}/images/client/bad.png" alt=""></a>'; 
						traceContent +='</div>'; */
						traceContent +='</div>';
            		}}
				}else{
					traceContent+='<tr><td colspan="6" class="backFc tc color50" style="height:30px; line-height:30px;">暂无信息</td></tr>';
				}
			return traceContent;
		},
		pageObj : {},
		pageHtml : function(page) {
			this.pageObj = page;
			var html = '';
			var pages = page.pages();
			if (pages <=1) {
				return html;
			}
			html += '<li><a onclick="serviceDetail.loadBusinessLogs(1);" href="javascript:void(0);">首页</a></li>';
			if (page.current > 1) {
				html += '<li><a onclick="serviceDetail.loadBusinessLogs(' + (page.current - 1)+ ');" href="javascript:void(0);">上一页</a></li>';
			}
			for (var i = page.current; i < pages + 1; i++) {
				if (i == page.current) {
					html += '<li class="PagingUlHover"><a  href="javascript:void(0);">'+ i + '</a></li>';
				} else {
					html += '<li><a onclick="serviceDetail.loadBusinessLogs(' + i + ');"  href="javascript:void(0);">' + i+ '</a></li>';
				}
			}
			if (pages > page.current) {
				html += '<li><a onclick="serviceDetail.loadBusinessLogs(' + (page.current + 1)+ ');" href="javascript:void(0);">下一页</a></li>';
			}
			html += '<li><a onclick="serviceDetail.loadBusinessLogs(' + pages + ');" href="javascript:void(0);">尾页</a></li>';
			return html;
		}
	}
	
function PageObj(totalCount, rows, current) {
	this.totalCount = totalCount;
	this.rows = rows;
	this.current = current;
}
PageObj.prototype.pages = function() {
	return this.totalCount % this.rows === 0 ? this.totalCount / this.rows
			: parseInt(this.totalCount / this.rows) + 1;
}
	
function  formatDateTime(dd){
	if(!dd||dd=='undefined'){
		return '';
	}
	var d=new Date(dd);
	return d.getFullYear()
		+"-"+getTwoTime(d.getMonth()+1)
		+"-"+getTwoTime(d.getDate())
		+" "+getTwoTime(d.getHours())
		+":"+getTwoTime(d.getMinutes())
		+":"+getTwoTime(d.getSeconds());
}
function  getTwoTime(t){
	if(t<10){
		return "0"+t;
	}
	return t;
}
</script>
<%includeFileTemplate("/html/xnJavaScript.html"){ %><%}%>
</body>
</html>