<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<%if(!isEmpty(forgetPwdSeo)){%>
	<title>${forgetPwdSeo.title!}-${sysCompanyResult.values.companyAbb!}</title>
	<meta name="keywords" content="${forgetPwdSeo.keywords!}" />
	<meta name="description" content="${forgetPwdSeo.description!}" />
<%}%>
	<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
	<link rel="stylesheet" href="${ctxPath}/css/register_user.css" />
	<script language=javascript src="${ctxPath}/js/login/jumpLogin.js"></script>
	<script type="text/javascript" src="${ctxPath}/js/login/forgetPwd.js"></script>
</head>
<body>
	<!--头部-->
		<div class="loinTop">
			<div class="w_1160">
				<h1 class="fl mt10"><a href="${ctxPath}/"><img src="${ctxPath}/images/newImg/logo.jpg" /></a></h1>
				<p class="leftLine fl"></p>
				<p class="fl loginWriting">互联网+时代，财税行业领跑者</p>
				<div class="cb"></div>
			</div>
		</div>

		<!-- 注册 -->
		<div class="register_userDiv">`
			<div class="register_user">
				<form method="post" id="forgetPwdForm"  >
					<div class="fl LeftForgetPwd">
						<div class="msg forgetPwdBotton mb20 pb15"><span class="fz20 ml15">找回密码</span></div>
						<ul>
							<li>
								<span class="itme_name fz16">　手机号码</span>
								<input type="text" name="customerMobile" verifiy="phone" class="fz14 math" placeholder="您的手机号码" id="customerMobile">
								<span class="tips error_customerMobile"><span class="icon"></span>手机号码不能为空</span>
							</li>
							<!--  <li>
								<span class="itme_name fz16">您的姓名</span>
								<input type="text" class="fz14" placeholder="请填写您的真实姓名">
								<span class="tips"><span class="icon"></span>姓名必填</span>
							</li> -->
							<li>
								<span class="itme_name fz16">　修改密码</span>
								<input type="password" id="pass"  name="newPwd"  class="fz14" placeholder="7到16位英文和数字的组合">
								<span class="tips error_newPwd"><span class="icon"></span>密码是7到16位英文和数字的组合</span>
							</li>
							<li>
								<span class="itme_name fz16">　确认密码</span>
								<span class="contents pr">
									<input type="password" id="pass_confirm" name="reNewPwd" class="fz14" placeholder="请确认您的密码">
									<span class="p_absolute"><label class="level1 none"></label><label class="level2 none"></label><label class="level3 none"></label></span>
								</span>
								<span class="tips error_reNewPwd"><span class="icon"></span>密码是7到16位英文和数字的组合</span>
							</li>
							<li>
								<span class="itme_name fz16">短信验证码</span>
								<span class="contents pword">
									<input type="text"  name="msgCode" id="msgCode" class="fz14 yzm"><a href="javascript:void(0)" id="verificationCode"  onclick="getVerificationCode();" class="btn_vcode fz14">获取验证码</a>
								</span>
								<span class="tips error_msgCode"><span class="icon"></span>短信验证码不正确</span>
							</li>
							<li>
								<span class="itme_name fz14"></span>
								<span class="contents"><input type="button" class="submit1" onclick="editPwd('');" value="确定"></span>
							</li>
						</ul>
					</div>
				</form>
				<div class="fr RightForgetPwdDiv">
					<div class="RightForgetPwd">
						<p>想起密码</p>
						<div><a href="${ctxPath}/customer/loginUI.html" class="blue">马上登录</a></div>
					</div>
				</div>
				<p class="cb"></p>
			</div>
		</div>
		<!--底部-->
		<div class="loginBottom">
			<div class="loginFoot">
				<a href="${ctxPath}/serviceProduct/modelList.html" target="_blank">全部服务</a><span>|</span>
				<a href="${ctxPath}/" target="_blank">${sysCompanyResult.values.companyAbb!} — 为创业者提供“星”级服务！</a><span>|</span>
				<a href="${ctxPath}/aboutus.html" target="_blank">联系我们</a><span>|</span>
				<a href="${ctxPath}/customer/agreement.html" target="_blank">法律声明</a>
				<span class="tel"><b>客服电话：</b>${sysCompanyResult.values.phone!}</span>
			</div>
			<p class="mt20">
			<%if(!isEmpty(recordnoexternalinfo)){%>			
				${recordnoexternalinfo.word!}
			<%}%></p>
		</div>
		<script>
	function huodewenan(obj,obj1,obj2,obj3)
	{
		var aa = $(obj).parent().parent();
		aa.children("div." + obj1).hide();
		aa.children("div." + obj3).hide();
		aa.children("div." + obj2).show();
		aa.children("div.register-li-3").hide();
		aa.children('label').animate({left:'-90px'},200);
		aa.children(".verCodePrompt").remove();

		if($(obj).attr('id') == 'rpassword'){
			obj.type = 'password'
		}
	}
</script>
</body>
</html>