
.oddsIcon{ width: 90px; height: 90px; background: url(../../v2/images/icon.png) no-repeat; margin: 0px auto;}
.oddsBack1{ background-position: -104px -154px;}
.oddsBack2{ background-position: -203px -154px;}
.oddsBack3{ background-position: -4px -154px;}
.oddsBack4{ background-position: -293px -154px;}
.oddsBack5{ background-position: -387px -154px;}
.oddsTitCommon{ font-size: 24px; margin-top: 5px; margin-bottom: 5px;}
.oddsTit1{ color: #80ba75;}
.oddsTit2{ color: #16C6CC;}
.oddsTit3{ color: #6EAEE5;}
.oddsTit4{ color: #EEB53B;}
.oddsTit5{ color: #ED7371;}
.oddsDetail{ line-height: 22px;}
.oddsTab{ width: 100%; margin-top: 30px; margin-bottom: 20px;}
.oddsTab tr td{ text-align: center; width: 20%;}

.dljzIcon1{ background-position: -535px 10px;}
.dljzIcon2{ background-position: -347px -66px;}
.dljzIcon3{ background-position: -581px -170px;}
.dljzIcon4{ background-position: -513px -80px;}
.dljzIcon5{ background-position: -602px -70px;}
.dljzIcon6{ background-position: -492px -170px;}

.remind{ width: 360px;}

/*会计标准*/
.standard span{ display: inline-block;  margin-right: 10px;  width: 7px; height: 7px; border-radius: 50%; background: #FF8261; vertical-align: middle;}
.standard{margin-bottom: 40px;}
.standardUl li{ margin-bottom: 40px; font-size: 14px;}
.standardUl li .digital{ color: #FF8261;}
.standardUl li .digital2{ color: #12C2F4;}
.standardUl li span{ margin-right: 3px;}
.standardUl{ margin-bottom: 50px;}

.makeupTab tr td{ padding-bottom: 15px;}
.demand {
    border: 1px solid #cccccc;
    font-size: 14px;
    height: 80px;
    padding: 5px;
    width: 395px;
}


/* banner */
.productModelBody .banner .flexslider .slides li img{width: 500px; height: 340px;}
.productModelBody .banner{width: 500px; height: 340px;}