/*股权，法人变更*/
.changeService table tr td{ padding-right: 50px; height: 150px;}
.changeService table tr td h4{overflow: hidden; width: 130px; cursor: pointer;}
.changeService table tr td h4 span{ cursor: pointer;}
.changeService table tr td h4 span img{ width: 14px; height: 14px;}
.ministryPrice{ font-weight: bold; color: #ff8468;}

.equityProcess dd{ display: inline-block; font-size: 16px; cursor: pointer;}
.equityProcess dd span{ display: inline-block; width: 100px; height: 32px; line-height: 32px; text-align: center;}
.equityProcess{ text-align: center; margin-bottom: 20px;}
.sxzlDiv{ border: 1px solid #6EAEE5; min-height: 150px; }
.sxzlDiv1{ margin: 20px;}
.point{ display: inline-block; width: 7px; height: 7px; border-radius: 50%; background: #FF8261; vertical-align: middle;}
.point1{ display: inline-block;width: 7px; height: 7px; border-radius: 50%; background: #12C2F4; vertical-align: middle;}
.sxzlDiv1 dl dd{ float: left; font-size: 16px; margin-right: 51px; margin-top: 5px; margin-bottom: 5px;}
.sxzlDiv1 dl{ overflow: hidden;}
.sxzlDiv1 dl dd span{ margin-right: 5px;}
.precautions{ line-height: 23px;}
.arrow1{ position: absolute; top: -12px; left: 332px;}
.arrow2{ position: absolute; top: -12px; left: 435px;}
.arrow3{ position: absolute; top: -12px; left: 540px;}
.allServiceTab{ width: 100%;}
.allService{ width: 220px; height: 280px; background: #fcfcfc; text-align: center; margin: 0px auto; margin-top: 10px; margin-bottom: 10px;}
.allService h4{ font-size: 24px; color: #505050; text-align: center; padding-top: 15px; padding-bottom: 15px;}
.equitIcon img{width: 68px; height: 68px;}
.equitIcon{ margin-top: 10px; margin-bottom: 10px;}
.allServiceDetali{ line-height: 22px;}
.allServicePrice{ color: #FF8261; font-weight: bold; font-size: 14px; margin-top: 10px; margin-bottom: 10px;}
.allService a{ display: block; margin: 0px auto; text-align: center; width: 120px; height: 26px; line-height: 26px; border-radius: 20px; background: #FF8261; 
color: #FFFFFF; margin-top: 15px;}

/*办理流程*/
.bllcDiv{ border: 1px solid #eeb53b; padding-top: 20px; padding-bottom: 20px; min-height: 150px; }
.bllcIcon{ width: 50px; height: 50px; margin: 0px auto; background: url(../../v2/images/icon.png) no-repeat;}
.bllcTit{font-size: 16px; font-weight: bold; color: #8f8f8f; margin-top: 20px;}
.bllcTab{ width: 80%; margin: 0px auto; margin-top: 20px; margin-bottom: 20px;}
.bllcTab tr td{ text-align: center;}
.bllcIcon1{ background-position: -652px -9px;}
.bllcIcon2{background-position:-718px -111px; width: 64px; height: 17px; margin-top: 18px;}
.bllcIcon3{ background-position:-719px -8px;}
.bllcIcon4{ background-position:-796px -7px; width: 61px;}
.bllcIcon5{ background-position:-812px -77px;}
.bllcIcon6{ background-position:-700px -139px;}
.bllcIcon7{ background-position:-773px -137px;}

/*办理时上*/
.blscDiv{ min-height: 150px; border: 1px solid #16c6cc; padding-top: 20px; padding-bottom: 20px;}
.blscDiv1{ margin-left: 20px; margin-right: 20px;}

.sxzl .processSpan{background: #6eaee5; color: #FFFFFF;}
.bllc .processSpan{ background: #FF8261; color: #FFFFFF;}
.blsc .processSpan{ background: #16c6cc; color: #FFFFFF;}

.gszxBody .sxzlDiv1 dl dd { width: 260px; margin-right: 10px;}
.zzkgBody .sxzlDiv1 dl dd { width: 409px; margin-right: 10px;}

/*补差*/
.demand{ width: 395px; border: 1px solid #CCCCCC; padding: 5px; height: 80px; font-size: 14px; padding-left:5px;}
.makeupTab{ margin-top: 10px;}
.makeupTab tr td{ padding-top: 3px; padding-bottom: 3px;}
.makeupDetail{ min-height: 200px; border: 1px solid #eeb53b; font-size: 16px; text-align: center; line-height: 200px;}
.select{background: #fff; position: absolute; left:0px; width:405px; border:1px solid #ddd; min-height: 100px; display: none;}
.select dd{line-height: 25px; cursor: pointer; padding-left: 5px;}
.select dd:hover{background: #ff8468; color: #fff;}
.orderAssociate{position: absolute; right: 8px; top: 11px; cursor:pointer; background:url(../../v2/images/dum_icon.png) no-repeat -122px -311px; width:12px; height: 7px;}

