<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>工商变更完善信息</title>
		<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
		<link rel="stylesheet" type="text/css" href="${ctxPath}/css/userClient/nav_userClient.css" />
		<link type="text/css" rel="stylesheet" href="${ctxPath}/css/userClient/info/perfectInfo.css">
		<link type="text/css" rel="stylesheet" href="${ctxPath}/css/userClient/info/companyDetail.css">
		<link rel="stylesheet" href="${ctxPath}/css/common/baseArea.css" />
		<script type="text/javascript" src="${ctxPath}/js/common/baseArea.js" ></script>
		<script type="text/javascript" src="${ctxPath}/js/userClient/userClientIndex.js"></script>
		<script type="text/javascript" src="${ctxPath}/js/userClient/companyDetail.js"></script>
	</head>
	<body>
		<%includeFileTemplate("/WEB-INF/view/login/jumpLogin.html"){ %><%}%> 
		<%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
		<%includeFileTemplate("/html/xnJavaScript.html"){ %><%}%>
		<div class="w_1160 wrap clearfix">
				<div id="nav_left" class="nav_left border_right">
					<%includeFileTemplate("/html/userClient_navleft.html"){ %><%}%>
				</div>
				<div id="content" class="gsbg">
					<div class="clientRight">
						<h4 class="infoTit fl"><span>我的公司</span></h4>
				<div class="fl speakerNews"></div>
				<div class="fr mr10">
				 	<a href="javascript:void(0)">
					 	<img src="${ctxPath}/images/img/kfIcon.png" class="middle mr5" />
					 	<span class="middle color68">联系客服</span>
				 	</a>
				</div> 
					<div class="baseMargin">
						<ul class="reportsUl">
						 	 <li>公司基本信息</li>
						  	 <li>注册公司信息</li>
						  	 <li>记账报税信息</li>
						  	 <li onclick="$('.serviceDiv').show();">+</li>
						</ul>
						<div class="serviceDiv none" >
							11111
						</div>
						<div class="gdsbgCommonDiv"></div>
						
					</div>
				</div>
			</div>
		</div>
		
		
	</body>
</html>