<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>记账报税完善信息</title> <%includeFileTemplate("/html/dumCommon.html"){
%><%}%>
<link rel="stylesheet" type="text/css"
	href="${ctxPath}/css/userClient/nav_userClient.css" />
<link type="text/css" rel="stylesheet"
	href="${ctxPath}/css/userClient/info/perfectInfo.css">
<link rel="stylesheet" href="${ctxPath}/css/common/baseArea.css" />
<script type="text/javascript"
	src="${ctxPath}/js/userClient/userClientIndex.js"></script>
<script type="text/javascript" src="${ctxPath}/js/common/baseArea.js"></script>
<script type="text/javascript"
	src="${ctxPath}/js/userClient/taxAccountingInfo.js"></script>

</head>
<body>
	<%includeFileTemplate("/WEB-INF/view/login/jumpLogin.html"){ %><%}%>
	<%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
	<%includeFileTemplate("/html/xnJavaScript.html"){ %><%}%>
	<div class="w_1160 wrap clearfix">
		<div id="nav_left" class="nav_left border_right">
			<%includeFileTemplate("/html/userClient_navleft.html"){ %><%}%></div>
		<div id="content">
			<div class="clientRight pr">
				<div class="baseMargin">
					<%includeFileTemplate("perfectInfoCommon.html"){ %><%}%>
					<h4 class="tc fz16 color50 titAccountion">记账报税完善信息</h4>
					<form action="/perfect/saveJzbsPerfect.html" method="post" id="dljzForm">
						<input type="hidden" value="${ordServiceId}" name="ordService.id" id="ordServiceId" /> 
					    <input type="hidden" name="cusCompany.customterId" value="${session.cusSession.id}" />
					    <input type="hidden" name="cusCompany.id" id="cusCompanyId" value="" /> 
					    <input type="hidden" name="ordServiceCompany.id" id="ordServiceCompanyId" value="" /> 
					    <input type="hidden" name="cusCompany.companyStatus" value="0" /> 
					    <input type="hidden" name="cusCompany.companyNature" id="companyNature" /> 
					    <input type="hidden" name="cusCompanyLegalperson.id" id="cusCompanyLegalpersonId" value="" /> 
						<input type="hidden" name="cusCompanyTax.id" id="cusCompanyTaxId" value="" /> 
						<input type="hidden" name="ordServiceCompany.serviceStatus" id="serviceStatus"  /> 
						<input type="hidden" name="ordService.serviceProductId" id="serviceProductId" />
						<input type="hidden" name="ordService.modelId" id="modelId" />
						
						<table class="taxAccountiongTab">
							<tr>
								<td>
									<table>
										<tr>
											<td colspan="2"><p class="fw fz14 color50">联系信息</p></td>
										</tr>
										<tr>
											<td width="12%"><p class="fz14 color50">资料收发地址</p></td>
											<td>
												<div class="ml15">
													<input type="hidden" value=""  name="cusServiceContactWay.id"  id="cusServiceContactWayId"/>
													<div areaName="cusServiceContactWay.areaId" class="areaSelectText fl" id="contactWayAreaId"></div>
													<p class="fl ml10"> 
														<input id="addressDetail" type="text" name="cusServiceContactWay.addressDetails" class="infoTxt1" placeholder="详细地址" style="height: 27px;" />
													</p>
													<div class="cb"></div>
												</div>
											</td>
										</tr>
										<tr>
											<td><p class=" fz14 color50">联系QQ</p></td>
											<td>
												<div class="ml15">
													<input type="text" name="cusServiceContactWay.personQq" id="contactqq" class="infoTxt math" />
												</div>
											</td>
										</tr>
										<tr>
											<td><p class=" fz14 color50">联系信息</p></td>
											<td>
												<div class="ml15 fz14">
													<input type="hidden" name="cusServiceContactWay.contactPerson" value="${session.cusSession.customerName}"   />
													<input type="hidden" name="cusServiceContactWay.contactMobile" value="${session.cusSession.customerMobile}"   />
													<span id="personName">${session.cusSession.customerName}</span>&nbsp;&nbsp;${session.cusSession.customerMobile}
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>

							<tr>
								<td>
									<table>
										<tr>
											<td colspan="2"><p class="fw fz14 color50">公司信息</p></td>
										</tr>
										<tr>
											<td><p class=" fz14 color50">公司名称</p></td>
											<td>
												<div class="ml30">
													<input id="companyName" type="text" name="cusCompany.companyName" class="infoTxt2" placeholder="请填写公司名称" />
													<div class="none selectCompanyDiv">
														<select class="infoSelect" id="cusCompanySel">
															<option value="">科技类型公司</option>
														</select>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td><p class=" fz14 color50">法人姓名</p></td>
											<td>
												<div class="ml30 pr">
													<input id="legalPersonName" type="text"
														name="cusCompanyLegalperson.legalPersonName"
														class="infoTxt2" placeholder="真实姓名" />
													<p style="position: absolute; left: 240px; top: 0px;">
														<select name="cusCompanyLegalperson.documentType"
															id="documentType" class="fz14  color50 mr30"
															style="height: 26px;">
														</select>
														<input id="documentNo" type="text"
															name="cusCompanyLegalperson.documentNo"
															class="infoTxt2 math" placeholder="证件号码" />
													</p>
												</div>
											</td>
										</tr>
										<tr>
											<td><p class=" fz14 color50">成立日期</p></td>
											<td>
												<div class="ml30">
													<input onClick="WdatePicker()" id="buildDate" type="text"
														name="cusCompany.buildDate" class="Wdate infoTxt2" />
												</div>
											</td>
										</tr>
										<tr>
											<td><p class="fz14 color50">公司类型</p></td>
											<td>
												<div class="ml30">
													<select name="cusCompany.scopeName" class="infoSelect" id="scopeName"><option>科技类型公司</option></select>
												</div>
											</td>
										</tr>
										<tr>
											<td class="middleTop"><p class=" fz14 color50">经营范围</p></td>
											<td>
												<div class="ml30">
													<textarea id="scrope" name="cusCompany.scopeDesc" class="infoTextarea"></textarea>
												</div>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<h5 class="fz14 color50 backFc pt30 pl15">资料交接</h5>
						<table class="taxAccountiongTab1">
							<tr>
								<td><span class="taxName fz14 color50">营业执照号</span>
									<input id="licenseNumber" type="text" name="cusCompany.licenseNumber" class="infoTxt ml30" />
								</td>
								<td><span class="taxName fz14 color50">税务登记-深税编码</span>
									<input id="shenzhenTaxCode" type="text" name="cusCompanyTax.shenzhenTaxCode" class="infoTxt ml30" />
								</td>
							</tr>
							<tr>
								<td class="middle"><span class="taxName fz14 color50">税务登记-国税编码</span>
									<input id="nationaltaxCode" type="text" name="cusCompanyTax.nationaltaxCode" class="infoTxt ml30" />
								</td>
								<td class="middle" style="padding-top: 30px;">
								    <span class="taxName fz14 color50">税务登记-国税密码</span>
									<input id="nationaltaxPwd" type="text" name="cusCompanyTax.nationaltaxPwd" 	class="infoTxt ml30" />
									<p class=" fz14 color50 passwordTax mt10">
										<label><input type="radio" name="cusCompanyTax.nationaltaxPwdForget" value="0" id="nationaltaxPwdForget" class="middle" />
											<span class="middle">忘记密码（上门收取税务登记副本+公章）</span>
										</label>
									</p>
								</td>
							</tr>
							<tr>
								<td><span class="taxName fz14 color50">税务登记-地税编码</span>
								<input id="farmtaxCode" type="text" name="cusCompanyTax.farmtaxCode" class="infoTxt ml30" />
								</td>
								<td style="padding-top: 30px;">
									<span class="taxName fz14 color50">税务登记-地税密码</span>
									<input id="farmtaxPwd" type="text" name="cusCompanyTax.farmtaxPwd" class="infoTxt ml30" />
									<p class=" fz14 color50 passwordTax mt10">
										<label>
											<input type="radio" name="cusCompanyTax.farmtaxPwdForget" value="0" id="farmtaxPwdForget" class="middle" />
											<span class="middle">忘记密码（上门收取税务登记副本+公章）</span>
										</label>
									</p>
								</td>
							</tr>
							<tr>
								<td><span class="taxName fz14 color50">统一社会信用代码</span>
									<input type="text" id="companyCode" name="cusCompany.companyCode" class="infoTxt ml30" placeholder="统一社会信用代码" />
								</td>
								<td><span class="taxName fz14 color50">税务局绑定手机号码</span>
									<input id="farmtaxPhone" type="text" name="cusCompanyTax.farmtaxPhone" class="infoTxt ml30" placeholder="请填写手机号码" />
								</td>
							</tr>
						</table>
						<p class="tc">
							<input type="button" class="defineTax" value="确定" />
						</p>
					</form>
					<!-- 提示 -->
					<div class="Infoprompt none">
						<p class="fl fw mt10 ml10">提示</p>
						<p class="fr close mt10 mr10"></p>
						<div class="cb"></div>
						<div class="InfopromptDiv">
							<p>是否确认信息已完善？</p>
							<p>
								信息一旦提交至市场监督局，则无法修改，<br />请谨慎提交。
							</p>
							<div class="subSave tc">
								<a href="javascript:void(0);" class="subSaveA1">已填好，提交</a> <a
									href="javascript:void(0);" class="subSaveA2">保存暂不提交</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>