<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>信息收集页-${@com.jxhc.utils.SysConfigUtils.config.getShortName()}</title>
		<link rel="stylesheet" href="${ctxPath}/css/info.css" />
		<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
	</head>
	<body class="infoBody1">
		 <%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
		 <form action="${ctxPath}/registerFoots/addCustomerExt.html" method="post" id="user_resache_2">
		 	<input name="companyAreaCode" value="${companyAreaCode!}" type="hidden" />
		 	<!-- <input name="jsonStr" value="${jsonStr!}" type="hidden" /> -->
			<div class="info1">
				<div class="survey">
					<p class="secret">您的信息全部保密，请放心填写。</p>
				</div>
				<ul class="options">
					<li>
						<h4>1.您的性别</h4>
						<table>
							<tr>
								<td><p><label><input type="radio" name="cusCustomerExt.customerSex" class="middle" value="0" /><span class="middle">男</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.customerSex" class="middle" value="1" /><span class="middle">女</span></label></p></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</li>
					<li>
						<h4>2.您的年龄</h4>
						<table>
							<tr>
								<td><p><label><input type="radio" name="cusCustomerExt.ageScope" class="middle" value="20岁以下" /><span class="middle">20岁以下</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.ageScope" class="middle" value="20~30岁" /><span class="middle">20~30岁</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.ageScope" class="middle" value="30~40岁" /><span class="middle">30~40岁</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.ageScope" class="middle" value="40岁以上"/><span class="middle">40岁以上</span></label></p></td>
							</tr>
						</table>
					</li>
					<li>
						<h4>3.您的学历</h4>
						<table>
							<tr>
								<td><p><label><input type="radio" name="cusCustomerExt.recordSchooling" class="middle" value="高中以下" /><span class="middle">高中以下</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.recordSchooling" class="middle" value="专科" /><span class="middle">专科</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.recordSchooling" class="middle" value="本科" /><span class="middle">本科</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.recordSchooling" class="middle" value="硕士及以上" /><span class="middle">硕士及以上</span></label></p></td>
							</tr>
						</table>
					</li>
					<li>
						<h4>4.您的专业</h4>
						<table>
							<tr>
								<td><p><label><input type="radio" name="cusCustomerExt.specialty"  class="middle" value="理学" /><span class="middle">理学</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.specialty"  class="middle" value="工学" /><span class="middle">工学</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.specialty"  class="middle" value="文学" /><span class="middle">文学</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.specialty"  class="middle" value="法学" /><span class="middle">法学</span></label></p></td>
							</tr>
							<tr>
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.specialty" value="管理学"/><span class="middle">管理学</span></label></p></td>
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.specialty" value="哲学"/><span class="middle">哲学</span></label></p></td>
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.specialty" value="医学"/><span class="middle">医学</span></label></p></td>
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.specialty" value="农学"/><span class="middle">农学</span></label></p></td>
							</tr>                                                 
							<tr>                                                  
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.specialty" value="艺术学"/><span class="middle">艺术学</span></label></p></td>
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.specialty" value="军事学"/><span class="middle">军事学</span></label></p></td>
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.specialty" value="经济学"/><span class="middle">经济学</span></label></p></td>
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.specialty" value="教育学"/><span class="middle">教育学</span></label></p></td>
							</tr>                                                 
						</table>                                                  
					</li>                                                         
					<li>                                                          
						<h4>5.您的社会角色</h4>                                   
						<table>                                                   
							<tr>                                                  
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.socialRole" value="应届毕业生" /><span class="middle">应届毕业生</span></label></p></td>
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.socialRole" value="国企工作人员"/><span class="middle">国企工作人员</span></label></p></td>
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.socialRole" value="私企工作人员"/><span class="middle">私企工作人员</span></label></p></td>
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.socialRole" value="自己创业"/><span class="middle">自己创业</span></label></p></td>
							</tr>                                                 
							<tr>                                                  
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.socialRole" value="军人" /><span class="middle">军人</span></label></p></td>
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.socialRole" value="待业"/><span class="middle">待业</span></label></p></td>
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.socialRole" value="事业单位"/><span class="middle">事业单位</span></label></p></td>
								<td><p><label><input type="radio" class="middle" name="cusCustomerExt.socialRole" value="自由职业"/><span class="middle">自由职业</span></label></p></td>
							</tr>
						</table>
					</li>
					<li>
						<h4>6.您的职业</h4>
						<table>
							<tr>
								<td><p><label><input type="radio" name="cusCustomerExt.professional" class="middle" value="人事行政" /><span class="middle">人事行政</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.professional" class="middle" value="一直是老板" /><span class="middle">一直是老板</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.professional" class="middle" value="助理/秘书" /><span class="middle">助理/秘书</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.professional" class="middle" value="市场相关" /><span class="middle">市场相关</span></label></p></td>
							</tr>
							<tr>
								<td><p><label><input type="radio" name="cusCustomerExt.professional" class="middle" value="法律顾问" /><span class="middle">法律顾问</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.professional" class="middle" value="计算机技术" /><span class="middle">计算机技术</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.professional" class="middle" value="公司财务" /><span class="middle">公司财务</span></label></p></td>
								<td>
								<p>
									<label><input type="radio" name="cusCustomerExt.professional" class="middle" value="其他" /><span class="middle">其他</span></label>
									<input type="text" name="cusCustomerExt.professional" class="optionstxt"/>
								</p>
								</td>
							</tr>
						</table>
					</li>
					<li>
						<h4>7.您目前的行业</h4>
						<table>
							<tr>
								<td><p><label><input  name="cusCustomerExt.industry" type="radio" class="middle" value="金融相关" /><span class="middle">金融相关</span></label></p></td>
								<td><p><label><input  name="cusCustomerExt.industry" type="radio" class="middle" value="法律咨询" /><span class="middle">法律咨询</span></label></p></td>
								<td><p><label><input  name="cusCustomerExt.industry" type="radio" class="middle" value="企业服务" /><span class="middle">企业服务</span></label></p></td>
								<td><p><label><input  name="cusCustomerExt.industry" type="radio" class="middle" value="电子商务" /><span class="middle">电子商务</span></label></p></td>
							</tr>
							<tr>
								<td><p><label><input  name="cusCustomerExt.industry" type="radio" class="middle" value="美容医疗" /><span class="middle">美容医疗</span></label></p></td>
								<td><p><label><input  name="cusCustomerExt.industry" type="radio" class="middle" value="教育培训" /><span class="middle">教育培训</span></label></p></td>
								<td><p><label><input  name="cusCustomerExt.industry" type="radio" class="middle" value="猎头企业" /><span class="middle">猎头企业</span></label></p></td>
								<td>
								<p>
									<label><input type="radio" name="cusCustomerExt.industry" class="middle" value="其他" /><span class="middle">其他</span></label>
									<input type="text" name="cusCustomerExt.industry"  class="optionstxt"/>
								</p>
								</td>
							</tr>
						</table>
					</li>
					<li class="optionsLi">
						<h4>8.您是通过什么途径了解${@com.jxhc.utils.SysConfigUtils.config.getShortName()}的？</h4>
						<table>
							<tr>
								<td><p><label><input type="radio" name="cusCustomerExt.howKownDym" class="middle" value="搜索引擎" /><span class="middle">搜索引擎</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.howKownDym" class="middle" value="微信公众号" /><span class="middle">微信公众号</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.howKownDym" class="middle" value="线下活动" /><span class="middle">线下活动</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.howKownDym" class="middle" value="朋友推荐" /><span class="middle">朋友推荐</span></label></p></td>
							</tr>
						</table>
					</li>
					<li>
						<h4>9.您选择${@com.jxhc.utils.SysConfigUtils.config.getShortName()}的理由？（多选）</h4>
						<table>
							<tr>
								<td><p><label><input type="checkbox" name="cusCustomerExt.selectReason" value="0元注册" class="middle" /><span class="middle">0元注册</span></label></p></td>
								<td><p><label><input type="checkbox" name="cusCustomerExt.selectReason" value="朋友推荐" class="middle" /><span class="middle">朋友推荐</span></label></p></td>
								<td><p><label><input type="checkbox" name="cusCustomerExt.selectReason" value="宣传做的好" class="middle" /><span class="middle">宣传做的好</span></label></p></td>
								<td><p><label><input type="checkbox" name="cusCustomerExt.selectReason" value="创新模式" class="middle" /><span class="middle">创新模式</span></label></p></td>
							</tr>
						</table>
					</li>
					<li>
						<h4>10.您更希望以哪种形式与我们建立联系？（多选）</h4>
						<table>
							<tr>
								<td><p><label><input name="cusCustomerExt.hopeForm" type="checkbox" class="middle" value="在线客服" /><span class="middle">在线客服</span></label></p></td>
								<td><p><label><input name="cusCustomerExt.hopeForm" type="checkbox" class="middle" value="直接打电话" /><span class="middle">直接打电话</span></label></p></td>
								<td><p><label><input name="cusCustomerExt.hopeForm" type="checkbox" class="middle" value="微信客服" /><span class="middle">微信客服</span></label></p></td>
								<td><p><label><input name="cusCustomerExt.hopeForm" type="checkbox" class="middle" value="自助下单不需要" /><span class="middle">自助下单不需要</span></label></p></td>
							</tr>
						</table>
					</li>
					<li>
						<h4>11.您觉得目前我们平台有什么不足？（多选）</h4>
						<table>
							<tr>
								<td><p><label><input name="cusCustomerExt.whatLack" type="checkbox" class="middle" value="购买困难" /><span class="middle">购买困难</span></label></p></td>
								<td><p><label><input name="cusCustomerExt.whatLack" type="checkbox" class="middle" value="找不到客服" /><span class="middle">找不到客服</span></label></p></td>
								<td><p><label><input name="cusCustomerExt.whatLack" type="checkbox" class="middle" value="信息太少" /><span class="middle">信息太少</span></label></p></td>
								<td><p><label><input name="cusCustomerExt.whatLack" type="checkbox" class="middle" value="购买困难" /><span class="middle">没有APP不方便</span></label></p></td>
							</tr>
							<tr>
								<td><p><label><input name="cusCustomerExt.whatLack" type="checkbox" class="middle" value="设计感不强" /><span class="middle">设计感不强</span></label></p></td>
								<td><p><label><input name="cusCustomerExt.whatLack" type="checkbox" class="middle"  value="没有，挺好的" /><span class="middle">没有，挺好的</span></label></p></td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</li>
					<li>
						<h4>12.您平时更关心哪类型的新闻资讯？（多选）</h4>
						<table>
							<tr>
								<td><p><label><input type="checkbox" name="cusCustomerExt.careAbout" class="middle" value="法律相关" /><span class="middle">法律相关</span></label></p></td>
								<td><p><label><input type="checkbox" name="cusCustomerExt.careAbout" class="middle" value="创业信息" /><span class="middle">创业信息</span></label></p></td>
								<td><p><label><input type="checkbox" name="cusCustomerExt.careAbout" class="middle" value="资本市场" /><span class="middle">资本市场</span></label></p></td>
								<td><p><label><input type="checkbox" name="cusCustomerExt.careAbout" class="middle" value="国家政策" /><span class="middle">国家政策</span></label></p></td>
							</tr>
						</table>
					</li>
					<li>
						<h4>13.您更喜欢哪种服务方式？</h4>
						<table>
							<tr>
								<td><p><label><input type="radio" name="cusCustomerExt.serviceForm" class="middle" value="传统上门服务" /><span class="middle">传统上门服务</span></label></p></td>
								<td><p><label><input type="radio" name="cusCustomerExt.serviceForm" class="middle" value="在线沟通，信息透明" /><span class="middle">在线沟通，信息透明</span></label></p></td>
								<td colspan="2" style="width: 50%;"><p><label><input type="radio"  name="cusCustomerExt.serviceForm" class="middle" value="只要把握想要的给我，不介意上门或在线" /><span class="middle">只要把我想要的给我，不介意上门或在线</span></label></p></td>
							</tr>
						</table>
					</li>
					<li>
						<h4>14.您知道注册公司后一定要记账报税吗？</h4>
						<table>
							<tr>
								<td><p><label><input name="cusCustomerExt.knowAccounting" type="radio" class="middle" value="我不知道啊" /><span class="middle">我不知道啊</span></label></p></td>
								<td><p><label><input name="cusCustomerExt.knowAccounting" type="radio" class="middle"  value="我知道"  /><span class="middle">我知道</span></label></p></td>
								<td colspan="2" style="width: 50%;"><p><label><input name="cusCustomerExt.knowAccounting" value="为什么一定要啊"  type="radio" class="middle" /><span class="middle">为什么一定要啊</span></label></p></td>
							</tr>
						</table>
					</li>
					<li>
						<h4 class="optionsTit">15.在2016年的创业路上，您希望${@com.jxhc.utils.SysConfigUtils.config.getShortName()}通过何种方式帮助您呢？是什么样的帮助呢？请写在下方的空格内。</h4>
						<p>
							<textarea class="textareaOptions" name="cusCustomerExt.other"></textarea>
						</p>
					</li>
					<li><input type="submit" class="optionsEnd" value="终于填完啦，马上0元注册公司" /></li>
				</ul>
			</div>	
		  </form>
		  <script type="text/javascript" src="${ctxPath}/js/channel/info.js"></script>
		 <%includeFileTemplate("/html/footer_temp.html"){ %><%}%>	
	</body>
</html>
