<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>了解${@com.jxhc.utils.SysConfigUtils.config.getShortName()}</title>
		<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
		<link rel="stylesheet" href="${ctxPath}/css/plugin/jquery.fullPage.css" type="text/css" />
		<link rel="stylesheet" href="${ctxPath}/css/know.css" type="text/css" />
		<script type="text/javascript" src="${ctxPath}/js/plugin/jquery.fullPage.js"></script>
		<script>
			$(function(){
				$('#dowebok').fullpage({
					sectionsColor: ['#10a2ed', '#f8795b', '#e55151', '#3165cf','#7344d2'],
					'navigation': true,
				});
			});
		</script>
	</head>
	<body>
		<div id="dowebok">
			<div class="section <%if(!isEmpty(index) && index == '1'){%> active <%}%> pr">
				<div class="w_1000 sectionDiv">
					<p class="tc"><img src="${ctxPath}/images/img/know1.png"/></p>
					<dl class="fl material">
						<dt>第一坑</dt>
						<dd class="materialDl">免费注册公司有隐性消费</dd>
						<dd>1.注册流程不完整，二次更改收费高。</dd>
						<dd>2.资料拖延提交，需要付加急办理费。</dd>
						<dd>3.中介多转手次数多、周期长费用高。</dd>
					</dl>
					<dl class="fl material">
						<dt>第二坑</dt>
						<dd class="materialDl">低价代理记帐问题大</dd>
						<dd>1.不按法规做账缴税，影响企业征信。</dd>
						<dd>2.做账过程留一手，五张报表不予做。</dd>
						<dd>3.账目问题不反馈，处理问题加收费。</dd>
					</dl>
					<dl class="fl material">
						<dt>第三坑</dt>
						<dd class="materialDl">非正规机构背后的隐患</dd>
						<dd>1.采取非法手段利用企业资料申请贷款。</dd>
						<dd>2.注册流程中设坑，不付费则注销公司。</dd>
						<dd>3.企业信息严重外泄，造成不必要损失。</dd>
					</dl>
					<div class="cb"></div>
				</div>
				<p class="know2"><img src="${ctxPath}/images/img/know2.png"/></p>
			</div>
			<div class="section <%if(!isEmpty(index) && index == '2'){%> active <%}%> pr">
				<img src="${ctxPath}/images/img/know11.png" style="width:100%;height:100%;" />
			</div>
			<div class="section <%if(!isEmpty(index) && index == '3'){%> active <%}%> pr">
				<div class="w_1000 sectionDiv">
					<p class="fl"><img src="${ctxPath}/images/img/know5.png" class="know6"/></p>
					<div class="fl modeLeft">
						<p><img src="${ctxPath}/images/img/know6.png"/></p>
						<dl class="mode">
							<dt>我们有何不同之处</dt>
							<dd>1.注册公司、记账报税全程透明，移动互联轻便查看。</dd>
							<dd>2.定时给出专业财税建议,企业账目万无一失。</dd>
							<dd>3.系统、会计、会计主管三层审核,确保账目精准高效完成。</dd>
							<dd>4.报税提醒功能，客户确认后才可报税。</dd>
						</dl>
					</div>
					<p class="cb"></p>
				</div>
			</div>
			
			<div class="section <%if(!isEmpty(index) && index == '4'){%> active <%}%> pr">
				<div class="w_1000 sectionDiv">
					<p class="fl"><img src="${ctxPath}/images/img/know8.png" class="know6"/></p>
					<div class="fl modeLeft">
						<p><img src="${ctxPath}/images/img/know7.png"/></p>
						<dl class="mode">
							<dt>给您的服务物超所值 </dt>
							<dd>1.通过${@com.jxhc.utils.SysConfigUtils.config.getWebsiteUrl()}进入服务后台查看进程。</dd>
							<dd>2.通过微信公众号“${@com.jxhc.utils.SysConfigUtils.config.getShortName()}”进入移动财税平台查看进程。</dd>
							<dd>3.通过拨打电话，找到您的专属会计查询。</dd>
						</dl>
					</div>
					<p class="cb"></p>
				</div>
			</div>
			
			<div class="section <%if(!isEmpty(index) && index == '5'){%> active <%}%> pr">
				<div class="w_1000 sectionDiv">
					<p class="fl"><img src="${ctxPath}/images/img/know10.png" class="know6"/></p>
					<div class="fl modeLeft">
						<p><img src="${ctxPath}/images/img/know9.png"/></p>
						<dl class="mode">
							<dt>高效企业级轻应用</dt>
							<dd>1.在线做账，系统核账。</dd>
							<dd>2.移动互联随手查账,信息保密不泄露。</dd>
							<dd>3.三重审核，报税提醒，专人建议。</dd>
							<dd>4.全程透明，绝无虚假，随时查阅。</dd>
						</dl>
					</div>
					<p class="cb"></p>
				</div>
			</div>
			
		</div>	
	</body>
</html>
