<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<%if(!isEmpty(refundSeo)){%>
		<title>${refundSeo.title!}</title>
		<meta name="keywords" content="${refundSeo.keywords!}" />
		<meta name="description" content="${refundSeo.description!}" />
		<%}%>
		<link rel="stylesheet" href="${ctxPath}/css/common/base.css" />
		<link rel="stylesheet" href="${ctxPath}/css/common/common.css" />
		<link rel="stylesheet" href="${ctxPath}/css/refund.css" />
		<%includeFileTemplate("/html/dumCommon.html"){ %><%}%>
	</head>
	<body>
		 <%includeFileTemplate("/html/nav_temp.html"){ %><%}%>
		<div class="w_1160">
			<!--面包线-->
			<div class="breadLines mt20">
				<img src="${ctxPath}/images/img/home.png" class="middle mr10"/><a href="${ctxPath}/">首页</a><span>></span>
				<a class="lineTit">服务承诺</a>
			</div>
			
			<div class="tc promise">
				<h1 class="fz30 oranges">${sysCompanyResult.values.companyAbb} — 为创业者提供“星”级服务！品质承诺</h1>
				<p class="titBorder"></p>
				<p class="fz18">付款后若服务未启动&nbsp;&nbsp;付款当月可无条件退款</p>
			</div>
			
			<div class="refund">
				<table class="refundTab">
					<tr>
						<td><b>支付方式</b></td>
						<td><b>退回方式</b></td>
						<td><b>${sysCompanyResult.values.companyAbb}退款处理周期</b></td>
						<td><b>银行退款处理周期</b></td>
					</tr>
					<tr>
						<td><b>支付平台</b></td>
						<td rowspan="4"><b>原路退回</b></td>
						<td rowspan="4"><span class="color8468">5</span>个工作日内</td>
						<td rowspan="2"><span class="color8468">1-7</span>个工作日内</td>
					</tr>
					<tr>
						<td><b>网上银行</b></td>
					</tr>
					<tr>
						<td><b>银行汇款</b></td>
						<td><span class="color8468">1-5</span>个工作日内</td>
					</tr>
					<tr>
						<td><b>公司转账</b></td>
						<td><span class="color8468">1-3</span>个工作日内</td>
					</tr>
				</table>
				
				<div class="mt20">
					<p class="fl color8468">注：</p>
					<div class="fl ml10">
						<p class="mb5">1.付款后若服务未启动，仅支持在付款当月内申请全额退款，并且服务终止。</p>
						<p class="mb5">2.若付款后服务未启动，并且已经跨月，不能退款，但已付款项可全额用于抵扣${sysCompanyResult.values.companyAbb}官网其他服务费用。</p>
						<p class="mb5">3.以上所出现“月”全部以阳历“月”为标准。</p>
						<p class="mb5">4.若服务过程中出现重大失误，退还剩余服务费，服务终止。</p>
						<p class="mb5">5.通过我司办理领取的证书、文件，我们确保其真实性。如果虚假，我司愿意承担法律责任，并双倍作出赔偿。24小时全国服务热线：${sysCompanyResult.values.phone}</p>
					</div>
					<div class="cb"></div>
				</div>
			</div>
		</div>
		 <%includeFileTemplate("/html/footer_temp.html"){ %><%}%>	
	</body>
</html>
