/* CSS Document */
.pay_Order{ width:880px; margin:0px auto; padding-top:20px; overflow:hidden;}
.pay_Order_right{ margin-left:30px; margin-top:40px;}
.pay_xq{ font-size:22px; color:#48b8e0; line-height:40px;}
.order_number{ margin-top:20px; margin-bottom:20px;}
.pay_price{ color:#969696;}
.pay_price span{ color:#e66861; font-size:18px; margin-left:5px; margin-right:10px;}

.RadioClass{ display:none; vertical-align:middle;}
.RadioLabelClass{
background:url(../../image/clientUI/RUnCheck.png) center left no-repeat;
padding-left: 25px;
margin: 5px 30px 5px 5px;

}
.RadioSelected{
background: url(../../image/clientUI/RCheck.png) center left no-repeat;
}
.invoice{ margin-left:50px;margin-top:3.5px; color:#646464;}
.Online_banking{ background:#fdfdfd; height:60px; line-height:60px; margin-top:10px; margin-bottom:10px; color:#48b8e0; font-size:25px;}
.bank{ vertical-align:middle;}
.mt60{ margin-right:60px;}
.expansion{ color:#48b8e0; font-size:20px; cursor:pointer; text-align:center; margin-top:10px; margin-bottom:10px;}
.bank_ul{ overflow:hidden;}
.bank_ul  li{ float:left; margin-top:10px; margin-bottom:20px;}
.bank_More{ display:none;} 

.pay_Next{ display:block; height:50px; line-height:50px; width:150px; background:#48b8e0; text-align:center; border-radius:5px; color:#fff; margin:0px auto; margin-top:20px; margin-bottom:20px; behavior:url(../css/radius.htc);}

.mr100{ margin-right:120px;}

/*支付成功*/
.payment{ width:670px; margin:0px auto; text-align:center; overflow: hidden;}
.payment_p{ font-size:60px; color:#00a2ed; margin-top:20px; margin-bottom:20px;}
.Prompt_dym{ font-size:30px; color:#326b92; margin-bottom:20px;}
.payment_order{ font-size:25px; color:#3c3c3c; margin-bottom:20px; margin-top:20px;}
.payment_Price{ margin-left:15px; margin-right:30px; color:#e04848;}
.payment_orderSapn{ color:#326b92;}
.payment_shopping dd{ float:left;}
.payment_shopping{ overflow:hidden; margin-left:125px;}
.payment_shopping dd a{ display:block; width:120px; height:40px; line-height:40px; color:#fff; border-radius:5px; position:relative; behavior:url(../css/radius.htc); margin-left:15px; margin-right:15px; margin-bottom:10px;}
.Continue_shopping{ background:#82b336;}
.Check_Order{ background:#48b8e0;}
.Feedback{ background:#4485b2;}
.Other_services{ font-size:30px; border-top:1px dashed #ddd; text-align:center; padding-top:20px; margin-top:20px;}

.Other_services_ul{ width:680px; margin:0px auto; overflow:hidden; margin-top:30px; padding-left:20px; margin-bottom:20px;}
.Other_services_ul li{ float:left;}
.Other_services_ul li a{ display:block; width:180px; text-align:center; margin-left:20px; margin-right:20px;}
.other_name{ font-size:28px; color:#239DDA; margin-top:10px; margin-bottom:10px;}

/*确认支付页面*/
.Checklist{ padding-bottom:10px;text-align:center; overflow:hidden;}
.checklist_logo{ margin-top:20px; font-size: 20px; color: #48b8e0;}
.Checklist_p{ color:#fff; font-size:20px; margin-top:20px; margin-bottom:10px;}
.checklist_logo img{ margin-right: 15px;}
.income_date{ margin:30px;}
.income_Address{ font-size:20px;}
.add_address a{ display:block; color:#48b8e0; font-size:20px; margin-top:5px; cursor:pointer;}

.address_lsit{ margin-top:20px; }
.address_lsit li{ overflow:hidden; height:50px; line-height:50px; margin-bottom:20px;}
.address_detail{ overflow:hidden;}
.address_detail dd{ float:left; margin-right:15px; padding-left: 15px;}
.address_update{ overflow:hidden;}
.address_update dd{ float:left; margin-left:10px; margin-right:10px;padding-left:5px;}
.address_lsit1{ background:#EAF0F4;}
.address_update dd a{ color:#48b8e0;}
.address_name{ background:url(../../image/pay/addre_name.png) no-repeat #fff; width:155px; text-align:center;}
.address_name1{width:170px; text-align:center; border:1px solid #EAF0F4; height:48px;}
.payment_sevser_Detail{ width:280px; color:#969696; margin:0px auto;}
.payment_sevser_Price{ color:#969696; font-size:18px;}
.payment_sevser_Price span{ color:#e0485a; margin-left:10px; margin-right:10px; }
.paymentsucces_order{ width:100%;}
.paymentsuces_address{ color:#969696;}
.paymentsucces_order tr td{ background:#fafafa; text-align:center; padding-top:10px; padding-bottom:10px;}
.paymentsucces_order tr th{ font-weight: normal; padding-bottom: 10px;}
.paymentsuccesBor{ border-bottom:10px solid #fff;}
.payment_img{ margin-top:10px; margin-bottom:10px;}
.payment_Confirm{ width:128px; height:45px; line-height:45px; background:#48b8e0; border-radius:5%; text-align:center; font-size:16px; color:#fff; behavior:url(../css/radius.htc); margin:0px auto; margin-top:20px; margin-bottom:20px; cursor:pointer;}
.SubmitOrder{ background:#fafafa; height:70px; line-height:70px; margin-top:20px;  margin-bottom:20px; }
.sub_order{ width:128px; height:45px; line-height:45px; background:#48b8e0; color:#fff; border-radius:5px;behavior:url(../css/radius.htc); position:relative; text-align:center; font-size:16px; cursor: pointer; margin-top:13px; margin-left:15px; margin-right:15px;}
.lump_sum{ font-size:18px;}
.lump_sum span{ color:#e0485a; margin-left:10px;}

.paymentLxr{ cursor:pointer; border: 1px solid #ddd; background:#fff;  text-align: center; width: 153px; height: 48px; line-height: 48px;}
.address_lsit li:hover{ background: #48b8e0;}
.address_lsit li:hover .address_update a{ color: #fff;}
.address_lsit li:hover .colorBase{color: #fff;}

.payTop,.payFoot{ cursor: pointer; font-size: 16px;}
.payTop img,.payFoot img{ margin-left: 5px;}
.payTop{ display: none;}
/* .payHide{ display: none;} */
/* 修改地址 */
.theme-popover-mask { z-index:999;
  background: none repeat scroll 0 0 #000;
  height: 100%;
  left: 0;
  filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
}
.addressEditor{position:fixed; top:55%; left:40%; background:#fff; width:570px; height:400px; margin-top:-235px; margin-left:-130px; z-index:9999; border-radius:15px; border:1px solid #5a5a5a; box-shadow: 0px  0px 5px 2px #5a5a5a;}
.address_close{ border:2px solid #676767; float:right; border-radius:50%; margin-top:3px; margin-right:5px; cursor:pointer; behavior:url(../css/clientUI/radius.htc); position:relative;}
.change_pasw{ margin:10px; margin-top:0px;}
.passwod_p{ text-align:center; border-bottom:1px dashed #ddd; padding-bottom:20px; font-size:25px; color:#54BCE1;}
.changePassd_tab{ width:100%; margin-left:30px;}
.change_text{ width:340px; height:40px; line-height:40px; padding-left:5px;}
.textBorde{ height:40px; line-height:40px;}
.changePassd_tab tr td p{ margin-bottom:20px;}
.submit_address{ width:100px; height:40px; line-height:35px; background:#54BCE1; border:1px solid #54BCE1; color:#fff; border-radius:5px; font-size:18px; position:relative;} 
/* .address{ display:none;} */
.textBorde{ position: relative;}
.textBorde label.error {
    position: absolute;
    left:0px;
    top: 33px;
    z-index: 0;
 }

/* 优惠券 */
.couponh4{ font-size: 20px; font-weight: normal;margin-top: 10px; margin-bottom: 10px; padding-left:30px;}
.couponTab{ width: 100%;}
.couponTab tr td{ padding: 12px 10px 12px 10px; background: #fafafa; border-bottom: 10px solid #fff;  text-align: center;}
.vouchers2{ width:180px; height:50px; margin:0px auto; background:url(../../image/pay/djz1_dd.png) no-repeat; text-align: center; line-height: 50px; font-size: 18px; color:#fff; }
/* .couponTab tr .vouchersTd{ width:200px; padding-left: 90px;} */
.vouchers1{ width:180px; height:50px; margin:0px auto; background:url(../../image/pay/djz_dd.png) no-repeat; text-align: center; line-height: 50px; font-size: 18px; color:#48B8E0; }
.vouchers_p1{ color:  #000; font-size: 16px;}
.vouchers_p2{ color: #000; font-size: 16px;}
.vouchers3{ width:180px; height:50px; background:url(../../image/pay/djz_bky.png) no-repeat; text-align: center; line-height: 50px; font-size: 18px; color:#646464; }
/* .vouchersDiv{ margin-left: 50px;} */
.money{ margin-bottom: 5px; font-size: 16px;}


