.w_1200{width:1200px; margin: 0px auto;}
.labels{padding:0 50px;}
.labels li{margin:15px 10px;float:left;width:198px;height:40px;border:1px solid #c8c8c8;line-height:40px;text-align:center;
cursor:pointer; overflow:hidden;}
.labels li a{font-size: 14px;}
.labels li:hover{box-shadow:0px 0px 20px 2px rgba(0,0,0,0.2);}
.labels li:hover a{color:#00a5a8;}
.w_716{width:716px;margin:0 auto;}
.labelTilte{height:84px;line-height:84px;font-size: 14px;}
.atriclesTitle{line-height:45px;}
.description{font-size: 14px;}
.description span{color:#00a5a8;}
.articles a{color:#6fba2c;font-size: 14px;}