.subject-nav,.subject-nav .searchTop input{background-color:#3ebcca;}
.subject-nav .searchTop{margin-left:300px;padding-top:20px;}
.subject-nav .searchTop .left_bg {background-position:-9px -695px !important;}
.subject-nav .searchTop .right_bg  {background-position:-65px -695px !important;width:40px !important;}
.subject-nav .searchTop input{border-top:1px solid #fff !important;border-bottom:1px solid #fff !important;}
.subject-nav .subject-head ul{padding:21px 0px 4px 0;}
.subject-nav .subject-head li{padding-top:5px;width:76px;text-align: center;margin:0 35px;position:relative;}
.subject-nav .subject-head a{display:inline-block;width:100px;}
.subject-nav .subject-head span.upar{display:inline-block;position:absolute;width:14px;height:7px;background-position:-119px -695px;bottom:2px;display:none;left:42px;}
.subject-nav .subject-head a:hover,.subject-nav .subject-head a.focus{border-bottom:2px solid #fff;padding-bottom:15px;}
.subject-nav .subject-head a:hover span.upar,.subject-nav .subject-head a.focus span.upar{display:inline-block;}
.subject-nav .subject-head .subject-nav-title{padding-top:0;padding-left:20px;}
.subject-biaoqian{padding:20px 0 5px 0;border-bottom:1px solid #3ebcca;}
.subject-biaoqian li{width:100px;float:left;text-align: center; margin-bottom: 15px;}
.subject-biaoqian li a:hover{color:#3ebcca;}
.subject-content-top{margin:31px 0 5px 0;padding-left:15px;}
.subject-content ul.artical{padding:0 ;width:960px;}
.subject-content ul.artical li{float:left;width:298px;height:369px;border:1px solid #c8c8c8;margin:30px 20px 0 0;text-align:center;overflow:hidden;text-overflow:ellipsis;}
.subject-content ul.artical li:hover{box-shadow: 0px 0px 5px 2px rgba(0,0,0,.2);}
.subject-content ul.artical li:hover .subject-content-cts{color:#3c3c3c;}
.subject-content ul.artical li img{width:260px;height:150px;}
.subject-content ul.artical li.noRes{border:none;width:100%;font-size:16px;}
.subject-content-title{margin-top:14px;padding:0 22px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.subject-content-cts{margin:10px 0;}
.subject-content{ padding-bottom: 60px;}
/* .subject-content-ctsP{ border: 1px solid #000; width: 270px; height: 100px; padding: 5px 10px 5px 10px; text-align: left; margin: 0px auto;  white-space: nowrap;
  overflow: hidden;text-overflow: ellipsis;} */
.pd22{padding:0 22px;text-align:left;}
.subject-content-company{width:220px;padding-top:30px;}
.subject-content-company .cpsearch{display:inline-block;width:218px;border:1px solid #c8c8c8;text-align:center;height:48px;border-radius:25px;behavior:url(../../../css/radius.htc);line-height:48px;}
.subject-content-company ul{padding-bottom:30px;border-bottom:1px solid #c8c8c8;}
.subject-content-company li{list-style-type:square;line-height:30px;list-style-position:inside;}
.subject-content-company li a{display:block;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.subject-content-company li a:hover{color:#6fba2c;}
.subject-content-company .tis{margin:60px 0 20px 20px;}
.show-more{margin:60px 0;display:inline-block;width:248px;height:48px;line-height:48px;border:1px solid #c8c8c8;text-align:center;border-radius:25px;behavior:url(../../../css/radius.htc);}
.show-more a{color:#969696;}
.show-more:hover{background-color:#6fba2c;}
.show-more:hover a{color:#fff;}
.mag60{margin:60px 0;}
.subject-detail .contant{padding:0 90px;}
.subject-detail .mag60 p.gray{margin-top:20px;}
.subject-detail p.gray span{padding:0 15px;}
.subject-detail .links{margin-top:60px;}
.subject-detail .links p{margin-bottom:15px;}
.subject-detail .links p.pr{margin-left:35px;}
.subject-detail .links p.pr a{padding-right:30px; }
.subject-detail .links p a:hover{color:#6fba2c;}
.subject-detail .tits{margin-bottom:20px;}
.searchBtn{cursor:pointer;}
/* .clearfix{ margin-bottom: 60px;} */
.labels{display:inline-block;width:20px;height:20px;background-position:-48px -111px;position:absolute;left:-30px;}
.gray,.gray *{color:#969696 !important;}
@-moz-document url-prefix(){.subject-content-company li{list-style-position:outside;}}
.clearfix .subjectMore a{ color: #3ebcca; }
.clearfix .subjectMore a:hover{text-decoration: underline;}

.fl{ float: left;}
.fr{ float: right;}
.cb{ clear: both;}
.subjectMorem li{ float: left; width: 485px;margin:10px 20px 10px 20px;}
.subjectMorem{overflow: hidden; width: 1060px; margin: 20px auto;}
.subjectMorem li .subject-content-titlea{ width: 285px; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; margin-top: 0px;}
.subjectMorem li .subject-content-titlea i{ display: inline-block; width: 3px; height: 3px; background: #969696; vertical-align: middle; margin-right: 5px;}
.dateTime{color: #646464;}
.subjectMorem li .subject-content-titlea:hover{ text-decoration: underline;}



