.problemLeft{ width: 800px;}
.problemSort{ border: 1px solid #CCCCCC;}
.allProblem{ height: 35px; line-height: 35px; padding-left: 10px; background: #f7fbfe; border-bottom: 1px solid #CCCCCC;}
.allProblemList{line-height: 40px; padding-left: 10px;}
.allProblemList a{ margin-right: 20px; display: inline-block;}
.allProblemLHover{ color: #12C3F5;}

.solve{ margin-top: 10px; background: #f7fbfe; border: 1px solid #CCCCCC; overflow: hidden;}
.solve li{ float: left; width: 75px; margin-left: 10px; height: 30px; line-height: 30px; margin-top: 10px; color: #505050; cursor: pointer; text-align: center;}
.solve .solveHover{ border: 1px solid #CCCCCC; border-bottom: 0px; background: #FFFFFF; font-weight: bold; }

.solvedTab{width: 100%;}
.solvedTab tr th{ color: #8f8f8f; font-weight: normal; height: 30px; line-height: 30px;border-bottom: 1px dashed #CCCCCC;}
.solvedTab tr td{ font-size: 12px; height: 35px; line-height: 35px; border-bottom: 1px dashed #CCCCCC;}
.solvedBack:hover{ background: #f7fbfe;}

/*分页*/
.paging a{ display: inline-block; height: 22px; line-height: 22px; border: 1px solid #CCCCCC; padding-left: 8px; padding-right: 8px; color: #505050;
margin-left: 3px; margin-right: 3px;}
.paging span{ display: inline-block;margin-left: 5px; margin-right: 5px;}
.paging{ margin-top: 20px; margin-bottom: 10px; text-align: center;}
.paging a:hover{ border: 1px solid #8F8F8F;}
.paging .hoverPage{border: 0; font-weight: bold;}
.paging .hoverPage:hover{ border: 0;}

/**/
.problemRight{ width: 310px; margin-left: 40px;}
.quiz{ padding: 15px 10px 15px 10px; border: 1px solid #CCCCCC;}
.portrait1{ width: 67px; height: 67px;}
.quizDiv{ background: #f7fbfe; border: 1px solid #CCCCCC; margin-top: 20px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px;}
.quizDiv a{ display: inline-block; width: 49%; text-align: center;  cursor: pointer;}

/*搜索答案*/
.answerLeft{ width: 685px;}
.answerDetail{ font-size: 12px; line-height: 20px; color: #505050;}
.answerTit{ font-weight: normal; margin-bottom: 5px;}
.answerTit span{ color: #FF8261;}
.answetrTime{ font-size: 12px;color: #8F8F8F;}
.answetrTime span{ color: #62af5e;}
.answerLeftUl li{ margin-bottom: 20px;}

.answerRight{ width: 175px;}
.answerRight ul li a{ display: block;}
.answerRight ul li a span{ display: inline-block; width: 5px; height: 5px; background: #FF8261; vertical-align: middle; margin-right: 5px; border-radius: 50%;}
.answerRight ul li{margin-top: 10px; margin-bottom: 10px;;}

/*待，已解决列表*/
.stay .solvedTab tr th,.stay .solvedTab tr td{ border-bottom: 0;}
.stay .solvedTab tr td{ line-height: 23px; padding-bottom: 10px; padding-top: 10px;}
.stay .solvedTab tr td h4{ font-size: 14px; font-weight: normal; margin-bottom: 5px;}
.stay .solvedTab .solvedBack{ background: #fdfdfd;}
.stay .solvedTab .solvedBack td{ border-bottom: 10px solid #FFFFFF;}
.stayImg{ width: 31px; height: 31px; position: absolute; top: -1px; left: -3px;}
.stayDiv{ padding-left: 30px;}
.marginDiv{ margin-bottom: 10px;}
.mwdImg5{ width: 310px; height: 120px; margin-top: 10px;}

/*已解决*/
.mwdImg6{ width: 100%; height: 120px; margin-bottom: 10px;}
.solvedLeft{ width: 825px; margin-right: 20px; }
.solvedRight{width: 310px;}
.solvedLeftDiv{ border: 1px solid #52cbf8; background: #fdfdfd;}
.solvedLeftDiv1{ margin: 10px 20px 10px 30px;}
.mwdImg7{ position: absolute; top: -3px; left: -3px;}
.portrait1{ width: 50px; height: 50px; border-radius: 50%;}
.solvedTit{ font-weight: normal;}
.solvedContent{ margin-left: 20px;}
.source{font-size: 12px; color: #8F8F8F;}
.source span{ margin-right: 10px;}
.solvedContent{ width: 700px;}
.relatedAnswer{ border: 1px solid #FF8468; background: #fdfdfd;}

.solvedRightDiv{ border: 1px solid #CCCCCC; padding: 10px;}
.sortNavH4{ font-size: 16px;}
.line1{ border-top: 1px solid #CCCCCC; margin-top: 10px; vertical-align: middle; height: 10px;}
.line1 span{ display: inline-block; border-top: 2px solid #12c2f4; width: 100px; vertical-align: top; margin-top: -1px;}
.hotProblem li a{ font-size: 12px; color: #505050;}
.hotProblem li a:hover{ color: #8F8F8F;}
.hotProblem li a span{ vertical-align: middle; margin-right: 10px; display: inline-block; width: 18px; height: 18px; text-align: center; line-height: 18px; color: #FFFFFF; background: #FF8261;}
.hotProblem li{ line-height: 25px;}
.hotProblem li p{vertical-align: middle; display: inline-block; width: 250px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
/*直接提问*/
.doubtDiv{ width: 630px; margin: 0px auto; padding-top: 30px; padding-bottom: 10px;}
.descriptionDoubt span{ display: inline-block; width: 20px; height: 20px; background: #12C2F4; text-align: center; line-height: 20px; color: #FFFFFF; 
font-size: 16px; border-radius: 50%;}
.descriptionDoubt{ font-size: 16px; color: #909090;}
.expert{ margin-top: 3px;}
.expert span font{ color: #12C2F4;}
.doubtTxt{ border: 1px solid #CCCCCC; height: 40px; line-height: 40px; padding-left: 5px; width: 625px; background:#FDFDFD;}
.doubBox{ margin-top: 20px; margin-bottom: 20px;}
.doubBox span{ position: absolute; right: 10px; top: 21px;}
.supplement{ color: #909090;}
.textarea{width: 615px; height: 80px; padding: 10px; border: 1px solid #CCCCCC; background: #FDFDFD; line-height: 22px; color: #505050;
font-size: 13px;}
.textareaQuestion span{position: absolute; right: 0px; bottom: 2px;}
.subProblem{width: 90px; height: 40px; line-height: 40px; border: 1px solid #12C2F4; background: #12C2F4; text-align: center; color: #FFFFFF; outline: none;
font-size: 14px;cursor: pointer; margin-right: -9px; margin-top: 10px;}
.incognito{ margin-top: 25px;}
/* 提示 */
.promptDalog{position: fixed; top:0px;left:0px; right:0px; height: 100%; width:100%; background: #000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}
.promptQuize{ width: 260px; height: 110px; border: 1px solid #CCCCCC; background: #FFFFFF; position: absolute; top:160px; left: 50%; margin-left: -130px;}
.promptQuizefix{ display: inline-block; text-align: center; height: 25px;line-height: 25px; width: 70px; margin: 0px auto; background: #FF8468; color: #FFFFFF; margin-top: 15px;}
.promptQuize p{ margin-top: 30px; color: #505050;}
/*切换1*/
#practiceDiv{ border-top: 0px; border-right: 0;}
.menu{ height:35px;background: #f7fbfe; border: 1px solid #CCCCCC; overflow: hidden; }
.menu li{float:left;width:70px;text-align:center;line-height:30px;height:30px;cursor:pointer; margin-top: 5px; margin-left: 10px;}
.menu li.off{background:#fff;color:#000;font-weight:bold;border: 1px solid #CCCCCC;  border-bottom:none;}
.menudiv{ overflow:hidden; margin-left:10px;  margin-bottom: 10px; margin-top: 10px;}

/* 提示 */
.questionPrompt{ background:#fdfdfd; width: 200px; height: 50px; line-height:50px; position: absolute; right: -240px; top:-5px;}
.angle{ position: absolute; left: -9px; top:16px;}
.changeSort{ color: #12c2f4; margin-left: 10px; cursor: pointer;}
.problemAssort{ margin-top: 20px;}
.problemAssortUl li{ width: 80px; height: 28px; line-height: 28px; text-align: center; border-bottom: 1px solid #ccc;
cursor: pointer; font-size: 12px;}
.problemAssortUl{ border: 1px solid #ccc; width: 80px; border-bottom: 0; position: absolute; left:121px; z-index: 999; 
background: #fff; margin-top: 5px;}
.problemAssortUl li:hover{background: #e9e9e9;}
.answerList{ margin-top: 20px;}
.answerListUl li h4{ font-weight: normal; font-size: 14px; margin-top: 15px; margin-bottom: 5px;}
.answerListUl li a{ display: block;}
.answerListUl li h4 span{ color:#ff8468;}
.answerListUl li p{ line-height: 22px;}
.answerListUl li{ border-bottom:1px dashed #ccc;padding-bottom: 10px;}

