<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>支付成功</title>
<link rel="stylesheet" type="text/css" href="${ctxPath}/css/pay.css"/>
<link rel="stylesheet" href="${ctxPath}/css/common/base.css" />
<link rel="stylesheet" href="${ctxPath}/css/common/common.css" />
<link type="image/x-icon" href="${ctxPath}/images/favicon.ico" rel="shortcut icon" />
<script language=javascript src="${ctxPath}/js/plugin/jquery-1.9.1.js"></script>
<script language=javascript src="${ctxPath}/js/common/common.js"></script>
<script type="text/javascript" src="${ctxPath}/js/datePicker/WdatePicker.js"></script>
<input type="hidden" value="${ctxPath}" id="home_app_Name"/>
<script language="javascript" type="text/javascript"> 
  var i = 5; 
var intervalid; 
intervalid = setInterval("mesfun()", 1000); 
function mesfun() { 
	if (i == 0) { 
		clearInterval(intervalid); 
		$("#paymentCodeForm").submit();
	} 
	document.getElementById("mes").innerHTML = i; 
	i--; 
}   
</script> 

</head>

<body>
<div class="w_1160 paySuccess">
	<form method="post" id="paymentCodeForm" action="${ctxPath}/ordPaymentOrder/index.html">
    </form>
	<p class="success tc"><img src="${ctxPath}/images/img/success.png" class="middle mr10"/>恭喜您，支付成功</p>
	<table class="successTab">
		<!-- <tr>
			<td align="right"><p>您的支付方式：</p></td>
			<td><p class="successMl">支付宝</p></td>
		</tr> -->
		<tr>
			<td align="right"><p>您的订单号：</p></td>
			<td><p class="successMl orderNub">${values.paymentCode}</p></td>
		</tr>
		<tr>
			<td align="right"><p>您的账号：</p></td>
			<td><p class="successMl">${session.user.customerMobile}</p></td>
		</tr>
		<tr>
			<td align="right"><p>您的支付金额：</p></td>
			<td><p class="successMl payMoney">${values.paymentAmount}</p></td>
		</tr>
		<tr>
			<td align="right"><p>如果您还有未支付的交易：</p></td>
			<td><p class="successMl payment">点此<a href="${ctxPath}/ordPaymentOrder/index.html?leftNav=orderCenter">查看付款</a></p></td>
		</tr>
	</table>
	<p class="jumpInfo tc"><span id="mes">5</span>秒后页面将跳转到完善信息页，请您尽快完善信息开始服务。</p>
	
</div>
</body>
</html>
