.aboutBanner{width:100%; min-width:1160px;}
.aboutTit{margin-top:60px; font-size:30px; color:#ff8f3d; font-weight: normal; text-align: center;}
.englishTit{font-size:18px; color:#8f8f8f; text-align:center; margin-top: 12px;}
.profileDetail{margin-top:60px;}
.profileDetail p{ font-size:14px; color:#505050; line-height: 25px; text-indent: 25px; letter-spacing: 1px; margin-bottom: 30px;}
.profileDetail div{font-size:14px; color:#505050; margin-bottom: 5px;}
.aboutImg li{ float:left;}
.aboutImg li img{width:360px; height: 210px;}
.aboutImg{overflow: hidden; margin-top:60px; padding-bottom: 50px; border-bottom: 1px solid #cccccc;}
.aboutImg2{margin-left:40px; margin-right:40px;}
.aboutUl{ overflow:hidden; width:625px; margin:0px auto;}
.aboutUl li{ float:left; width: 175px; text-align: center;}
.aboutUl li h4{font-weight: normal; font-size: 16px; color:505050; margin-top: 20px;}
.aboutImg5{ margin-left: 50px; margin-right: 50px;}
.companyCulture{ margin-top: 60px; padding-bottom: 60px; border-bottom: 1px solid #cccccc;}
.mb60{margin-bottom: 60px;}
.teamUl li{ float:left;}
.teamUl{overflow: hidden; border-bottom: 1px solid #cccccc; padding-bottom: 60px;}
.ml4{margin-left: 4px;}
.footprint{ margin-top:55px; padding-bottom: 55px; border-bottom: 1px solid #cccccc;}
.footprintUl li{ margin-bottom: 15px; display:inline-block; font-size: 14px;vertical-align: bottom;}
.footprintUl1 li{ margin-top: 15px; display:inline-block; font-size: 14px;vertical-align: top;}
.time1{ font-weight:bold; color:#1c9494;margin-left: 158px;}
.description1{color:#7cb554; width:223px;margin-left: 46px;}
.time2{ font-weight:bold; color:#2b6f7d;margin-left: 31px;}
.description2{color:#ecad2e; width:150px;margin-left: 82px;}
.time3{ font-weight:bold; color:#f95647;margin-left: 70px;}
.description3{ color:#1c9494;width:180px;margin-left: 111px;}
.time4{ font-weight:bold; color:#7cb554;margin-left: 55px;}
.description4{ color:#2b6f7d;margin-left: 60px;}
.time5{ font-weight:bold; color:#ecad2e;margin-left: 51px;}
.description5{ color:#f95647; width:138px; text-align: center;margin-left: 77px;}
.contact1{margin-top: 55px; margin-bottom: 55px;}
.companyName{font-size:20px; color:505050; margin-bottom: 34px;}
.companyInfo dd{ font-size: 14px; margin-bottom: 20px; color: #505050;}
.companyInfo dd .titName{font-weight: bold; margin-bottom: 8px;}

.myclass{ height:50px; width:180px; font-size:12px; line-height:22px;}
.myspan{color:#ff8468;}
#allmap {width:100%; height:470px;overflow: hidden;margin:0;}













