.w_1000{width: 1000px; margin: 0px auto;}
.know2 img{ position: absolute; bottom: 0px; left: 50%; margin-left: -630px;}
.material{width:280px; margin-top: 45px; text-align: center; color: #fff;}
.material .materialDl{font-size: 18px; margin-top: 10px; margin-bottom: 30px;}
.material dt{font-size: 26px; margin-bottom: 10px;}
.material dd{ font-size: 15px; margin-top: 10px; margin-bottom: 10px;}
.material{margin-right:40px;}
.sectionDiv{ height:320px; position: absolute; top:45%; left: 50%;margin-top: -180px; margin-left: -500px;}
.know3 img{ margin-left: -682px;}
.know4{height: 120px;}

.mode dt{font-size: 26px; margin-top:30px; margin-bottom: 10px;}
.mode dd{ font-size: 15px; margin-top: 10px; margin-bottom: 10px;}
.mode{ color: #fff;}
.modeLeft{ margin-left:60px;}
.know6{ margin-top: 20px;}







