/* 支付成功页面 */
.success{ font-weight: bold; font-size: 30px; color:#ff8468; margin-bottom: 30px;}
.successTab tr td{font-size: 14px; color:#505050; padding-bottom: 28px;}
.successMl{margin-left: 60px;}
.successTab{ margin-left: 355px; margin-bottom: 30px;}
.orderNub{color:#12c2f4; cursor: pointer;}
.orderNub:hover{font-weight: bold;}
.payMoney{font-size: 16px; color: #ff8468; font-weight: bold;}
.payment a{color: #12c2f4; text-decoration: underline; font-weight: bold;}
#mes{color:#ff8468;}
.jumpInfo{font-size: 16px; color: #505050; margin-bottom: 60px;}
.recommend{border:1px solid #cccccc; background: #fff;}
.recommendTit{ background: #fafafa; height: 40px;}
.recommendTit h4{ width:100px; background: #fff; height: 40px; line-height:40px;text-align: center; font-size: 14px; color: #ff8468;
border-top: 2px solid #12c2f4;}
.recommendProduct{ margin-left: 80px; margin-right: 60px;}
.plusSpan{display: inline-block; width:19px; height: 18px; background: url(../../v2/images/dum_icon.png) no-repeat -116px -275px;
margin-left:10px; margin-right:10px;}
.hot{ display: inline-block; width:32px; height: 16px; line-height: 16px; background: #ff0000; text-align: center;border-radius:3px;
color:#fffc01; font-weight: normal; margin-left: 5px;}
.recommendProduct table{ width: 100%;}
.recommendProduct table tr td{ text-align: center; padding-top: 15px; padding-bottom: 10px; width:18%;}
.recommendProduct table tr td h4{ margin-top: 10px; margin-bottom:5px; color:#505050; }
.joinShoppingCat{ height: 22px; width:86px; line-height: 22px; background: #fafafa; border:1px solid #ccc; border-radius:5px; margin: 0px auto;
text-align: center; color:#505050; cursor: pointer; margin-top: 10px; margin-bottom: 10px;}

/* 微信支付 */
.payWx{ background: #f8f8f8; padding-top:20px; padding-bottom: 50px;}
.payWx1{border: 1px solid #ddd; padding:10px; background: #fff;}
.payWx1 h3{
	border-bottom: 1px solid #ddd;
    color: #666;
    font-weight: normal;
    padding-bottom: 10px;}
.PayWxUl li{ margin-top: 10px; margin-bottom: 10px;}
.PayWxUl{ border-bottom: 1px solid #ddd; }
.PayEwm{ border: 1px solid #BFE2F3;  padding: 10px; text-align: center; margin-bottom: 10px;}
.phone_bg{ margin-left: 80px;}
.PayEwm1{width: 800px; margin: 0px auto;}
.manner1{ b background-color: #e0f4ff;
    background-image: -moz-linear-gradient(center top , #e0f4ff, #d0eeff);
    background-repeat: repeat-x;
    border: 1px solid #d0eeff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #f4fbff inset;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    transition: all 0.1s ease 0s; margin: 10px auto;
  }
.manner1 a i{color: #2fa1dd;
    font-family: "宋体";
    font-size: 22px;
    font-style: normal;
    text-align: center;
    width: 20px; margin-right: 10px; margin-top: 5px;}


