.promise{ background: #fafafa; padding-top: 20px; padding-bottom: 20px;}
.titBorder{width: 150px; border-top: 2px solid #52cbf8; margin: 0px auto; margin-top: 10px; margin-bottom: 10px;}
.refund{ margin-left: 100px; margin-right: 100px;margin-top: 30px; margin-bottom: 50px;}

.refundTab{ width: 100%; border: 1px solid #CCCCCC; border-collapse: collapse;}
.refundTab tr td{ text-align: center; border: 1px solid #CCCCCC; padding-top: 20px; padding-bottom: 20px;}
















