.register_userDiv{background: url(../images/newImg/loginBack.png) no-repeat; width:100%; height: 708px; background-size:100% 100%; overflow: hidden; }
img{vertical-align:middle;margin-left:10px;}
.register_user span {display:inline-block;vertical-align:top;line-height:30px;}
/*头部*/
.loinTop{ padding-top: 20px; padding-bottom: 20px;}
.leftLine{ border-left: 3px solid #ff8f3d; height: 80px; margin-left: 50px; margin-right: 50px;}
.loginWriting{ font-size: 34px; font-weight: bold; color: #787878; line-height: 80px;}
.loinTop div  h1 img{display:block; height:100px; margin-top: -15px;}
/*注册*/
.register_user{background-color:#fff; width:785px; margin:0px auto; margin-top: 120px;}
.register_user .icon{height:25px;line-height:25px;width:25px;vertical-align:middle;background-position:-239px -55px;}
.register_user .tips{color:#ff854e;display:none; position: absolute; left: 102px; bottom: 0px;}
.register_user li{padding-bottom:30px; position: relative;}
.msg,.register_user ul{}
.msg .fl.fz20{font-weight:bold;}/* width:365px; */
.register_user span.itme_name {text-align:right;margin-right:20px;height:40px;line-height:40px;}
input[type="text"],input[type="password"]{border:1px solid #ccc;background-color:#fff;height:38px;line-height:38px;padding-left:12px;width:286px;vertical-align:top;}
select,option{height:38px;line-height:38px;width:100px;}
#province,#city{width:88px;position:absolute;padding-left:12px;background-color:#fcfcfc;height:38px;line-height:38px;border:1px solid #ccc;}
#province{left:0;}
#city{left:104px;top:0;}
input.yzm{width:98px;}
.contents{width:300px;}
.contents.pword img{visibility:hidden;}
.contents .btn_vcode{width:100px;height:40px;margin-left:10px;line-height:40px;background-color:#ff8f3d;color:#fff;display:inline-block;text-align:center;}
.submit1{font-size:14px;height:40px;line-height:40px;width:300px;background-color:#107dc2;color:#fff;border:none;}
.submit{font-size:14px;height:40px;line-height:40px;width:300px;background-color:#ccc;color:#fff;border:none;}
input[type="checkbox"]{vertical-align:middle;}
input[type="text"]:focus,input[type="password"]:focus{background-color:#fff;}
.level1,.level2,.level3{display:inline-block;height:3px;width:90px;border:1px solid #ccc;}
.level1{background-color:#fcfcfc;}
.level2{background-color:#ffd8c6;margin-left:12px;}
.level3{background-color:#ff854e;margin-left:12px;}
.level1.none,.level2.none,.level3.none{visibility:hidden;}
.p_absolute{ display:block; position:absolute;bottom:-24px;}
.register_user .p_absolute{ display:block;}

.forgetPwdBotton{border-bottom: 1px solid #ddd;}
.LeftForgetPwd{width:540px; margin-left: 20px; padding-top: 10px;}
.RightForgetPwdDiv{width:210px; height: 426px; background: #f4f4f4;}
.RightForgetPwd p{font-size: 16px; margin-bottom: 10px;}
.RightForgetPwd div a{display: block; width:100px; height: 30px; line-height: 30px; text-align: center; margin: 0px auto; border-radius:5px; background: #107dc2;
color:#fff; font-size: 14px;}
.RightForgetPwd{text-align: center; margin-top: 168px; }
/*底部*/
.loginFoot a ,.loginFoot span{ margin-left: 3px; margin-right: 3px; color: #505050;}
.loginFoot .tel{ margin-left: 50px;}
.loginBottom{ text-align: center; padding-top: 50px; padding-bottom: 50px;}